h3
  | (data-equal="
  span(style="font-weight: bold; color: red") no4parent
  | "): Just Set Same Height for data-child
.row
  .same-height(data-equal="no4parent")
    section
      .inner(data-parent="no")
        | Background color of parent
        .content(data-child="content")
          p.red (data-child="content")
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .desc(data-child="hehe")
          p.red (data-child="hehe")
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non eros vel elit feugiat dignissim ac id ante.
        .caption(data-child="haha")
          p.red (data-child="haha")
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non eros vel elit feugiat dignissim ac id ante. Nam condimentum lacinia mattis. Duis tincidunt at erat eget tincidunt.
    section
      .inner(data-parent="no")
        | Background color of parent
        .content(data-child="content")
          p.red (data-child="content")
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non eros vel elit feugiat dignissim ac id ante. Nam condimentum lacinia mattis.
        .desc(data-child="hehe")
          p.red (data-child="hehe")
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        +img('logo-caltex.png')

h3 (data-equal=""): Set Same Height for both: and data-parent and data-child
.row
  .same-height(data-equal="")
    section
      .inner(data-parent="")
        .content(data-child="content")
          p.red (data-child="content")
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non eros vel elit feugiat dignissim ac id ante. Nam condimentum lacinia mattis. Duis tincidunt at erat eget tincidunt.
    section
      .inner(data-parent="")
        .content(data-child="content")
          p.red (data-child="content")
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non eros vel elit feugiat dignissim ac id ante. Nam condimentum lacinia mattis. Duis tincidunt at erat eget tincidunt. Aliquam lobortis, elit a auctor bibendum, nulla tellus efficitur nibh, vel porttitor nulla erat vel neque. Donec in commodo nunc.
        .desc(data-child="hehe")
          p.red (data-child="hehe")
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non eros vel elit feugiat dignissim ac id ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non eros vel elit feugiat dignissim ac id ante.
