h3 data-slider='{"type": "single"}'
.slider
  .slick(data-slider='{"type": "single"}')
    div.item: +img-upload('alt', 'slide1.jpg').img-view
    div.item: +img-upload('alt', 'slide2.jpg').img-view
    div.item: +img-upload('alt', 'slide3.jpg').img-view
    div.item: +img-upload('alt', 'slide4.jpg').img-view
    div.item: +img-upload('alt', 'slide5.jpg').img-view
    div.item: +img-upload('alt', 'slide6.jpg').img-view
    div.item: +img-upload('alt', 'slide7.jpg').img-view
    div.item: +img-upload('alt', 'slide8.jpg').img-view
    div.item: +img-upload('alt', 'slide9.jpg').img-view
    div.item: +img-upload('alt', 'slide10.jpg').img-view
    div.item: +img-upload('alt', 'slide11.jpg').img-view
    div.item: +img-upload('alt', 'slide12.jpg').img-view
  .load

h3 data-slider='{"type": "carousel"}'
.slider
  .slick(data-slider='{"type": "carousel"}')
    div.item: +img-upload('alt', 'slide1.jpg').img-view
    div.item: +img-upload('alt', 'slide2.jpg').img-view
    div.item: +img-upload('alt', 'slide3.jpg').img-view
    div.item: +img-upload('alt', 'slide4.jpg').img-view
    div.item: +img-upload('alt', 'slide5.jpg').img-view
    div.item: +img-upload('alt', 'slide6.jpg').img-view
    div.item: +img-upload('alt', 'slide7.jpg').img-view
    div.item: +img-upload('alt', 'slide8.jpg').img-view
    div.item: +img-upload('alt', 'slide9.jpg').img-view
    div.item: +img-upload('alt', 'slide10.jpg').img-view
    div.item: +img-upload('alt', 'slide11.jpg').img-view
    div.item: +img-upload('alt', 'slide12.jpg').img-view
    div.item: +img-upload('alt', 'slide13.jpg').img-view
  .load

h3 data-slider='{"type": "variableWidth"}'
.slider
  .slick(data-slider='{"type": "variableWidth"}')
    div.item: +img-upload('alt', 'slide1.jpg').img-view
    div.item: +img-upload('alt', 'slide2.jpg').img-view
    div.item: +img-upload('alt', 'slide3.jpg').img-view
    div.item: +img-upload('alt', 'slide4.jpg').img-view
    div.item: +img-upload('alt', 'slide5.jpg').img-view
    div.item: +img-upload('alt', 'slide6.jpg').img-view
    div.item: +img-upload('alt', 'slide7.jpg').img-view
    div.item: +img-upload('alt', 'slide8.jpg').img-view
    div.item: +img-upload('alt', 'slide9.jpg').img-view
    div.item: +img-upload('alt', 'slide10.jpg').img-view
    div.item: +img-upload('alt', 'slide11.jpg').img-view
    div.item: +img-upload('alt', 'slide12.jpg').img-view
    div.item: +img-upload('alt', 'slide13.jpg').img-view
  .load

h3 data-slider='{"type": "centermode"}'
.slider
  .slick(data-slider='{"type": "centermode"}')
    div.item: +img-upload('alt', 'slide1.jpg').img-view
    div.item: +img-upload('alt', 'slide2.jpg').img-view
    div.item: +img-upload('alt', 'slide3.jpg').img-view
    div.item: +img-upload('alt', 'slide4.jpg').img-view
    div.item: +img-upload('alt', 'slide5.jpg').img-view
    div.item: +img-upload('alt', 'slide6.jpg').img-view
    div.item: +img-upload('alt', 'slide7.jpg').img-view
    div.item: +img-upload('alt', 'slide8.jpg').img-view
    div.item: +img-upload('alt', 'slide9.jpg').img-view
    div.item: +img-upload('alt', 'slide10.jpg').img-view
    div.item: +img-upload('alt', 'slide11.jpg').img-view
    div.item: +img-upload('alt', 'slide12.jpg').img-view
    div.item: +img-upload('alt', 'slide13.jpg').img-view
  .load

h3 .slider-thumb(data-slider='{"type": "syncing", "navFor": ".slider-nav", "view": "true"}')
.slider
  .slick.slider-thumb(data-slider='{"type": "syncing", "navFor": ".slider-nav", "view": "true"}')
    div.item: +img-upload('alt', 'slide1.jpg').img-view
    div.item: +img-upload('alt', 'slide2.jpg').img-view
    div.item: +img-upload('alt', 'slide3.jpg').img-view
    div.item: +img-upload('alt', 'slide4.jpg').img-view
    div.item: +img-upload('alt', 'slide5.jpg').img-view
    div.item: +img-upload('alt', 'slide6.jpg').img-view
    div.item: +img-upload('alt', 'slide7.jpg').img-view
    div.item: +img-upload('alt', 'slide8.jpg').img-view
    div.item: +img-upload('alt', 'slide9.jpg').img-view
    div.item: +img-upload('alt', 'slide10.jpg').img-view
    div.item: +img-upload('alt', 'slide11.jpg').img-view
    div.item: +img-upload('alt', 'slide12.jpg').img-view
    div.item: +img-upload('alt', 'slide13.jpg').img-view
  .load

h3 .slider-nav(data-slider='{"type": "syncing", "navFor": ".slider-thumb"}')
.slider
  .slick.slider-nav(data-slider='{"type": "syncing", "navFor": ".slider-thumb"}')
    div.item: +img-upload('alt', 'slide1.jpg').img-view
    div.item: +img-upload('alt', 'slide2.jpg').img-view
    div.item: +img-upload('alt', 'slide3.jpg').img-view
    div.item: +img-upload('alt', 'slide4.jpg').img-view
    div.item: +img-upload('alt', 'slide5.jpg').img-view
    div.item: +img-upload('alt', 'slide6.jpg').img-view
    div.item: +img-upload('alt', 'slide7.jpg').img-view
    div.item: +img-upload('alt', 'slide8.jpg').img-view
    div.item: +img-upload('alt', 'slide9.jpg').img-view
    div.item: +img-upload('alt', 'slide10.jpg').img-view
    div.item: +img-upload('alt', 'slide11.jpg').img-view
    div.item: +img-upload('alt', 'slide12.jpg').img-view
    div.item: +img-upload('alt', 'slide13.jpg').img-view
  .load
