h3 (data-collapse='<span class="red">{"type": "noClose", "effect": "fade", "duration": 400}</span>') - TAB
.tab-container(data-collapse='{"type": "noClose", "effect": "fade", "duration": 400}')
  ul.tabs.hidden-xs
    li(data-active=""): +link('Tab 1','#', 'Tab 1')(data-handle="a" data-init=""): +input({type: 'radio', name: 'abc', id: 'abg'})
    li(data-active=""): +link('Tab 2','#', 'Tab 2')(data-handle="b"): +input({type: 'radio', name: 'abc', id: 'abf'})
    li(data-active=""): +link('Tab 3','#', 'Tab 3')(data-handle="c"): +input({type: 'radio', name: 'abc', id: 'abd'})
    li(data-active=""): +link('No Content','#', 'No Content')(data-handle="cc"): +input({type: 'radio', name: 'abc', id: 'a'})
    li(data-active=""): +link('No Content','#', 'No Content')(data-handle="ccc"): +input({type: 'radio', name: 'abc', id: 'ab'})
    li(data-active=""): +link('No Content','#', 'No Content')(data-handle="cccc"): +input({type: 'checkbox', name: 'abc', id: 'abk'})
  .tab-content
    h4.visible-xs(data-active=""): +link('Tab 1')(data-handle="a")
    .tab-box(data-content="a" style="display: none")
      span(data-close="") CLOSE
      | CONTENT 1
      p: strong .child(data-collapse='<span class="red">{"effect": "slide"}</span>') - TAB
      .child(data-collapse='{"effect": "slide"}')
        h4(data-active=""): span(data-handle="kk" data-init="") Child 1
        .tab-box(data-content="kk")
          span(data-close="") CLOSE
          | CONTENT CHILD 1
        h4(data-active=""): span(data-handle="hh") Child 2
        .tab-box(data-content="hh")
          span(data-close="") CLOSE
          | CONTENT CHILD 2
        h4(data-active=""): span(data-handle="hh3") Child 3
    h4.visible-xs(data-active=""): +link('Tab 2')(data-handle="b")
    .tab-box(data-content="b" style="display: none")
      span(data-close="") CLOSE
      | CONTENT 2
    h4.visible-xs(data-active=""): +link('Tab 3')(data-handle="c")
    .tab-box(data-content="c" style="display: none")
      span(data-close="") CLOSE
      | CONTENT 3

.divider
h3 (data-collapse='<span class="red">{"breakpoint": "767", "effect": "slide", "duration": 400}</span>') - TAB - Under 767 is Accorditon
.tab-container(data-collapse='{"breakpoint": "767", "effect": "slide", "duration": 400}')
  ul.tabs.hidden-xs
    li(data-active=""): +link('Tab 1')(data-handle="a" data-init="")
    li(data-active=""): +link('Tab 2')(data-handle="b")
    li(data-active=""): +link('Tab 3')(data-handle="c")
    li(data-active=""): +link('Tab 4')(data-handle="cc")
  .tab-content
    h4.visible-xs(data-active=""): +link('Tab 1')(data-handle="a")
    .tab-box(data-content="a" style="display: none")
      span(data-close="") CLOSE
      | CONTENT 1
      .child(data-collapse='{"breakpoint": "767", "effect": "slide", "duration": 400}')
        h4(data-active=""): span(data-handle="kk") Child 1
        .tab-box(data-content="kk")
          span(data-close="") CLOSE
          | CONTENT CHILD 1
        h4(data-active=""): span(data-handle="hh") Child 2
        .tab-box(data-content="hh")
          span(data-close="") CLOSE
          | CONTENT CHILD 2
    h4.visible-xs(data-active=""): +link('Tab 2')(data-handle="b")
    .tab-box(data-content="b" style="display: none")
      span(data-close="") CLOSE
      | CONTENT 2
    h4.visible-xs(data-active=""): +link('Tab 3')(data-handle="c")
    .tab-box(data-content="c" style="display: none")
      span(data-close="") CLOSE
      | CONTENT 3

.divider
h3 (data-collapse='<span class="red">{"effect": "slide"}</span>') - Accorditon
.tab-container(data-collapse='{"effect": "slide"}')
  ul.tabs.hidden-xs
    li(data-active=""): +link('Tab 1')(data-handle="a" data-init="")
    li(data-active=""): +link('Tab 2')(data-handle="b")
    li(data-active=""): +link('Tab 3')(data-handle="c")
    li(data-active=""): +link('Tab 4')(data-handle="cc")
  .tab-content
    h4.visible-xs(data-active=""): +link('Tab 1')(data-handle="a")
    .tab-box(data-content="a" style="display: none")
      span(data-close="") CLOSE
      | CONTENT 1
      .child(data-collapse='{"effect": "slide"}')
        h4(data-active=""): span(data-handle="kk") Child 1
        .tab-box(data-content="kk")
          span(data-close="") CLOSE
          | CONTENT CHILD 1
        h4(data-active=""): span(data-handle="hh") Child 2
        .tab-box(data-content="hh")
          span(data-close="") CLOSE
          | CONTENT CHILD 2
    h4.visible-xs(data-active=""): +link('Tab 2')(data-handle="b")
    .tab-box(data-content="b" style="display: none")
      span(data-close="") CLOSE
      | CONTENT 2
    h4.visible-xs(data-active=""): +link('Tab 3')(data-handle="c")
    .tab-box(data-content="c" style="display: none")
      span(data-close="") CLOSE
      | CONTENT 3

