@import "yen.less";
//- Phan Chinh
// Block
.symmetrical-box {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  margin: 0 auto;
  overflow: hidden;
  background-color: #9D9A76;
  &.circle {border-radius: 50%;}
  .inner {
    .position();
    font-size: 0;
    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      .size(0, 100%);
    }
  }
  .content {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    background-color: #BDFF97;
  }
}

//- Tabs
[data-collapse] {
  .tabs {
    overflow: hidden;
    [data-active] {
      float: left;
      padding: 10px;
      margin-right: 10px;
      background-color: #DADADA;
      &.active {
        background-color: #C3C3C3;
      }
    }
  }
  [data-handle] {
    display: block;
  }

  .tab-content {
    > [data-active] {
      padding: 10px;
      margin-top: 5px;
      background-color: #C3C3C3;
      + [data-content].active {
        border-top: 1px solid black;
      }
    }
  }
  .tab-box {
    padding: 10px;
    background-color: #DADADA;
    &.active {
      background-color: #C3C3C3;
    }
    [data-active] {
      padding: 10px;
      margin-top: 10px;
      background-color: #DADADA;
      cursor: pointer;
      &:first-child {
        border-top: none;
      }
      &.active {
        background-color: #DADADA;
      }
    }
    [data-content] {
      display: none;
      background-color: #DADADA;
    }
    [data-close] {
      float: right;
      cursor: pointer;
    }
  }
}

// Loading
.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  background-color: rgba(255, 255, 255, 0.8);
}
.loader {
  position: absolute;
  top: calc(~"50% - 32px");
  left: calc(~"50% - 32px");
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 11;
}
.loader:nth-child(1) {
  animation: rotate-one 1s linear infinite;
  box-shadow: inset 0 -2px 3px #ba0c2f;
}
.loader:nth-child(2) {
  animation: rotate-two 1s linear infinite;
  box-shadow: inset -2px 0 3px #ba0c2f;
}
.loader:nth-child(3) {
  animation: rotate-three 1s linear infinite;
  box-shadow: inset 2px 0 3px #ba0c2f;
}
@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes rotate-two {
  0% {
    transform: rotateX(45deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(45deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

.loading-1 {
}

//- Divider
.divider {
  position: relative;
  text-align: center;
  overflow: hidden;
  span {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 900px;
      border-top: 1px solid black;
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
    &.empty {
      font-size: 0;
      padding: 0;
    }
  }
}

//- Blockquote
blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  &:before, &:after {
    font-size: 4em;
    line-height: 0;
  }
  &:before {
    content: open-quote;
    margin-right: 0.15em;
    vertical-align: -0.4em;
  }
  &:after {
    content: close-quote;
    margin-left: 0.15em;
    vertical-align: -0.6em;
  }
}

.same-height {
  overflow: hidden;
  section {
    float: left;
    width: 50%;
    padding: 0 10px;
    margin-bottom: 5px;
    .transition(height 0.5s);
    &:nth-child(2n + 3) {
      clear: left;
    }
  }
  .inner {
    background-color: #B2A9A9;
  }
  .content {
    background-color: grey;
    padding: 10px;
  }
  .desc {
    padding: 10px;
    background-color: silver;
  }
  .caption {
    padding: 10px;
    background-color: green;
  }
  // @media (min-width: @screen-sm-min) {
  //   section {
  //     width: 50%;
  //   }
  // }
  // @media (min-width: @screen-md-min) {
  //   section {
  //     width: 33.333%;
  //     &:nth-child(3n + 4) {
  //       clear: left;
  //     }
  //   }
  // }
}
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  .load {
    .position();
    background: url('/images/svg/loading.svg') center center / 50px no-repeat;
  }
}
[data-slider] {
  position: relative;
  opacity: 0;
  .transition(opacity .5s ease);
  height: 300px;
  &.slick-initialized {
    opacity: 1;
    height: auto;
    + .load {
      display: none;
    }
  }
  .item {
    float: left;
    width: 200px;
    background-color: #E0E0E0;
    text-align: center;
    &.slick-current {
      opacity: 0.5;
    }
  }
}
.slick-list {
  position: relative;
  overflow: hidden;
}
.slick-dots {
  text-align: center;
  li {
    display: inline-block;
    button {
      .size(10px);
      margin: 0 5px;
      font-size: 0;
      .border-radius(50%);
      border: none;
      background-color: black;
    }
  }
  .slick-active {
    button {
      background-color: grey;
    }
  }
}
.slick-prev {
  left: 10px;
  background: url("../images/prev.png") no-repeat 50% 50%;
}
.slick-next {
  right: 10px;
  background: url("../images/next.png") no-repeat 50% 50%;
}
.slick-arrow {
  position: absolute;
  top: 0;
  z-index: 1;
  .size(15px, 30px);
  .text-hide();
  background-size: 100% 100%;
}
.slick-disabled {
  opacity: 0.5;
}
