@arrow-return-name: arrow-return;
@arrow-return-x: 210px;
@arrow-return-y: 126px;
@arrow-return-offset-x: -210px;
@arrow-return-offset-y: -126px;
@arrow-return-width: 17px;
@arrow-return-height: 16px;
@arrow-return-total-width: 348px;
@arrow-return-total-height: 241px;
@arrow-return: 210px 126px -210px -126px 17px 16px 348px 241px '../images/sprite.png' arrow-return;
@btn-fb-1-name: btn-fb-1;
@btn-fb-1-x: 0px;
@btn-fb-1-y: 97px;
@btn-fb-1-offset-x: 0px;
@btn-fb-1-offset-y: -97px;
@btn-fb-1-width: 156px;
@btn-fb-1-height: 40px;
@btn-fb-1-total-width: 348px;
@btn-fb-1-total-height: 241px;
@btn-fb-1: 0px 97px 0px -97px 156px 40px 348px 241px '../images/sprite.png' btn-fb-1;
@btn-fb-name: btn-fb;
@btn-fb-x: 0px;
@btn-fb-y: 139px;
@btn-fb-offset-x: 0px;
@btn-fb-offset-y: -139px;
@btn-fb-width: 138px;
@btn-fb-height: 40px;
@btn-fb-total-width: 348px;
@btn-fb-total-height: 241px;
@btn-fb: 0px 139px 0px -139px 138px 40px 348px 241px '../images/sprite.png' btn-fb;
@btn-google-plus-name: btn-google-plus;
@btn-google-plus-x: 210px;
@btn-google-plus-y: 0px;
@btn-google-plus-offset-x: -210px;
@btn-google-plus-offset-y: 0px;
@btn-google-plus-width: 138px;
@btn-google-plus-height: 40px;
@btn-google-plus-total-width: 348px;
@btn-google-plus-total-height: 241px;
@btn-google-plus: 210px 0px -210px 0px 138px 40px 348px 241px '../images/sprite.png' btn-google-plus;
@btn-twitter-name: btn-twitter;
@btn-twitter-x: 210px;
@btn-twitter-y: 42px;
@btn-twitter-offset-x: -210px;
@btn-twitter-offset-y: -42px;
@btn-twitter-width: 138px;
@btn-twitter-height: 40px;
@btn-twitter-total-width: 348px;
@btn-twitter-total-height: 241px;
@btn-twitter: 210px 42px -210px -42px 138px 40px 348px 241px '../images/sprite.png' btn-twitter;
@btn-weibo-orange-name: btn-weibo-orange;
@btn-weibo-orange-x: 0px;
@btn-weibo-orange-y: 55px;
@btn-weibo-orange-offset-x: 0px;
@btn-weibo-orange-offset-y: -55px;
@btn-weibo-orange-width: 156px;
@btn-weibo-orange-height: 40px;
@btn-weibo-orange-total-width: 348px;
@btn-weibo-orange-total-height: 241px;
@btn-weibo-orange: 0px 55px 0px -55px 156px 40px 348px 241px '../images/sprite.png' btn-weibo-orange;
@btn-weibo-name: btn-weibo;
@btn-weibo-x: 210px;
@btn-weibo-y: 84px;
@btn-weibo-offset-x: -210px;
@btn-weibo-offset-y: -84px;
@btn-weibo-width: 126px;
@btn-weibo-height: 40px;
@btn-weibo-total-width: 348px;
@btn-weibo-total-height: 241px;
@btn-weibo: 210px 84px -210px -84px 126px 40px 348px 241px '../images/sprite.png' btn-weibo;
@icon-right-name: icon-right;
@icon-right-x: 229px;
@icon-right-y: 126px;
@icon-right-offset-x: -229px;
@icon-right-offset-y: -126px;
@icon-right-width: 15px;
@icon-right-height: 10px;
@icon-right-total-width: 348px;
@icon-right-total-height: 241px;
@icon-right: 229px 126px -229px -126px 15px 10px 348px 241px '../images/sprite.png' icon-right;
@logo-caltex-name: logo-caltex;
@logo-caltex-x: 0px;
@logo-caltex-y: 0px;
@logo-caltex-offset-x: 0px;
@logo-caltex-offset-y: 0px;
@logo-caltex-width: 208px;
@logo-caltex-height: 53px;
@logo-caltex-total-width: 348px;
@logo-caltex-total-height: 241px;
@logo-caltex: 0px 0px 0px 0px 208px 53px 348px 241px '../images/sprite.png' logo-caltex;
@next-name: next;
@next-x: 0px;
@next-y: 181px;
@next-offset-x: 0px;
@next-offset-y: -181px;
@next-width: 30px;
@next-height: 60px;
@next-total-width: 348px;
@next-total-height: 241px;
@next: 0px 181px 0px -181px 30px 60px 348px 241px '../images/sprite.png' next;
@prev-name: prev;
@prev-x: 32px;
@prev-y: 181px;
@prev-offset-x: -32px;
@prev-offset-y: -181px;
@prev-width: 30px;
@prev-height: 60px;
@prev-total-width: 348px;
@prev-total-height: 241px;
@prev: 32px 181px -32px -181px 30px 60px 348px 241px '../images/sprite.png' prev;


[class^="icon-"] {
  display: inline-block;
  background-image: url("../images/sprite.png");
}

.icon-arrow-return {
  width: 17px;
  height: 16px;
  background-position: -210px -126px;
}
.icon-btn-fb-1 {
  width: 156px;
  height: 40px;
  background-position: 0px -97px;
}
.icon-btn-fb {
  width: 138px;
  height: 40px;
  background-position: 0px -139px;
}
.icon-btn-google-plus {
  width: 138px;
  height: 40px;
  background-position: -210px 0px;
}
.icon-btn-twitter {
  width: 138px;
  height: 40px;
  background-position: -210px -42px;
}
.icon-btn-weibo-orange {
  width: 156px;
  height: 40px;
  background-position: 0px -55px;
}
.icon-btn-weibo {
  width: 126px;
  height: 40px;
  background-position: -210px -84px;
}
.icon-icon-right {
  width: 15px;
  height: 10px;
  background-position: -229px -126px;
}
.icon-logo-caltex {
  width: 208px;
  height: 53px;
  background-position: 0px 0px;
}
.icon-next {
  width: 30px;
  height: 60px;
  background-position: 0px -181px;
}
.icon-prev {
  width: 30px;
  height: 60px;
  background-position: -32px -181px;
}
