// Structure
main {
  margin: 5px 0;
  padding: 10px;
  min-height: 2000px;
}
.wrapper {
  width: 100%;
}
.wrapper.opening {
  overflow: hidden;
  height: 100%;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 50px;
  background-color: red;
  .transition(~"left .5s ease, margin-left .5s ease");
  .opening & {
    left: 100%;
    margin-left: -50px;
  }
}
.container {
  background-color: white;
  position: relative;
  left: 0;
  width: 100%;
  z-index: 9;
  .transition(all .5s ease);
  .opening & {
    left: 100%;
    margin-left: -50px;
    .layer {
      .position(0);
      z-index: 9;
    }
  }
  > .inner {
    padding-top: 50px;
    .opening & {
      .position();
    }
  }
}
.sidebar {
  .position(0 100% 0 -100%);
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  .transition(all .5s ease);
  .opening & {
    left: 0;
    right: 50px;
    z-index: 8;
  }
  &:before {
    content: "";
    .position(0 0 0);
    width: 10px;
    box-shadow: -5px 0 5px 0 rgba(0, 0, 0, 0.15) inset;
    z-index: 3;
  }
  h2 {
    background-color: blue;
    width: 100%;
    height: 50px;
  }
  > .inner {
    .position(0);
    z-index: 1;
  }
  .sidenav {
    .position(50px 0 0 0);
    z-index: 8;
    background-color: #ebebeb;
    overflow-y: scroll;
  }
}



.nav {
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  li {
    float: left;
    position: relative;
    display: block;
    a {
      .rem(17px);
      padding: 5px;
      font-size: @rem;
    }
  }
  .active > a, > a.active {
    color: red;
  }
}

footer {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 1px;
}

.keyframes(openNav; {
  0% {
    left: 0;
    /* .translate(0, 0); */
  }
  100% {
    left: 100%;
    /* .translate(100%, 0); */
  }
});
.keyframes(closeNav; {
  0% {
    left: 100%;
    margin-right: -100px;
  }
  100% {
    left: 0;
    margin-right: 0;
  }
});
