.yen {
  // Variables
  @background: #fefefe;
  @text: #4b507a;
  @cyan: #60daaa;
  @yellow: #fbca67;
  @orange: #ff8a30;
  @red: #f45e61;
  @purple: #6477b9;
  @blue: #0eb7da;

  // Basic styles
  button {
    display: block;
    margin-top: 30px;
    background: none;
    border: 0;
    box-shadow: inset 0 0 0 2px @red;
    color: @red;
    font-size: 20px;
    padding: 1em 2em;
    position: relative;
    &:before,
    &:after {
      content: '';
      position: absolute;
      .size(100%);
    }
  }
  // draw
  .draw {
    .transition(color 0.25s);
    &:before,
    &:after {
      border: 2px solid transparent;
      .size(0);
    }
    &:before {
      top: 0;
      left: 0;
    }
    &:after {
      bottom: 0;
      right: 0;
    }
    &:hover {
      color: @cyan;
      .transition(color 0.25s);
      &:before,
      &:after {
        .size(100%);
      }
      &:before {
        border-top-color: @cyan;
        border-right-color: @cyan;
        .transition(~"width 0.25s ease-out, height 0.25s ease-out 0.25s");
      }
      &:after {
        border-bottom-color: @cyan;
        border-left-color: @cyan;
        .transition(~"border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s");
      }
    }
  }
  // draw meet
  .meet {
    .transition(color 0.25s);
    &:before,
    &:after {
      border: 2px solid transparent;
      top: 0;
      left: 0;
      .size(0);
    }
    &:hover {
      color: @yellow;
      .transition(color 0.25s);
      &:before,
      &:after {
        .size(100%);
      }
      &:before {
        border-top-color: @yellow;
        border-right-color: @yellow;
        .transition(~"width 0.25s ease-out, height 0.25s ease-out 0.25s");
      }
      &:after {
        border-left-color: @yellow;
        border-bottom-color: @yellow;
        .transition(~"height .2s ease-out, width .2s ease-out .25s")
      }
    }
  }
  // center
  .centered {
    box-shadow: inset 0 0 0 10px @red;
    &:before,
    &:after {
      content: "";
      top: 0;
      left: 0;
      .size(100%);
      transform-origin: center;
    }
    &:before {
      border-top: 10px solid @purple;
      border-bottom: 10px solid @purple;
      transform: scale3d(0, 1, 1);
    }
    &:after {
      border-left: 10px solid @purple;
      border-right: 10px solid @purple;
      transform: scale3d(1, 0, 1);
    }
    &:hover {
      color: @purple;
      &:before,
      &:after {
        transform: scale3d(1, 1, 1);
        transition: transform 0.5s;
      }
    }
  }
  // circle
  .circle {
    border-radius: 100%;
    box-shadow: none;
    .size(150px);
    &:before,
    &:after {
      top: 0;
      left: 0;
      border-radius: 100%;
    }
    &:before {
      border: 2px solid transparent;
    }
    &:after {
      border: 0 solid transparent;
    }
    &:hover {
      color: @blue;
      &:before {
        border-top-color: @blue;
        border-right-color: @blue;
        border-bottom-color: @blue;
        .transition(~"border-top-color 0.15s linear, border-right-color 0.15s linear 0.10s,border-bottom-color 0.15s linear 0.20s");
      }
      &:after {
        border-top: 2px solid @blue;
        border-left-width: 2px;
        border-right-width: 2px;
        transform: rotate(270deg);
        .transition(~"transform 0.4s linear 0s, border-left-width 0s linear 0.35s")
      }
    }
  }
  // Type Input
  .type-input {
    h2 {
      margin-bottom: 20px;
    }
    input {
      display: block;
      padding: 5px 10px;
      margin-bottom: 10px;
      border: 1px solid red;
      color: red;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
       /*   -moz-appearance: none;
           -webkit-appearance: none; */
   -webkit-border-radius: 0;
      -moz-border-radius: 0;
           border-radius: 0;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
    }
    input::-moz-placeholder {color: red;}
    input::-moz-placeholder {color: red;}
    input:-ms-input-placeholder {color: red;}
    input::-webkit-input-placeholder {color: red;}
    .placeholder {color: red;} // Using fo IE9
  }
  // tabs
  .tabs {
    position: relative;
    clear: both;
    min-height: 100px;
    margin: 25px 0;
    .tab {
      float: left;
      label {
        .position(relative, null null null 1px);
        padding: 10px;
        border: 1px solid #ccc;
        margin-left: -1px;
        background-color: #eee;
      }
      .content {
        .position(28px 0 0 0);
        padding: 20px;
        border: 1px solid #ccc;
        overflow: hidden;
        z-index: -1;
        opacity: 0;
        .transition(opacity linear 0.1s);
      }
      [type="radio"] {
        display: none;
        &:checked + label {
          border-bottom: 1px solid white;
          z-index: 2;
        }
        &:checked + label + .content {
          z-index: 1;
          opacity: 1;
          .transition(opacity ease-out 0.2s 0.1s);
        }
      }
    }
  }
}

.thumb {
  overflow: hidden;
  background-color: #f1f1f1;
  .vertical-img {
    position: relative;
    display: block;
    margin: 20px;
    height: 210px;
    img {
      .position();
      margin: auto;
      max-width: 100%;
      height: auto;
    }
  }
}

.button-style {
  position: relative;
  display: inline-block;
  border: 1px solid #056881;
  font-size: 12px;
  .text {
    display: table-cell;
    height: 40px;
    padding: 0 55px 0 15px;
    vertical-align: middle;
    color: #056881;
    word-wrap: break-word;
    text-align: left;
  }
  [class^=arrow-] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 40px;
    border-left: 1px solid #056881;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    overflow: hidden;
  }
  .arrow-right {
    background-image: url(../images/icon-right.png);
  }
}

// demo
.box-1 {
  width: 100px;
  height: 100px;
  position: absolute;
  background-color: red;
}

.box-2 {
  display: none;
}

.list-1 {
  li {
    margin-bottom: 10px;
    padding: 5px;
    color: red;
    border: 1px solid red;
  }
}
.sibling, .ul {
  span, h2, h3, h4, h5, h6, p,
  li {
    height: 30px;
    line-height: 30px;
    border: 1px solid red;
    display: block;
    margin: 5px 0;
  }
}
