Calculator Same Height
Col-1:
	- content
	- desc
Col-2:
	- content
	- desc

for(var i = 0, n = this.parent.length; i < n; i += this.perRow)
	Get column on One Row
	Loop column on One Row
		- column 1
			- Get childs
			- Loop childs
				- Child 1
					obj[child1] = Math.max(height of Child 1, 0)
				- Child 2
					obj[child2] = Math.max(height of Child 2, 0)
				- ...
		- column 2
			- Get childs
			- Loop childs
				- Child 1
					obj[child1] = Math.max(height of Child 1, obj[child1])
				- Child 2
					obj[child2] = Math.max(height of Child 2, obj[child2])
				- ...
