@keyframes up {
  0% {background-position: 50% 50%;}
  49.99% {background-position: 50% -200%;}
  50% {background-position: 50% 200%;}
  100% {background-position: 50% 50%;}
}
@keyframes right {
  0% {background-position: 50% 50%;}
  49.99% {background-position: 200% 50%;}
  50% {background-position: -200% 50%;}
  100% {background-position: 50% 50%;}
}
@keyframes down {
  0% {background-position: 50% 50%;}
  49.99% {background-position: 50% 200%;}
  50% {background-position: 50% -200%;}
  100% {background-position: 50% 50%;}
}
@keyframes left {
  0% {background-position: 50% 50%;}
  49.99% {background-position: -200% 50%;}
  50% {background-position: 200% 50%;}
  100% {background-position: 50% 50%;}
}
@keyframes loading {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
