@import "slider.less";

// Heading
.heading {
  top: 0;
  transition: top .5s;
  .title {
    font-family: @Heroic-Condensed-Heavy;
    .font-size(50px);
    color: @dark-blue;
    letter-spacing: .2em;
    text-transform: uppercase;
    word-break: break-word;
    .white-state& {color: white;}
    &:before {
      content: "";
      display: block;
      .size(65px, 10px);
      margin-bottom: 10px;
      background-color: @light-red;
      .white-state& {background-color: white;}
    }
  }
  .tags {
    padding-top: 5px;
    padding-left: 25px;
    font-family: @Heroic-Condensed-Medium;
    .font-size(21px);
    color: @dark-blue;
    letter-spacing: .2em;
    text-transform: uppercase;
    .white-state& {color: white;}
    span {
      display: inline-block;
      padding-right: 5px;
    }
  }
  p {
    padding-top: 17px;
    line-height: 1.9;
    color: black;
    .white-state& {color: white;}
  }
  .content {
    p {
      padding-top: 17px;
      line-height: 1.9;
      color: black;
    }
  }
}

// Introduction-block
.introduction-block {
  padding: 80px 0 120px;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  .title {
    margin-bottom: 20px;
    font-family: @Heroic-Condensed-Heavy;
    .font-size(120px);
    line-height: 1.35;
    letter-spacing: .3em;
    text-transform: uppercase;
  }
  .description {
    position: relative;
    padding-left: 104px;
    font-family: @Anonymous-Pro-Bold;
    .font-size(16px);
    line-height: 1.8;
    &:before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      .size(66px, 14px);
      background-color: @light-red;
    }
  }
  .button-wrap {
    display: table;
    margin-top: 10px;
    .button-style {display: block;
      & + .button-style {border-top: 0;}
    }
  }
}

// Post block
.posts-block {padding-top: 110px;
  .post-details & {padding-top: 60px;}
  .button-style {
    margin-bottom: 100px;
    transform: translateY(-25px);
    .post-details & {margin-bottom: 40px;}
  }
}
.post-list {
  padding-top: 70px;
  margin-left: percentage(1 / @grid-columns);
  margin-right: percentage(-1 / @grid-columns);
}
.post-preview {
  display: block;
  margin-bottom: 60px;
  transition: transform .5s;
  .no-touch &:hover {
    .thumb {
      &:before {
        background-color: rgba(225, 225, 225, .2);
        transition: background-color .5s;
      }
    }
    .content {
      transform: translateY(-40px);
      transition: transform .5s;
    }
    .title {
      color: @light-red;
       transition: color .4s;
    }
    .desc {
      &:before {
        background-color: @dark-blue;
        transition: background-color .5s;
      }
    }
  }
  &.scrolling {
    transition: transform .5s;
    transform: translateY(-20px);
  }
  .thumb {position: relative;
    &:before , &:after {content: "";}
    &:before {
      .absolute();
      background-color: rgba(225, 225, 225, 0);
      transition: background-color .5s;
    }
    &:after {
      position: absolute;
      top: 100%;
      right: 0;
      left: 50%;
      z-index: -1;
      box-shadow: 0 0 35px 25px #b0b0b0;
      transform: rotate(2deg) translate(-50px, -20px);
    }
    img {
      display: block;
      width: 100%;
      background-color: white;
    }
  }
  .content {
    padding: 10px 0 0 20px;
    font-family: @Heroic-Condensed-Black;
    text-transform: uppercase;
    color: @dark-blue;
    transition: transform .5s;
  }
  .title {
    .font-size(70px);
    letter-spacing: .1em;
    transition: color .4s;
  }
  .desc {
    position: relative;
    padding-left: 145px;
    margin-top: 16px;
    .font-size(40px);
    letter-spacing: .1em;
    &:before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      .size(125px, 4px);
      background-color: @light-red;
      transition: background-color .5s;
    }
  }
  .name {color: black;}
  .year {
    display: block;
    color: @silver;
  }
}
.button-wrap-1 {
  margin-left: percentage(1 / @grid-columns);
  margin-right: percentage(-1 / @grid-columns);
}
.button-wrap-1,
.button-wrap-2 {
  text-align: right;
}

// Social block
/* #map {
  .grid-fixed();
  max-width: @grid-content;
} */
.social-block {
  position: relative;
  padding-top: 110px;
  color: white;
  .no-touch & {transition: all .5s;}
  &.map-view {padding: 0;
    .no-touch & {transition: all .7s;}
  }
  .button-style {margin-bottom: 65px;}
}
.social-list {
  padding-top: 70px;
  padding-bottom: 50px;
}
.social-preview {
  margin-bottom: 30px;
  color: white;
  cursor: pointer;
  a {color: white;
    .no-touch &:hover {text-decoration: underline;}
  }
  &.bgd-blue {transition: background-color .5s;
    .no-touch &:hover {
      background-color: #3b8699;
      transition: background-color .5s;
    }
  }
  .content {
    height: 250px;
    overflow: hidden;
  }
  .no-touch &:hover {color: white;
    .thumb {
      &:before {
        background-color: rgba(255, 255, 255, .2);
        transition: background-color .5s;
      }
    }
  }
  .thumb {
    position: relative;
    z-index: 1;
    margin-bottom: 17px;
    span {
      display: block;
      max-height: 190px;
      overflow: hidden;
    }
    &:before {
      content: "";
      .absolute();
      background-color: rgba(255, 255, 255, 0);
      transition: background-color .5s;
    }
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      right: 25%;
      left: 25%;
      z-index: -1;
      box-shadow: 0 0 35px 25px #6C6666;
      transform: translateY(-25px);
    }
    img {
      display: block;
      width: 100%;
      color: @dark-blue;
      background-color: white;
    }
  }
  &.bgd-blue {
    .desc {
      padding: 20px;
      .font-size(21px);
      line-height: 1.25;
    }
    .author {padding: 20px 0 20px 20px;}
  }
  .desc {
    .font-size(18px);
    line-height: 1.25;
  }
  .author {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 20px 0;
  }
  .user {
    display: table-cell;
    width: 80%;
    vertical-align: middle;
    word-wrap: break-word;
    img {
      display: inline-block;
      .size(33px);
      font-size: 0;
      vertical-align: middle;
      border-radius: 50%;
    }
    span {
      display: inline-block;
      max-width: 70%;
      padding-left: 10px;
      vertical-align: middle;
      font-family: @Heroic-Condensed-Heavy;
      letter-spacing: .1em;
      text-transform: uppercase;
      word-wrap: break-word;
    }
  }
  .social-icon {
    display: table-cell;
    width: 20%;
    padding-right: 20px;
    vertical-align: middle;
    text-align: right;
    [class^="sf-"] {
      display: inline-block;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    .sf-facebook {
      .size(11px, 21px);
      background-image: url("@{image}/icon-fb-white.png");
    }
    .sf-twitter {
      .size(22px, 17px);
      background-image: url("@{image}/icon-twitter-white.png");
    }
    .sf-instagram {
      .size(20px, 19px);
      background-image: url("@{image}/icon-instagram-white.png");
    }
  }
}
.map {height: 800px;}
.error-ajax {
  padding-top: 30px;
  .font-size(20px);
  text-align: center;
}

// Types of social feeds
.map-view {background-color: transparent;
  .heading {
    position: absolute;
    top: 110px;
    right: 0;
    left: 0;
    transition: top .5s;
    .title , .tags, .views {
      position: relative;
      z-index: 1;
    }
    .title, .tags {display: table;}
  }
}

// Filter box
.filter-box {
  position: relative;
  z-index: 2;
  display: inline-block;
  margin-top: 25px;
  margin-right: -18px;
  text-align: left;
  .link-view {
    display: block;
    height: 52px;
    padding: 0 20px;
    .font-size(14px);
    line-height: 55px;
    color: @dark-blue;
    background-color: white;
    span {
      letter-spacing: .2em;
      &:after {
        content: "";
        display: inline-block;
        .size(10px, 5px);
        margin-left: 12px;
        vertical-align: middle;
        background: url("../images/icon-arrow.png") no-repeat 0 0;
        transition: transform 0.4s;
        .open& {
          transition: transform 0.4s;
          transform: rotate(-180deg);
        }
      }
    }
  }
  .scopes {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px;
    margin-top: 1px;
    background-color: white;
    li {min-width: 130px;
      + li {padding-top: 10px;}
    }
    a {
      display: table;
      transition: color .4s;
      &:hover {color: black;}
    }
    img, span {
      display: table-cell;
      vertical-align: middle;
    }
    img {
      width: 15px;
      max-width: inherit;
    }
    span {
      padding-left: 10px;
      .font-size(14px);
      letter-spacing: .1em;
    }
  }
}

// List view
.views {
  display: table;
  width: 100%;
  margin-top: 25px;
  table-layout: fixed;
  a {
    display: table-cell;
    .size(50%, 52px);
    padding-left: 15px;
    vertical-align: middle;
    font-family: @Anonymous-Pro-Bold;
    .font-size(16px);
    color: white;
    background-color: @light-red;
    border: 1px solid white;
    transition: background-color .4s;
    + a {
      padding-left: 0;
      border-left: none;
      text-align: center;
    }
    &.current, .no-touch &:hover {background-color: @dark-blue;}
  }
  img, span {
    display: inline-block;
    vertical-align: middle;
    letter-spacing: .2em;
  }
  img {margin-right: 13px;}
}

// About block
.about-block {padding-top: 80px;}
.about-list {padding: 20px 0 60px;}
.about-preview {
  &.margin-top-10 {padding-top: 8px;}
  display: block;
  padding-top: 30px;
  font-family: @Heroic-Condensed-Heavy;
  .thumb {position: relative;
    &:before {
      content: "";
      .absolute();
      background-color: rgba(225, 225, 225, 0);
      transition: background-color .5s;
    }
    img {
      display: block;
      width: 100%;
    }
  }
  .title {
    position: relative;
    display: inline-block;
    max-width: 200px;
    margin: -20px 0 0 40px;
    .font-size(36px);
    text-transform: uppercase;
    letter-spacing: .2em;
    color: @dark-blue;
    transition: color .5s;
    &.red {color: @light-red;}
  }
  .no-touch &:hover {
    .thumb {
      &:before {
        background-color: rgba(225, 225, 225, .2);
        transition: background-color .5s;
      }
    }
    .title {color: black;}
  }
}

// Infographic
.infographic {margin-top: 60px;}

// Prize block
.prize-block {padding: 80px 0 15px;}
.prize-list {margin-top: 60px;}
.prize-preview {
  margin-bottom: 35px;
  transition: transform .5s;
  &.red-state {
    .title {color: @light-red;}
    .desc {
      &:before {background-color: @dark-blue;}
    }
  }
  .thumb {
    position: relative;
    display: inline-block;
    max-width: 72%;
    .red-state& {max-width: 100%;}
    &:before {
      content: "";
      .absolute();
      background-color: rgba(255, 255, 255, 0);
      transition: background-color .5s;
    }
    .no-touch &:hover {
      &:before {
        background-color: rgba(255, 255, 255, .2);
        transition: background-color .5s;
      }
      & + .content {
        .title {
          transition: color .5s;
          color: black;
        }
      }
    }
  }
  .content {
    padding-left: 60px;
    transform: translateY(-28px);
  }
  .title {
    padding-bottom: 10px;
    font-family: @Heroic-Condensed-Black;
    .font-size(60px);
    text-transform: uppercase;
    letter-spacing: .2em;
    color: @dark-blue;
    transition: color .5s;
    word-wrap: break-word;
    &:hover {
      transition: color .5s;
      color: black;
    }
  }
  .desc {
    position: relative;
    padding-left: 98px;
    .font-size(16px);
    line-height: 1.9;
    color: black;
    &:before {
      content: "";
      position: absolute;
      top: 11px;
      left: 0;
      .size(77px, 4px);
      background-color: @light-red;
    }
  }
}

// Terms and Conditions
.terms-block {padding: 110px 0;}

// Cover block
.cover-block {
  max-width: 1400px;
  margin: 0 auto;
  .avatar {
    img {
      display: inline-block;
      max-width: 60px;
      margin-right: 5px;
      vertical-align: middle;
      border-radius: 50%;
    }
  }
  .text {
    display: inline-block;
    padding-left: 5px;
    .font-size(21px);
    line-height: .9;
    vertical-align: middle;
  }
}

// Video block
.video-block {padding: 40px 0 25px;}
.embed-responsive {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 56.25%;
}
.embed-responsive iframe,
.embed-responsive object,
.embed-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  .size(100%);
}

// Share block
.share-block {padding: 20px 0 30px;
  .circle-icon {
    float: right;
    margin-top: 15px;
  }
  .share-group {
    display: inline-block;
    vertical-align: middle;
    .share {
      display: inline-block;
      height: 60px;
      padding-right: 20px;
      .font-size(18px);
      line-height: 57px;
      vertical-align: middle;
      color: @dark-blue;
    }
    [class^="icon"] {
      vertical-align: middle;
      & + [class^="icon"] {border-left: none;}
    }
  }
}

// Star
.star {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  span {
    display: inline-block;
    margin-left: 2px;
    .size(19px, 17px);
    vertical-align: middle;
    background: url("@{image}/icon-star.png") no-repeat 0 0;
    cursor: pointer;
    transition: background .4s;
    &.active {
      background-image: url("@{image}/icon-star-active.png");
      transition: background .4s;
    }
  }
}

// Oder
.order-wrap {
  position: relative;
  padding: 0 10px;
  margin: 0 -14px;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    left: -3000px;
    height: 4px;
    margin-top: -2px;
    background-color: @light-red;
    .white-state & {background-color: white;}
  }
  .order {
    display: block;
    overflow: hidden;
    margin-right: -10px;
    font-family: @Heroic-Condensed-Heavy;
    .font-size(48px);
    color: @dark-blue;
    .white-state & {color: white;}
    span {
      position: relative;
      display: inline-block;
      padding-right: 10px;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        right: -200px;
        height: 4px;
        margin-top: -2px;
        background-color: @light-red;;
        .white-state & {background-color: white;}
      }
    }
  }
}

//Title Box
.title-box {
  display: inline-block;
}

// Heading 1
.heading-1 {
  display: block;
  a , span {
    padding-left: 45px;
    font-family: @Heroic-Condensed-Heavy;
    .font-size(48px);
    text-transform: uppercase;
    letter-spacing: .1em;
    color: @dark-blue;
    background: url("@{image}/icon-marker-red-big.png") no-repeat 0 6px;
    transition: background-image .5s, color .5s;
    &:hover {
      color: black;
      background-image: url("@{image}/icon-marker-black-big.png");
      transition: background-image .5s, color .5s;
    }
    .white-state & {
      color: white;
      background-image: url("@{image}/icon-marker-white-big.png");
      &:hover{
        color: black;
        background-image: url("@{image}/icon-marker-black-big.png");
        transition: background-image .5s, color .5s;
      }
    }
  }
}



// Map link
.map-link {
  display: inline-block;
  padding-left: 20px;
  margin-top: 10px;
  letter-spacing: 1.7px;
  background: url("@{image}/arrow.png") no-repeat 0 50%;
  .no-touch &:hover {text-decoration: underline;}
}

// Post details block
.desciption-top, .desciption-middle, .desciption-bottom {padding-top: 25px;}
.post-details-block {
  padding: 30px 0 35px;
  background-repeat: no-repeat;
  background-size: cover;
  .white-state& {color: white;}
  .post-details-images {padding-top: 40px;}
  .desc {margin-top: 50px;}
  p {
    padding-top: 15px;
    line-height: 1.3em;
    letter-spacing: 1.4px;
    a {text-decoration: underline;
      .no-touch &:hover {text-decoration: none;}
    }
  }
  .col-item-1 {
    float: left;
    width: 27%;
    margin-left: 30px;
    &:first-child {margin-left: 0;}
  }
  .col-item-2 {
    float: right;
    width: 39%;
    margin-left: 30px;
  }
  &.block-3 {
    .col-item-1 {width: 47%;}
  }
}

// Other Posts
.other-posts {
  .col-item-1 {
    float: left;
    width: 27%;
    margin-left: 30px;
    &:first-child {margin-left: 0;}
  }
  .col-item-2 {
    float: right;
    width: 40.8%;
    margin-left: 25px;
  }
  .post-preview {
    .title {.font-size(50px);}
    .desc {
      padding-left: 85px;
      .font-size(24px);
      &:before {
        top: 9px;
        width: 68px;
      }
    }
  }
}


// editer-1
.editer-1 {
  line-height: 1.8;
  color: black;
  p {padding-top: 17px;}
}
.editer-1 {
  > ul {
    list-style-type: square;
    margin-top: 15px;
    ul {
      list-style-type: square;
      padding-left: 15px;
    }
  }
  > ul {
    ol {
      padding-left: 30px;
      list-style-type: decimal;
    }
  }
  > ol {
    margin-top: 15px;
    list-style-type: decimal;
    ol {
      list-style-type: decimal;
      padding-left: 30px;
    }
  }
  > ol {
    ul {
      padding-left: 15px;
      list-style-type: square;
    }
  }
}


