// -- Common --
// Image
img {max-width: 100%;}

// Background Color
.bgd-red {background-color: @light-red;}
.bgd-blue {background-color: @dark-blue;}
.bgd-dark {background-color: rgba(0, 0, 0, .04);}

//- Button
.button-style {
  display: inline-block;
  .font-size(18px);
  border: 2px solid @dark-blue;
  position: relative;
  &.full-width {
    width: 100%;
    margin-left: 0;
  }
  .text {
    display: table-cell;
    height: 60px;
    padding: 5px 85px 5px 25px;
    vertical-align: middle;
    letter-spacing: 3px;
    color: @dark-blue;
    word-break: break-word;
    text-align: left;
  }
  [class^="arrow-"] {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 60px;
    overflow: hidden;
    border-left: 2px solid @dark-blue;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  .arrow-right {background-image: url("@{image}/icon-right.png");}
  .arrow-down {background-image: url("@{image}/icon-down.png");}
  .no-touch &:hover {
    .arrow-right {animation: right .7s;}
    .arrow-down {animation: down .7s;}
  }
  &.button-white-style {
    color: white;
    border-color: white;
    .text {color: white;}
    [class^="arrow-"] {border-color: white;}
    .arrow-right {background-image: url("@{image}/icon-right-white.png");}
    .arrow-down {background-image: url("@{image}/icon-down-white.png");}
  }
}

// Media < 767
@media (max-width: @screen-xs-max) {
  .button-style {
    .text {
      height: 50px;
      padding: 5px 62px 5px 12px;
    }
    [class^="arrow-"] {width: 50px;}
    &.full-width {width: auto;}
  }
}

// Modal
#overlay, #loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(5, 104, 129, .9);
}
#overlay {
  display: none;
  z-index: 11;
}
#loading {z-index: 13;
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    animation: loading 1s linear infinite;
    &:nth-child(1) {
      .size(70px);
      margin-top: -35px;
      margin-left: -35px;
      box-shadow: 0 5px 3px white;
    }
    &:nth-child(2) {
      .size(60px);
      margin-top: -30px;
      margin-left: -30px;
      box-shadow: 5px 0 3px white;
    }
  }
}

//- Margin
.margins(30 40 50 60 70 80 110);
