// Icon
[class*="icon-"] {
  position: relative;
  display: inline-block;
  font-size: 0;
  border: 2px solid @dark-blue;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  &.white-state {border-color: white;}
  &.circle-icon {border-radius: 50%;}
  .no-touch &:focus {outline: none;}
}
.icon-up {background-image: url("@{image}/icon-up.png");
  .no-touch &:hover {animation: up .7s;}
  &.white-state {background-image: url("@{image}/icon-up-white.png");}
}
.icon-down {background-image: url("@{image}/icon-down.png");
  .no-touch &:hover {animation: down .7s;}
  &.white-state {background-image: url("@{image}/icon-down-white.png");}
  &.small-icon {.size(35px);}
}
.icon-left {background-image: url("@{image}/icon-left.png");
  .no-touch &:hover {animation: left .7s;}
  &.white-state {background-image: url("@{image}/icon-left-white.png");}
}
.icon-right {background-image: url("@{image}/icon-right.png");
  .no-touch &:hover {animation: right .7s;}
  &.white-state {background-image: url("@{image}/icon-right-white.png");}
}
.icon-twitter {background-image: url("@{image}/icon-twitter.png");}
.icon-fb {background-image: url("@{image}/icon-fb.png");}
.icon-google {background-image: url("@{image}/icon-google.png");}
.icon-close {border-color: white;
  span {
    display: block;
    .size(56px);
    background: url("@{image}/icon-close.png") no-repeat 50% 50%;
  }
  .no-touch &:hover {
    span {
      transition: transform .4s;
      transform: rotate(90deg);
    }
  }
}
.marker {
  display: inline-block;
  .size(39px, 34px);
  background: url("@{image}/icon-marker-red-big.png") no-repeat 0 0;
  .bgd-red & {
    background-image: url("@{image}/icon-marker-white-big.png");
  }
}
.icon-up, .icon-down, .icon-left, .icon-right, .icon-fb, .icon-twitter, .icon-google, .icon-close {.size(60px);}

@media (max-width: @screen-xs-max) {
  .icon-up, .icon-down, .icon-left, .icon-right, .icon-fb, .icon-twitter, .icon-google {.size(50px);}
  .icon-close {
    .size(40px);
    border: 1px solid @dark-blue;
    span {
      .size(38px);
      background-image: url("@{image}/icon-close-blue.png");
    }
  }
}
