@import "variable.less";
@import "mixin.less";

html, .main-nav a, .sub-nav li a, .sliders .title, .cover-block .title, .introduction-block .title, .introduction-block .description, .heading .title, .heading .tags, .social-preview .user span, .post-preview .content, .about-preview, .prize-preview .title, .order-wrap .order, .heading-1, .popup-about .title, .popup-social-feed .author .user span, .social-feeds-map .title, #footer .nav a, .copyright, .sliders .author, .cover-block .author {
  font-family: 'Hei', @font-family-sans-serif;
}
.lang-selected .text, .dropdown-menu a {
  font-family: @Heroic-Condensed-Heavy;
}

.main-nav a {
  padding-left: 12px;
  padding-right: 12px;
  .font-size(21px);
  letter-spacing: 1px;
}
.sliders .title, .cover-block .title {
  line-height: 1.1em;
}

@media (max-width: @screen-md-max) {
  .main-nav a {
    .font-size(18px);
  }
}

@media (max-width: @screen-sm-max) {
  .main-nav a {
    .font-size(15px);
  }
}

@media (max-width: @screen-xs-max) {
  @font-size-base: 14px;
  html {font-size: @font-size-base;}
  .main-nav a {
    .font-size(20px, @font-size-base);
  }
}

