// Home page
.home {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: @bgcolor url("@{image}/bgd-body.png") repeat 0 0;
    &.scrolling {background: white;
      .navbar-header {
        width: 22%;
        transition: width .4s .2s;
      }
      .navbar-collapse {
        width: 78%;
        transition: width .4s 0;
      }
      .main-nav {
        li {
          &:first-child {border-left: 1px solid @dark-blue;}
          li {
            &:first-child {border-left: none;}
          }
        }
      }
      & + #main {
        .logo-slider {
          top: -500px;
          opacity: 0.5;
          transition: opacity .2s, top .9s;
        }
      }
    }
  }
  .navbar-header {
    width: 0;
    transition: width .5s 0;
    overflow: hidden;
  }
  .navbar-collapse {
    width: 100%;
    transition: width .4s .2s;
  }
  .main-nav {
    li:first-child {border-left: none;}
  }
}
