// Popup
.popup-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 536px;
  z-index: 12;
  background-color: white;
  transition: opacity .5s linear;
  &.change {opacity: 0;
    &:before {
      content: "";
      .absolute();
      background-color: transparent;
    }
  }
  .header {position: relative;
    .icon-close {
      position: absolute;
      top: 0;
      right: -70px;
    }
  }
  .body {
    padding: 20px;
    overflow-y: auto;
    .thumb {text-align: center;
      img {
        display: block;
        width: 100%;
        font-size: 0;
      }
    }
    .desc {
      .font-size(14px);
      word-wrap: break-word;
    }
  }
}

// Popup About Lightbox
.popup-about {
  .title {
    display: inline-block;
    margin: -20px 0 28px 38px;
    font-family: @Heroic-Condensed-Heavy;
    .font-size(50px);
    text-transform: uppercase;
    letter-spacing: 5px;
    color: @dark-blue;
    transition: color .5s;
    .no-touch &:hover {color: black;}
  }
  .desc {
    padding: 0 40px;
    line-height: 1.3em;
  }
  .button-style {
    margin: 20px 0 20px 40px;
    border-width: 1px;
    [class^="arrow-"] {border-width: 1px;}
  }
}

// Popup Social Seeds Lightbox
.popup-social-feed {
  .title {
    margin-bottom: 20px;
    font-family: @Heroic-Condensed-Heavy;
    .font-size(50px);
    text-transform: uppercase;
    letter-spacing: .1em;
    color: @dark-blue;
    word-break: break-word;
  }
  .author {
    display: table;
    padding: 20px 0 10px;
    table-layout: fixed;
    width: 100%;
    .user {
      display: table-cell;
      width: 70%;
      vertical-align: middle;
      img, span {
        display: inline-block;
        vertical-align: middle;
      }
      img {
        .size(33px);
        font-size: 0;
        border-radius: 50%;
      }
      span {
        max-width: 70%;
        padding-left: 10px;
        font-family: @Heroic-Condensed-Heavy;
        letter-spacing: .1em;
        text-transform: uppercase;
        color: @dark-blue;
        word-wrap: break-word;
      }
    }
    .social-icon {
      display: table-cell;
      width: 30%;
      vertical-align: middle;
      text-align: right;
      .text {
        display: inline-block;
        padding-right: 5px;
        vertical-align: middle;
        color: @dark-blue;
      }
      [class^="sf-"] {
        display: inline-block;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: 0 0;
      }
      .sf-instagram {
        .size(20px, 19px);
        background-image: url("@{image}/icon-instagram-blue.png");
      }
      .sf-twitter {
        .size(22px, 17px);
        background-image: url("@{image}/icon-twitter-blue.png");
      }
      .sf-facebook {
        .size(11px, 21px);
        background-image: url("@{image}/icon-fb-blue.png");
      }
    }
  }
  .footer {overflow: hidden;}
  .desc {
    float: left;
    padding-left: 44px;
    width: 70%;
    line-height: 1.4em;
    a {color: @dark-blue;}
  }
  .button-slick {
    float: right;
    width: 30%;
    text-align: right;
    a {
      & + a {border-left: 0;}
    }
  }
}


// Mobile < 767
@media (max-width: @screen-xs-max) {
  @font-size-base: 14px;
  .popup-1 {
    position: absolute;
    right: 0;
    width: 100%;
    .header {height: 80px;
      .icon-close {
        top: 20px;
        right: 20px;
      }
    }
    .body {padding: 0 20px 20px;
      .desc {.font-size(14px, @font-size-base);}
    }
  }

  // About lightbox
  .popup-about {
    .title {
      margin: -18px 0 14px 29px;
      .font-size(36px, @font-size-base);
      letter-spacing: 3px;
    }
    .desc {
      padding: 0;
      line-height: 1.5em;
    }
    .button-style {margin-left: 0;}
  }

  // Popup Social Seed lightbox
  .popup-social-feed {
    .title {
      .font-size(36px, @font-size-base);
    }
    .desc, .button-slick {
      float: none;
      width: 100%;
    }
    .desc {padding-left: 0;}
    .button-slick {margin-top: 10px;
      a{
        .size(40px);
        border: 1px solid @dark-blue;
        & + a {border-left: 0;}
      }
    }
  }
}
