// Desktop 1024 => 1365
@media (min-width: @screen-desktop) and (max-width: 1365px) {
  // Post block
  .posts-block {padding-right: percentage(1 / @grid-columns);}
}

// < 1199
@media (max-width: @screen-md-max) {
  // Main nav
  .main-nav {
    a {
      padding-left: 10px;
      padding-right: 10px;
      .font-size(21px);
    }
  }

  .langs {
    img {
      max-width: 28px;
      margin-right: 10px;
    }
  }

  // Post detail block
  .post-details-block {
    .col-item-2 {width: 38.6%;}
    &.block-3 {
      .col-item-1 {width: 46.6%;}
    }
  }

  // Other Posts
  .other-posts {
    .col-item-2 {width: 39%;}
    .post-preview {
      .title {.font-size(40px);}
    }
  }
}

// Tablet < 1023
@media (max-width: @screen-sm-max) {
  // Header
  #header {
    .home & {background: white;}
  }

  // Navigation
  .navbar-header {
    .home & {width: 22%;}
    .logo {
      padding-top: 14px;
      padding-bottom: 10px;
      img {width: 140px;}
    }
  }
  .navbar-collapse {
    .home & {width: 78%;}
  }

  // Main nav
  .main-nav {
    li {
      &:first-child {.home & {border-left: 1px solid @dark-blue;}}
    }
    a {.font-size(15px);}
  }
  .langs {
    img {
      margin-right: 7px;
      max-width: 22px;
    }
  }
  .lang-selected {
    .text {
      &:after {margin-top: -2px;}
    }
  }
  .dropdown-menu {
    li {
      &:first-child {border-top: 1px solid @dark-blue;}
      .home &:first-child {border-left: none;}
    }
    a {padding-right: 0;}
  }

  // Heading
  .heading {
    .desc {padding-top: 30px;}
  }

  // Introduction block
  .introduction-block {padding: 100px 0 90px;
    .title {
      margin-bottom: 5px;
      .font-size(90px);
      line-height: 1.1em;
    }
    .button-wrap {margin-top: 20px;}
  }

  // Post block
  .posts-block {padding-top: 60px;
    .post-details & {padding-top: 40px;}
    .button-style {margin-bottom: 35px;}
  }
  .post-list {
    padding-top: 55px;
    margin-left: 0;
    margin-right: 0;
  }
  .post-preview {
    .content {padding-left: 15px;}
    .title {
      padding-bottom: 10px;
      .font-size(48px);
    }
    .desc {
      padding-left: 100px;
      margin-top: 0;
      .font-size(24px);
      &:before {width: 85px;}
    }
  }
  .button-wrap-1 {
    margin-left: 0;
    margin-right: 0;
  }

  // Other Posts
  .other-posts {
    .col-item-2 {width: 38%;}
    .post-preview {
      .title {.font-size(35px);}
      .desc {.font-size(18px);}
    }
  }

  // Social block
  .social-block {padding-top: 55px;}
  .social-list {padding-top: 35px;}
  .social-preview {
    .content {height: 280px;}
    .thumb {
      span {max-height: 200px;}
    }
  }
  .map {height: 730px;}
  .map-view {
    .heading {top: 55px;}
  }
  .filter-box {
    margin-top: 25px;
    margin-left: -30px;
  }
  .views {margin-top: 25px;}

  // About block
  .about-block {padding-top: 60px;
    .heading {margin-bottom: 20px;}
  }
  .about-list {padding-top: 0}

  // Infographic
  .infographic {margin-top: 35px;}

  // Prize block
  .prize-block {padding: 60px 0 25px;}
  .prize-list {margin-top: 35px;}
  .prize-preview {margin-bottom: 20px;
    &.margin-top-110 {margin-top: 70px;}
    .content {
      padding-left: 40px;
      transform: translateY(-16px);
    }
    .thumb {max-width: 70%;}
    .title {
      padding-bottom: 13px;
      .font-size(46px);
      line-height: .85;
    }
    .desc {
      padding-left: 68px;
      .font-size(15px);
      line-height: 1.4;
      &:before {
        top: 6px;
        width: 54px;
      }
    }
  }

  // Terms and Conditions
  .terms-block {padding: 60px 0;}

  // Share block
  .share-block {
    .share-group {
      .share {
        height: 50px;
        line-height: 47px;
      }
    }
  }

  // Video block
  .video-block {padding-top: 30px;}

  // Post details block
  .post-details-block {
    .col-item-2 {width: 37.5%;}
  }

  // Footer
  #footer {
    .logo-caltex-medium {width: 186px;}
    .nav {margin-left: 15px;}
  }
  .copyright{
    display: block;
    .nav-bottom, .corporation {display: block;}
    .corporation {
      margin-top: 10px;
      text-align: left;
    }
  }
  // editer-1
  .editer-1 {
    > ul {padding-left: 15px;}
    > ol {padding-left: 27px;}
  }
}

// Mobile < 767
@media (max-width: @screen-xs-max) {
  @font-size-base: 14px;
  html {font-size: @font-size-base;}

  // Header
  #header {height: auto;
    .home & {position: relative;}
    &.open {
      .icon-bar {background-position: 0 -15px;}
    }
    &.scrolling {
      .navbar-collapse {
        .home & {width: 100%;}
      }
    }
  }

  // Navigation
  .navbar-header, .navbar-collapse {width: 100%;
    .home & {
      float: none;
      width: 100%;
      transition: inherit;
    }
  }
  .navbar-header {
    float: none;
    display: block;
    text-align: left;
    .logo {padding: 14px 0 10px 14px;
      img {width: 190px;}
    }
    .navbar-toggle {
      float: right;
      display: inline-block;
      position: relative;
      top: 17px;
      right: 17px;
      padding: 11px 9px;
      .size(38px);
      border: 1px solid @dark-blue;
      background: none;
      outline: none;
      overflow: hidden;
      .icon-bar {
        .size(19px, 15px);
        background: url("@{image}/icon-nav.png");
        transition: all 0.4s;
        border: none;
        .open & {background-position: 0 15px;}
      }
    }
  }
  .navbar-collapse {
    display: none;
    position: relative;
    z-index: 1;
  }

  // Main nav
  .main-nav {
    display: block;
    table-layout: inherit;
    background-color: @dark-blue;
    li {
      display: block;
      border-top: 1px solid #045d74;
      border-left: none;
      &:first-child {border-top: none;}
      &:hover {border-color: #045d74;
        & + li {border-color: #045d74;}
      }
      &.langs {
        a {color: white;}
      }
      &.current {border-top: 1px solid #045d74;
        & + li {border-top: 1px solid #045d74;}
        a {background-color: @dark-blue;}
      }
      .dropdown-menu li:first-child {border-top: 1px solid #045d74;}
    }
    a {
      height: auto;
      padding: 17px 15px;
      .font-size(24px, @font-size-base);
      color: white;
      &.lang-selected {letter-spacing: 2px;}
    }
    .text {height: auto;}
  }
  .sub-nav {margin: -10px 20px 5px;
    li {border-top: none;
      a {
        padding: 12px 20px;
        font-family: @Anonymous-Pro-Bold;
        .font-size(16px, @font-size-base);
        text-transform: inherit;
        background: url("@{image}/arrow-white-1.png") no-repeat 0 50%;
      }
    }
  }
  .langs {background-color: @dark-blue;
    img {
      margin-right: 12px;
      max-width: 32px;
    }
  }
  .lang-selected {
    .text {
      &:after {background-image: url("@{image}/arrow-white.png");}
    }
  }
  .dropdown-menu {
    display: none;
    left: -1px;
    background-color: @dark-blue;
    li {
      &.current {
        a {
          color: white;
          background-color: @dark-blue;
        }
      }
    }
  }

  // Heading
  .heading {
    .title {.font-size(36px, @font-size-base);
      letter-spacing: .1em;
      &:before {margin-bottom: 15px;}
      .social-block &, .map-view & {.font-size(30px, @font-size-base)}
    }
    .tags {
      .font-size(19px, @font-size-base);
      letter-spacing: .25em;
    }
    .desc {padding-top: 27px;}
  }

  // Introduction block
  .introduction-block {padding: 30px 0 40px 0;
    .title {
      margin-bottom: 32px;
      .font-size(36px, @font-size-base);
      line-height: 1.35em;
    }
    .description {
      padding-left: 0;
      .font-size(14px, @font-size-base);
      &:before {
        display: block;
        height: 10px;
        margin-top: -30px;
      }
    }
    .button-wrap {display: inline-table;}
  }

  // Post block
  .posts-block {padding-top: 40px;
    .button-style {
      margin-bottom: 40px;
      transform: translateY(0);
    }
  }
  .post-list {padding-top: 35px;}
  .post-preview {margin-bottom: 40px;
    .content {
      .title {.font-size(48px, @font-size-base);}
    }
    .desc {padding-left: 145px;
      .font-size(16px, @font-size-base);
      &:before {
        top: 5px;
        width: 124px;
      }
    }
  }

  .button-wrap-1,
  .button-wrap-2 {
    text-align: center;
  }

  // Social block
  .social-block {padding-top: 40px;
    .heading {
      .desc {padding-top: 30px;}
    }
  }
  .social-list {
    padding-top: 30px;
    padding-bottom: 0;
  }
  .social-preview {margin-bottom: 40px;
    &.bgd-blue {
      .author {padding-top: 0;}
    }
    .content {height: auto;}
    .thumb {
      span {max-height: inherit;}
    }
    .author {padding: 20px 0 0;}
  }
  .map {height: 575px;}
  .map-view {
    .heading {top: 40px;}
  }

  // Filter box
  .filter-box {
    margin: 20px 0 0 -60px;
    .link-view {
      height: 40px;
      line-height: 42px;
      padding: 0 10px;
      span {
        letter-spacing: .1em;
        &:after {margin-left: 5px;}
      }
    }
    .scopes {
      left: auto;
      right: 0;
      padding: 10px;
    }
  }

  // List view
  .views {margin-top: 20px;
    a {
      height: 40px;
      padding-left: 20px;
      & + a {
        padding-left: 20px;
        text-align: left;
      }
    }
    img {width: 13px;}
    span {
      .font-size(14px, @font-size-base);
      letter-spacing: .2em;
    }
  }

  // About block
  .about-block {padding-top: 40px;}
  .about-preview {
    padding-top: 25px;
    .title {.font-size(36px, @font-size-base);
      margin-top: -15px;
    }
  }

  // Infographic
  .infographic {margin-top: 20px;}

  // Prize block
  .prize-block {padding: 40px 0 50px;}
  .prize-list {margin-top: 20px;}
  .prize-preview {margin-bottom: 5px;
    &.margin-top-110 {margin-top: 0;}
    .content {padding-left: 18px;}
    .thumb {
      display: block;
      max-width: 100%;
      img {width: 100%;}
    }
    .title {
      padding-bottom: 10px;
      .font-size(35px, @font-size-base);
    }
    .desc {
      padding-left: 52px;
      .font-size(15px, @font-size-base);
      line-height: 1.6;
      &:before {width: 40px;}
    }
  }

  // Terms and Conditions
  .terms-block {padding: 40px 0;}

 // Cover block
  .cover-block {
    .avatar {margin-right: 4px;
      img {max-width: 40px;}
    }
    .text {line-height: 1.3em;}
    .title { margin-left: 20px;}
  }

  // Video block
  .video-block {padding-top: 20px;}

  // share-block
  .share-block {
    padding-bottom: 20px;
    .circle-icon {
      float: none;
      display: block;
    }
    .share-group {
      .share {
        padding-right: 10px;
        height: 40px;
        line-height: 38px;
      }
      .icon-fb, .icon-twitter {
        .size(40px);
        border: 1px solid @dark-blue;
      }
    }
  }

  // Order
  .order-wrap {
    .order {.font-size(30px, @font-size-base);}
  }

  // Star
  .star {margin-left: 10px;}

  // Heding 1
  .heading-1 {
    a, span {
      padding-left: 32px;
      .font-size(30px, @font-size-base);
      background-position: 0 2px;
      background-size: 24px;
    }
  }
  .map-link {margin: 12px 0 0 30px;}

  // Post details block
  .desciption-top,
  .desciption-middle,
  .desciption-bottom {padding-top: 10px;}
  .post-details-block {padding: 25px 0 30px;
    .post-details-images {padding-top: 20px;}
    p {
      padding-top: 25px;
      line-height: 1.8em;
    }
    img {
      margin-top: 20px;
      width: 100%;
    }
    .col-item-1,
    .col-item-2 {
      float: none;
      margin-left: 0;
      width: 100%;
    }
    &.block-3 {
      .col-item-1 {
        float: none;
        width: 100%;
      }
    }
  }

  // Footer
  #footer {padding-top: 40px;
    .nav {margin: 25px 0 0 0;
      a {
        margin-bottom: 15px;
        .font-size(21px, @font-size-base);
      }
    }
  }
  .social {
    margin-top: 10px;
    float: inherit;
    .sroll-top {
      height: 50px;
      line-height: 48px;
      .icon-up {
        margin: 0 15px 0 8px;
        background-size: 8px;
      }
    }
  }
  .copyright {
    padding: 25px 0;
    margin-top: 30px;
    .font-size(14px, @font-size-base);
    line-height: 1.4em;
    .corporation {margin-top: 0;}
    span {display: block;}
  }

  // Other Posts
  .other-posts {
    img {
      margin-top: 20px;
      width: 100%;
    }
    .col-item-1,
    .col-item-2 {
      float: none;
      margin-left: 0;
      width: 100%;
    }
  }
}


