// Main Slider
.main-slider {
  position: relative;
  max-width: 1400px;
  margin: 70px auto 28px;
  .icon-down {margin: 16px 0 20px;}
}
.logo-slider {
  position: absolute;
  top: 60px;
  z-index: 1;
  margin-left: 15px;
  opacity: 1;
  transition: opacity 1s, top .5s;
}
.sliders, .cover-block {
  position: relative;
  .clearfix();
  .slick-prev,
  .slick-next {margin-top: -30px;}
  .slick-prev {left: 20px;}
  .slick-next {right: 20px;}
  .thumb {
    display: block;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 100%;
      right: 0;
      left: 50%;
      z-index: -1;
      box-shadow: 0 0 35px 25px #b0b0b0;
      transform: rotate(2deg) translate(-50px, -20px);
    }
  }
  figcaption {
    position: relative;
    z-index: 1;
    margin-top: -160px;
    font-family: @Heroic-Condensed-Heavy;
    text-transform: uppercase;
    user-select: none;
    color: @dark-blue;
    .grid-fluid;
    .inner {.make-row();}
  }
  .author {
    min-height: 99px;
    .font-size(40px);
    line-height: .9em;
    letter-spacing: .2em;
    &:after {
      content: "";
      display: block;
      .size(65px, 10px);
      margin-top: 17px;
      background-color: @light-red;
    }
  }
  .title {
    .font-size(110px);
    line-height: .9em;
    letter-spacing: .2em;
  }
}
.cover-block {
  .author {display: inline-block;}
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  outline: none;
  .no-touch &:focus {outline: none;}
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  .clearfix();
  .slick-loading & {visibility: hidden;}
}
.slick-slide {
  position: relative;
  display: none;
  float: left;
  min-height: 1px;
  user-select: none;
  .slick-initialized & {display: block;}
  .slick-loading & {visibility: hidden;}
  img {display: block;
    .slick-loading& {display: none;}
  }
}
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  .size(60px);
  padding: 0;
  overflow: hidden;
  font-size: 0;
  text-align: center;
  background-color: transparent;
  border: 2px solid #045468;
  outline: none;
  .no-touch &:focus {outline: none;}
}
.slick-prev {background: url("@{image}/icon-left-blue.png") no-repeat 50% 50%;
  .no-touch &:hover {animation: left .5s;}
}
.slick-next {background: url("@{image}/icon-right-blue.png") no-repeat 50% 50%;
  .no-touch &:hover {animation: right .5s;}
}

// 1024 -> 1200
@media (min-width: @screen-sm-min) and (max-width: 1200px) {
  .logo-slider {
    left: 100px;
    max-width: 190px;
  }
}


// Tablet < 1023
@media (max-width: @screen-sm-max) {
  // Main slider
  .main-slider {margin-bottom: 0;
    .icon-down {margin-bottom: 60px;}
  }
  .logo-slider {display: none;}
  .sliders, .cover-block {
    .title {
      .font-size(100px);
      line-height: 0.85;
    }
    figcaption {margin-top: -125px;}
  }
}

// Mobile < 767
@media (max-width: @screen-xs-max) {
  @font-size-base: 14px;
  // Main slider
  .main-slider {margin-top: 0;
    .icon-down {
      margin-top: 10px;
      margin-bottom: 40px;
    }
  }
  .sliders, .cover-block {
    .slick-prev,
    .slick-next {
      .size(50px);
      margin-top: 0;
    }
    .slick-next {left: 69px;}
    .thumb {
      &:after {transform: rotate(2deg) translate(-50px, -30px);}
    }
    figcaption {
      padding-top: 20px;
      margin-top: 0;
    }
    .author {
      min-height: inherit;
      .font-size(21px, @font-size-base);
      line-height: 1.1;
    }
    .title {
      padding-top: 10px;
      .font-size(48px, @font-size-base);
      line-height: 1;
    }
  }
}
