// Header
#header {
  position: relative;
  .size(100%, 70px);
  z-index: 10;
  background-color: white;
  &:extend(.clearfix);
}

// Navigation
.navbar-header {
  float: left;
  display: block;
  width: 22%;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  .logo {
    display: inline-block;
    padding-top: 6px;
    img {max-width: inherit;}
  }
  .navbar-toggle {display: none;}
}
.navbar-collapse {
  float: right;
  width: 78%;
}
.main-nav {
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: transparent;
  li {
    position: relative;
    z-index: 10;
    display: table-cell;
    vertical-align: middle;
    border-left: 1px solid @dark-blue;
    transition: border .5s;
    &.current {border-color: @light-red;
      & + li {border-color: @light-red;}
      a {
        color: white;
        background-color: @light-red;
        transition: color .5s, background-color .5s;
      }
    }
  }
  a {
    display: block;
    padding: 0 20px;
    font-family: @Heroic-Condensed-Heavy;
    .font-size(24px);
    letter-spacing: 2px;
    text-transform: uppercase;
    color: @dark-blue;
    transition: color .5s, background-color .5s;
    .no-touch &:hover {
      color: white;
      background-color: @light-red;
      transition: color .5s, background-color .5s;
    }
    &.lang-selected {
      padding-right: 0;
      letter-spacing: 0;
      .no-touch &:hover {
        color: @dark-blue;
        background-color: transparent;
        transition: color .5s, background-color .5s;
      }
    }
  }
  .text {
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    word-break: break-word;
  }
}
.sub-nav {position: relative;
  li {
    display: block;
    border-left: none;
  }
}

// Language
.langs {
  img {
    display: inline-block;
    max-width: 32px;
    margin-right: 15px;
  }
  span {cursor: pointer;}
  &.open {
    .lang-selected {
      span {
        &:after {
          margin-top: -5px;
          transform: rotate(-180deg);
        }
      }
    }
  }
}
.lang-selected {
  .text {
    &:after {
      content: "";
      display: inline-block;
      .size(10px, 5px);
      margin-top: -4px;
      margin-left: 6px;
      vertical-align: middle;
      background: url("@{image}/icon-arrow.png") no-repeat 0 0;
      transition: transform 0.4s;
    }
  }
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  li {
    display: block;
    border-left: none;
    transition: background-color 0.4s;
    &.current, .no-touch &:hover {
      a {
        color: @dark-blue;
        background-color: #e9e9e9;
      }
    }
  }
  a {
    padding: 10px 0 10px 20px;
    letter-spacing: 1px;
  }
}

// Footer
#footer {
  padding-top: 60px;
  background-color: white;
  .logo-caltex-medium {display: block;}
  .nav {margin-left: 25px;
    a {
      display: inline-block;
      margin-bottom: 22px;
      font-family: @Heroic-Condensed-Heavy;
      .font-size(28px);
      text-transform: uppercase;
      color: @dark-blue;
      transition: color .5s;
      .no-touch &:hover {
        color: @light-red;
        transition: color .5s;
      }
    }
  }
}
.social {float: right;
  li {float: left;
    a {
      display: block;
      border: 1px solid @dark-blue;
      border-left: 0;
      [class*="icon-"] {border: none;}
    }
   &:first-child {
      a {border-left: 1px solid @dark-blue;}
    }
  }
  .sroll-top {
    display: inline-block;
    height: 60px;
    line-height: 58px;
    .text {
      display: inline-block;
      padding-left: 20px;
      vertical-align: top;
    }
    .icon-up {
      width: 10px;
      margin: 0 22px 0 8px;
    }
    &:hover {
      .icon-up {animation: up .7s;}
    }
  }
}
.copyright {
  display: table;
  padding: 34px 0;
  margin-top: 26px;
  width: 100%;
  font-family: @font-family-base;
  .font-size(15px);
  border-top: 1px solid @dark-blue;
  .nav-bottom, .corporation {display: table-cell;}
  /* .caltex-fb {
    display: inline-block;
    margin-left: 7px;
    .size(8px, 16px);
      background: url("@{image}/icon-fb.png") no-repeat;
      vertical-align: text-bottom;
  } */
  .corporation {text-align: right;}
  a {
    display: inline-block;
    padding: 0 10px;
    background: url("@{image}/bgd-bd.jpg") no-repeat left center;
    &:first-child {
      padding-left: 0;
      background: transparent;
    }
    .no-touch &:hover {color: @light-red;}
  }
}
