// Typography
@font-family-sans-serif: Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
@font-family-monospace: Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base: "Anonymous-Pro", @font-family-sans-serif;
@Anonymous-Pro-Bold: "Anonymous-Pro-Bold";
@Heroic-Condensed-Heavy: "Heroic-Condensed-Heavy";
@Heroic-Condensed-Medium: "Heroic-Condensed-Medium";
@Heroic-Condensed-Black: "Heroic-Condensed-Black";
@font-size-base: 16px;

// Color
@color: #000;
@bgcolor: #fff;
@text-color: @color;
@placeholder-color: @color;
@light-red: #f15855;
@dark-blue: #056881;
@silver: #b2b2b2;

// Link
@link-color: @dark-blue;
@link-hover-color: darken(@link-color, 15%);
@link-active-color: darken(@link-color, 10%);
@link-visited-color: darken(@link-color, 5%);

// Image
@image: "../images";

// Grid System
@screen-xs: 480px;
@screen-xs-min: @screen-xs;
@screen-phone: @screen-xs-min;
@screen-sm: 768px;
@screen-sm-min: @screen-sm;
@screen-tablet: @screen-sm-min;
@screen-md: 1024px;
@screen-md-min: @screen-md;
@screen-desktop: @screen-md-min;
@screen-lg: 1200px;
@screen-lg-min: @screen-lg;
@screen-lg-desktop: @screen-lg-min;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);
@grid-columns: 12;
@grid-gutter-width: 28px;
@grid-float-breakpoint: @screen-sm-min;
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);
@grid-tablet: (720px + @grid-gutter-width);
@grid-sm: @grid-tablet;
@grid-desktop: (940px + @grid-gutter-width);
@grid-md: @grid-desktop;
@grid-large-desktop: (1140px + @grid-gutter-width);
@grid-lg: @grid-large-desktop;
@grid-content: 1128px;
