@font-face {
  font-family: 'fontawesome';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg#fontawesome') format('svg');
}
html,
body,
div,
span,
embed,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
output,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
label,
main,
section,
article,
aside,
canvas,
details,
summary,
figure,
figcaption,
header,
footer,
hgroup,
menu,
nav,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  background: #ffffff;
  color: #000000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
}
main,
section,
article,
aside,
details,
summary,
figure,
figcaption,
header,
footer,
hgroup,
menu,
nav {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table,
caption,
tbody,
thead,
tfoot,
tr,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
}
textarea {
  font-family: inherit;
  overflow: auto;
  vertical-align: top;
  resize: none;
}
input,
select {
  vertical-align: middle;
}
select,
button {
  text-transform: none;
}
label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
}
input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
sub,
sup {
  position: relative;
  line-height: 0;
  font-size: 75%;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
b,
strong,
optgroup {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
small {
  font-size: 80%;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff0;
  color: #000;
  font-style: italic;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
code,
kbd,
pre,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
}
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}
a {
  color: #000000;
  text-decoration: none;
}
a:visited {
  color: #000000;
}
a:hover {
  color: #000000;
}
a:active {
  color: #000000;
}
a:focus {
  outline: 0;
}
.slider-wrapper {
  width: 600px;
  overflow: hidden;
  position: relative;
}
.slider {
  position: relative;
  height: 100%;
  transition: margin ease, opacity ease;
}
.item {
  position: absolute;
  top: 0;
  left: 0;
  transition: inherit;
  z-index: 0;
}
.showed {
  opacity: 1;
  z-index: 9999;
}
.hidden {
  display: none;
}
.fade-out {
  opacity: 0;
  z-index: -1;
}
.navigator {
  position: absolute;
  bottom: 20px;
  z-index: 3;
  left: 50%;
  margin-left: -39px;
}
.bullet {
  background: url(../images/bullet.png) no-repeat;
  cursor: pointer;
  width: 26px;
  height: 26px;
  line-height: 21px;
  float: left;
}
.bullet.active,
.bullet:active {
  background-position: -60px 0;
}
.bullet:hover {
  background-position: -30px 0;
}
.bullet.active:hover {
  background-position: -60px 0;
}
[class^="arrow-"] {
  background: url(../images/arrow.png) no-repeat;
  width: 55px;
  height: 55px;
  top: 50%;
  margin-top: -22px;
  position: absolute;
  cursor: pointer;
  display: block;
  z-index: 3;
}
.arrow-left {
  left: 10px;
  background-position: -3px -33px;
}
.arrow-left:hover {
  background-position: -123px -33px;
}
.arrow-left:active {
  background-position: -243px -33px;
}
.arrow-right {
  background-position: -63px -33px;
  right: 10px;
}
.arrow-right:hover {
  background-position: -183px -33px;
}
.arrow-right:active {
  background-position: -303px -33px;
}
input {
  margin-top: 40px;
  padding-left: 5px;
}
.btn-group {
  margin-top: 10px;
}
.btn-group a {
  display: inline-block;
  padding: 10px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 10px;
}
.btn-group a:first-child {
  margin-left: 0;
}
.btn-group .change-effect--btn {
  background: red;
}
.btn-group .go-to--btn {
  background: blue;
}
.slide {
  overflow: hidden;
}
.slide .item {
  position: static;
  float: left;
}
#container {
  margin: 0 auto;
  width: 980px;
}
#container > .inner {
  width: 100%;
  margin: 10px auto;
}
#container > .inner:before,
#container > .inner:after {
  display: table;
  content: "";
}
#container > .inner:after {
  clear: both;
}
#header {
  width: 100%;
}
#header .logo {
  font-size: 30px;
  opacity: 0.5;
}
#header nav {
  margin: 5px 0;
  padding: 10px;
  height: 14px;
  border: 1px solid #ddd;
  background: #f7f7f7;
  border-radius: 3px;
  box-shadow: 0 1px 1px;
}
#header nav li {
  float: left;
  padding: 0 5px;
}
#header nav .active a {
  color: gray;
}
#sidebar {
  float: left;
  padding: 10px;
  width: 220px;
  min-height: 500px;
  background: #f7f7f7;
  border-radius: 3px;
  box-shadow: 0 1px 1px;
}
#main {
  float: right;
  padding: 10px;
  width: 710px;
  min-height: 500px;
  background: #f7f7f7;
  border-radius: 3px;
  box-shadow: 0 1px 1px;
}
#footer {
  padding: 10px;
  background: #f7f7f7;
  border-radius: 3px;
  box-shadow: 0 1px 1px;
}
