header#header
  +singleMenu([
    {title: 'Home', href: 'index.html'},
    {title: 'javascript', href: 'js.html'},
    {title: 'Sitemap', href: 'sitemap.html'}
  ]).main-nav.clearfix
  //-nav.nav.clearfix
    ul.navigation
      +items([
        {title: 'Home', href: 'index.html'},
        {
          title: 'javascript',
          href:'js.html',
          subList: [
            {title: 'AJAX'},
            {
              title: 'RSS',
              subClass: 'hehe',
              subList: [
                {title: 'Local'},
                {
                  title: 'Online',
                  subList: [
                    {title: 'rss 1'},
                    {title: 'rss 2'}
                  ],
                  subActive: sub3
                }
              ],
              subActive: sub2
            },
            {title: 'XML'},
          ], subActive: sub1
        },
        {title: 'Sitemap', href: 'sitemap.html'}
      ], mainNav)
