aside.sidebar
  h2 Fixed
  nav.sidenav
    li: +input({})
    li akshdk hkahskd ahksd kashjd kahjskd k akshdk hkahskd ahksd kashjd kahjskd k
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li bac
    li 200000
