@font-face {
  font-family: 'agneregular';
  src: url('../fonts/agne-regular-webfont.eot');
  src: url('../fonts/agne-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/agne-regular-webfont.woff2') format('woff2'), url('../fonts/agne-regular-webfont.woff') format('woff'), url('../fonts/agne-regular-webfont.ttf') format('truetype'), url('../fonts/agne-regular-webfont.svg#agneregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bauer_bodoni_stditalicosf';
  src: url('../fonts/bauerbodonistd-italicosf-webfont.eot');
  src: url('../fonts/bauerbodonistd-italicosf-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/bauerbodonistd-italicosf-webfont.woff2') format('woff2'), url('../fonts/bauerbodonistd-italicosf-webfont.woff') format('woff'), url('../fonts/bauerbodonistd-italicosf-webfont.ttf') format('truetype'), url('../fonts/bauerbodonistd-italicosf-webfont.svg#bauer_bodoni_stditalicosf') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'houschka_prodemibold';
  src: url('../fonts/g-type_-_houschkapro-demibold-webfont.eot');
  src: url('../fonts/g-type_-_houschkapro-demibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/g-type_-_houschkapro-demibold-webfont.woff2') format('woff2'), url('../fonts/g-type_-_houschkapro-demibold-webfont.woff') format('woff'), url('../fonts/g-type_-_houschkapro-demibold-webfont.ttf') format('truetype'), url('../fonts/g-type_-_houschkapro-demibold-webfont.svg#houschka_prodemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'houschka_promedium';
  src: url('../fonts/g-type_-_houschkapro-medium-webfont.eot');
  src: url('../fonts/g-type_-_houschkapro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/g-type_-_houschkapro-medium-webfont.woff2') format('woff2'), url('../fonts/g-type_-_houschkapro-medium-webfont.woff') format('woff'), url('../fonts/g-type_-_houschkapro-medium-webfont.ttf') format('truetype'), url('../fonts/g-type_-_houschkapro-medium-webfont.svg#houschka_promedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PalatinoLinotype-Roman';
  src: url('../fonts/palatinolinotype.eot');
  src: url('../fonts/palatinolinotype.eot?#iefix') format('embedded-opentype'), url('../fonts/palatinolinotype.woff') format('woff'), url('../fonts/palatinolinotype.ttf') format('truetype'), url('../fonts/palatinolinotype.svg#palatinolinotype') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'houschka_probold';
  src: url('../fonts/g-type_-_houschkapro-bold-webfont.eot');
  src: url('../fonts/g-type_-_houschkapro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/g-type_-_houschkapro-bold-webfont.woff2') format('woff2'), url('../fonts/g-type_-_houschkapro-bold-webfont.woff') format('woff'), url('../fonts/g-type_-_houschkapro-bold-webfont.ttf') format('truetype'), url('../fonts/g-type_-_houschkapro-bold-webfont.svg#houschka_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Mixing */
.font1 {
  font-family: 'houschka_prodemibold', Arial, Calibri, Geneva, sans-serif;
  text-transform: uppercase;
}
.font2 {
  font-family: 'houschka_promedium', Arial, Calibri, Geneva, sans-serif;
}
.font3 {
  font-family: 'bauer_bodoni_stditalicosf', Arial, Calibri, Geneva, sans-serif;
}
.font4 {
  font-family: 'PalatinoLinotype-Roman', Arial, Calibri, Geneva, sans-serif;
}
.font5 {
  font-family: 'agneregular', Arial, Calibri, Geneva, sans-serif;
}
.font6 {
  font-family: 'houschka_probold', Arial, Calibri, Geneva, sans-serif;
}
b,
strong,
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
/* Default animation class */
.lazy-load-box {
  -moz-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -o-transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
  -webkit-transition: all 600ms ease-out;
  -o-transition: all 600ms ease-out;
  -moz-transition: all 600ms ease-out;
  -ms-transition: all 600ms ease-out;
  transition: all 600ms ease-out;
  opacity: 1;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes navSlideFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-moz-keyframes navSlideFromLeft {
  /* Firefox */
  from {
    -moz-transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(0);
  }
}
@-webkit-keyframes navSlideFromLeft {
  /* Safari and Chrome */
  from {
    -webkit-transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes navSlideFromLeft {
  /* Opera */
  from {
    -o-keytransform: translateX(-100%);
  }
  to {
    -o-keytransform: translateX(0);
  }
}
@keyframes contentSlideFromLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(25%);
  }
}
@-moz-keyframes contentSlideFromLeft {
  /* Firefox */
  from {
    -moz-transform: translateX(0);
  }
  to {
    -moz-transform: translateX(25%);
  }
}
@-webkit-keyframes contentSlideFromLeft {
  /* Safari and Chrome */
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(25%);
  }
}
@-o-keyframes contentSlideFromLeft {
  /* Opera */
  from {
    -o-keytransform: translateX(0);
  }
  to {
    -o-keytransform: translateX(25%);
  }
}
@keyframes navSlideFromRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-25%);
  }
}
@-moz-keyframes navSlideFromRight {
  from {
    -moz-transform: translateX(0);
  }
  to {
    -moz-transform: translateX(-25%);
  }
}
@-webkit-keyframes navSlideFromRight {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-25%);
  }
}
@-o-keyframes navSlideFromRight {
  from {
    -o-transform: translateX(0);
  }
  to {
    -o-transform: translateX(-25%);
  }
}
@keyframes contentSlideFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@-moz-keyframes contentSlideFromRight {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(0);
  }
}
@-webkit-keyframes contentSlideFromRight {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
  }
}
@-o-keyframes contentSlideFromRight {
  from {
    -o-transform: translateX(100%);
  }
  to {
    -o-transform: translateX(0);
  }
}
@keyframes zoomOutIn {
  0 {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes zoomOutIn {
  0 {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.5);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@-webkit-keyframes zoomOutIn {
  0 {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-o-keyframes zoomOutIn {
  0 {
    -o-transform: scale(1);
  }
  50% {
    -o-transform: scale(1.5);
  }
  100% {
    -o-transform: scale(1);
  }
}
.middle-text {
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 20;
}
.middle-text h2 {
  color: red;
}
