*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  color: #331d35;
  background-color: #e7e7e7;
}
a {
  color: #41307c;
  text-decoration: none;
}


.heading {
  color: #222;
  text-transform: uppercase;
  text-align: center;
}
.heading:after {
  display: block;
  content: "";
  height: 2px;
  width: 200px;
  background: #ffc400;
  margin: 15px auto;
  position: relative;
}
.heading h2{
  font-size: 24px;
  margin-bottom: 10px;
}
.heading h3 {
  color: #222;
  font-size: 30px;
}


.cd-filters {
  text-align: center;
  margin-top: 30px;
}
.cd-filters li {
  display: inline-block;
}
.cd-filters li a {
  color: #333 !important;
  background: #f4f4f4;
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 3px;
  padding: 8px 16px;
  text-shadow: none;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  -webkit-transform: all 300ms ease-in-out;
     -moz-transform: all 300ms ease-in-out;
      -ms-transform: all 300ms ease-in-out;
       -o-transform: all 300ms ease-in-out;
          transform: all 300ms ease-in-out;
}
.cd-filters li a:hover,
.cd-filters li a.selected {
  background: #ffc400;
  border-color: transparent;
}


.cd-gallery {
  padding: 26px 0;
  width: 100%;
  overflow: hidden;
}
.cd-gallery ul {
  font-size: 0;
}
.cd-gallery li {
  display: none;
  position: relative;
  overflow: hidden;
}
.cd-gallery .thumb {
  position: relative;
  display: block;
  height: 100%;
  z-index: 0;
}
.cd-gallery .thumb img {
  -moz-transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
.cd-gallery li:hover .thumb img {
  -webkit-transform: rotate(0deg) scale(1.3);
     -moz-transform: rotate(0deg) scale(1.3);
      -ms-transform: rotate(0deg) scale(1.3);
       -o-transform: rotate(0deg) scale(1.3);
          transform: rotate(0deg) scale(1.3);
}
.cd-gallery .caption {
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding: 40px 10px;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  background: rgba(225, 196, 0, 0.75);
  cursor: url('http://demo.whoathemes.com/xlander/v3/wp-content/themes/xlander/img/pointer.png'), crosshair;
}
.cd-gallery .caption:hover {
  opacity: 1;
}
.cd-gallery .caption h3 {
  font-size: 30px;
}

.cd-gallery li.gap {
  opacity: 0;
  height: 0;
  display: inline-block;
}
.cd-gallery img {
  display: block;
  width: 100%;
}
.cd-gallery .cd-fail-message {
  display: none;
  text-align: center;

}


@media only screen and (max-width: 768px) {
  .cd-gallery li {
    width: 50%;
  }
}

@media only screen and (max-width: 480px) {
  .cd-gallery li {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .cd-gallery {
    padding: 40px 0;
  }
  .cd-gallery ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-gallery li {
    width: 25%;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-gallery {
    padding: 50px 0;
    float: right;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-gallery.filter-is-visible {
    width: 80%;
  }
}


.blogs-block img{
  display: block;
  width: 100%;
}


footer {
  text-align: center;
  background-color: #000;
}


.light-typo {
  background-color: #80B959;
  padding: 55px 0;
  min-height: 200px;
  padding-bottom: 1em;
  position: relative;
}
.image-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("http://demo.angelostudio.net/keylime/img/img5.jpg");
  background-position: center center;
  background-size: cover;
  -webkit-animation-delay: 0.15s;
  -moz-animation-delay: 0.15s;
  -o-animation-delay: 0.15s;
  -ms-animation-delay: 0.15s;
  animation-delay: 0.15s;
  transform: translateZ(0);
}
.image-bg:before {
  content: '';
  position: absolute;
  display: block;
  height: 100%;
  left: 0;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}

.middle-text {
  text-align: center;
  position: relative;
  display: table-cell;
  vertical-align: middle;
  z-index: 20;
}

/* Header--*/
.main-nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 55px;
  line-height: 55px;
  z-index: 10;
}
.nav-icon {
    float: right!important;
    width: 55px;
    height: 55px;
    margin-right: -15px;
    border: 0;
    color: #FFF;
}
