.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  @sprite-offset-y-2x: floor(unit(@sprite-offset-y));
  background-position: @sprite-offset-x unit(@sprite-offset-y-2x, px);
}

.sprite-position2x(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  @sprite-offset-y-2x: floor(unit(@sprite-offset-y)/2);
  background-position: @sprite-offset-x unit(@sprite-offset-y-2x, px);
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8]`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

.sprite-2x(@sprite) {
  .sprite-position2x(@sprite);
  .sprite-background-size(@sprite);
}

.sprite-background-size(@sprite) {
  //get total width and height of sprite
  @total-width: ~`"@{sprite}".split(', ')[6].replace('px','')`;
  @total-height: ~`"@{sprite}".split(', ')[7].replace('px','')`;

  // used unit function to convert it to number, then used floor function to calculator background size
  @background-total-width: floor(unit(@total-width)/2);
  @background-total-height: floor(unit(@total-height)/2);

  // used unit function to add px after number
  background-size: unit(@background-total-width, px) unit(@background-total-height, px);

  @width: ~`"@{sprite}".split(', ')[4]`;
  @height: ~`"@{sprite}".split(', ')[5]`;

  height: unit( floor( unit(@height) / 2 ), px);
  width: unit( floor( unit(@width) / 2 ), px);
}
