figure.cover-block
  .thumb
    +img-upload('Slider', 'img-slider-2.jpg')
  figcaption(data-popup="personDetail", data-id-popup="person-popup")
    +link('Jian Hao', 'javascript:;' ).author.col-md-offset-1.col-lg-offset-0(data-detail-img='images/upload/img-about-1.jpg', data-detail-name='Jian Hao', data-detail-decs='21 years old youtube star, one of Singapore’s most popular channel. He directs, writes and acts. This year, Jianhao will be starring as the lead for a new short film directed by Jack Neo. The youtuber has also seized the opportunity and is running his own company : The JianHao Tan. He is currently exploring ways and expanding his business further.', data-link-btn="post-details.html", data-text-btn="View journey")
        span.avatar
          +img-upload('avatar', 'img-popup.jpg')
        span.text
          | Nightowl
          br
          | Cinematics
    h2.col-sm-offset-2.title Journey To The West
.share-block
  .grid-fluid
    .row
      .col-sm-9.col-sm-offset-2.col-xs-offset-1
        .share-group
          span.share Share
          +link('Facebook').icon-fb(data-share="facebook")
          +link('Twitter').icon-twitter(data-share="twitter")
        span.star(data-rating="span")
          span.active
          span.active
          span.active
          span.active
          span
        +link('Down', 'javascript:;')(data-scroll-to="#post-details-1").icon-down.circle-icon.small-icon
.video-block
  .grid-fluid
    .row
      .col-md-8.col-md-offset-3.col-sm-12
        .embed-responsive
          iframe( src="https://www.youtube.com/embed/zpOULjyy-n8" frameborder="0" allowfullscreen).embed-responsive-item
