footer#footer
  .grid-fluid
    .row
      .col-sm-3
        +link('Caltex FuelMyCity', 'index.html').logo-caltex-medium
          +img('Caltex', 'logo-caltex-medium.png')
      .col-sm-3
        ul.nav
          li: +link('About', 'about.html')
          li: +link('Journeys', 'post.html')
          li: +link('Social feeds', 'social-feeds.html')
          li: +link('Merchandise', 'prizes.html')
      .col-sm-6
        ul.social
          li
            +link('Twitter', 'https://twitter.com/intent/tweet?').icon-twitter(data-share="twitter", data-text="text test...", data-on-footer="true")
          li
            +link('Facebook', '/').icon-fb(data-share="facebook", data-bitly-link="www.fuelmycity.com", data-text="text text text text", data-img="http://caltex-fuelmycity.dan.sutrix.com/wp-content/uploads/2015/05/img-7.jpg", data-caption="Caption here!")
          li
            +link('Google + ', '/').icon-google(data-share="googleplus")
          li
            +link('Top', '/')(data-back-to-top="").sroll-top
              span.text Top
              span.icon-up
    .copyright
      .nav-bottom
        +link('Caltex Worldwide', 'http://www.caltex.com/global/')
        +link('Contact Us', 'https://www.caltex.com/global/contact-us/')
      .corporation
        +link('Terms Of Use', '/')
        +link('Privacy Statement', '/')
        span &#169; 2015 Chevron Corporation.
        span All Rights Reserved.
