header#header(data-scrolling="", data-dropdown=".navbar-toggle", data-target=".navbar-collapse")
  .navbar-header
    +link('Caltex FuelMyCity', 'index.html').logo
      +img('Caltex', 'logo-caltex-small.png')
    button(type='button').navbar-toggle
      span.icon-bar
  nav.navbar-collapse
    ul.main-nav
      +items([
        {title: 'About', href: 'about.html'},
        {title: 'Journeys', href: 'post.html',
          subList: [
            {title: 'Jian Hao'},
            {title: 'Dee kosh'},
            {title: 'Audrey'},
            {title: 'Night owl cinematics'}
          ],
          subClass: 'sub-nav visible-xs'
        },
        {title: 'Social feeds', href: 'social-feeds.html'},
        {title: 'Merchandise', href: 'prizes.html'},
      ], activeIndex)
      li.langs(data-dropdown=".lang-selected", data-target=".dropdown-menu")
        +link('Eng', 'javascript:;').lang-selected
          span.text
            +img-upload('image-1', 'img-en.png')
            span Sg Eng
        ul.dropdown-menu
          li.current
            +link('Eng', 'javascript:;')
              +img-upload('image-2', 'img-hk-en.png')
              span Hk Eng
          li
            +link('Thai', 'javascript:;')
              +img-upload('image-3', 'img-hk-en.png')
              span Hk Eng
          li
            +link('Lao', 'javascript:;')
              +img-upload('image-4', 'img-my-en.png')
              span My Eng
          li
            +link('Lao', 'javascript:;')
              +img-upload('image-4', 'img-ph-en.png')
              span Ph Eng
          li
            +link('Lao', 'javascript:;')
              +img-upload('image-6', 'img-en.png')
              span Sg Eng
          li
            +link('Lao', 'javascript:;')
              +img-upload('image-7', 'img-th-thai.png')
              span Th Thai
