.main-slider
  .grid-fluid
    +img('logo', 'logo-slider.png').logo-slider
  .sliders(data-home-slider="")
    figure
      +link('Slider', 'post-details.html').thumb
        +img-upload('Slider', 'img-slider-1.jpg')
      figcaption
        p.author
          | Nightowl
          br
          | Cinematics
        h2.title.col-xs-offset-1.col-sm-offset-2 Kusu island off sentosa
    figure
      +link('Slider', 'post-details.html').thumb
        +img-upload('Slider', 'img-slider-2.jpg')
      figcaption
        p.author
          | Nightowl
          br
          | Cinematics
        h2.title.col-xs-offset-1.col-sm-offset-2 Kusu island off sentosa
    figure
      +link('Slider', 'post-details.html').thumb
        +img-upload('Slider', 'img-slider-3.jpg')
      figcaption
        p.author
          | Nightowl
          br
          | Cinematics
        h2.title.col-xs-offset-1.col-sm-offset-2 Kusu island off sentosa
  .grid-fluid
    .row
      .col-sm-8.col-xs-offset-1.col-sm-offset-2
        +link('Down', 'javascript:;')(data-scroll-to="#introduction-block").icon-down.circle-icon.small-icon
