.introduction-block#introduction-block(style="background-image: url('images/bgd-single-post.jpg')")
  .grid-fluid
    .row
      h2.col-sm-offset-1.col-sm-11.title A journey of discovery around asia.
    .row
      .col-md-7.col-sm-offset-1
        blockquote.description
          | Join us we follow various personalities road-tripping in an around your city. Shining a light upon where they hangout and have fun. Pit-stopping at strange locations, cool eateries, underground gigs, shpping spots anf other secret venues in the city
      .col-md-4.col-sm-11.col-sm-offset-1.col-md-offset-0.text-center
        .button-wrap
          +link('About', 'about.html').button-style.button-white-style
            span.text About
            span.arrow-right
          +link('Prizes', 'prizes.html').button-style.button-white-style
            span.text Instagram Contest
            span.arrow-right
