.posts-block.bgd-dark.other-posts
  .grid-fluid
    .row.heading
      .col-sm-5
        h2.title Other posts
        .tags
          span #Caltex
          span #Fuelmycity
      .col-md-5.col-sm-8
        p.desc.blue-text We've searched high and low to find the best secret hang outs in and around Singapore City
    .post-list
      .row
        .col-md-12
          .col-item-1
            +link('alt', 'post-details.html').post-preview
              .thumb
                +img-upload('image-1', 'img-22.jpg')
              .content
                h3.title Kusu island
                .desc
                  span.name Prentive Mathew
          .col-item-1
            +link('alt', 'post-details.html').post-preview
              .thumb
                +img-upload('image-1', 'img-22.jpg')
              .content
                h3.title Kusu island
                .desc
                  span.name Prentive Mathew
          .col-item-2
            +link('alt', 'post-details.html').post-preview
              .thumb
                +img-upload('image-1', 'img-22.jpg')
              .content
                h3.title Kusu island
                .desc
                  span.name Prentive Mathew
    .button-wrap-1
      a(href='post.html', title='See all').button-style
        span.text Check out other Roadtrippers
        span.arrow-right
