.post-details-block.block-1#post-details-1
  .grid-fluid
    .row
      .col-md-1.col-md-offset-2.col-sm-2.col-sm-offset-1.col-xs-2.col-xs-offset-1
        .order-wrap
          span.order: span 1
      .col-sm-9.col-xs-9
          h2.heading-1
            +link('Kusu Island', 'social-feeds.html?latitude=45.471475102&longitude=9.184745562&id=001')
          +link('View on map', 'social-feeds.html?latitude=45.471475102&longitude=9.184745562&id=001').map-link
    .row.desciption-top
      .col-md-8.col-sm-offset-3.col-sm-9
        p
          | Our first stop is&#32;
          +link('Kusu Island')
          | &#32;, it’s a small island off Sentosa.
        p Franster suggested it and to be honest, no one else has even heard of the name so we decided to explore the place!
        p
          | At 11am, we have booked our ferry return tickets at $18 and off we went on our 30 minutes ride. Upon reaching, we realize that&#32;
          +link('Kusu Island')
          | &#32;is tiny! Within 15 minutes, we have explored the entire place on foot.
    .row.post-details-images
      .col-md-10.col-md-offset-1
        .col-item-1
          +img-upload('image-1', 'img-22.jpg')
        .col-item-1
          +img-upload('image-2', 'img-7.jpg')
        .col-item-2
          +img-upload('image-3', 'img-8.png')
    .row.desciption-middle
      .col-md-8.col-sm-offset-3.col-sm-9
        p We went up to a small hilltop temple and then proceeded to the famous Chinese temple which surprisingly sells fried rice and fried noodles.The old man in charge of the temple told us that every October, food stalls will open up for the Kusu Pilgrimage; for other off peak months, the Da Bo Gong temple serves the only form of refreshments on the entire island.
    .row.post-details-images
      .col-sm-4.col-md-offset-1
        +img-upload('image-4', 'img-9.jpg')
      .col-md-7.col-sm-8
        +img-upload('image-5', 'img-10.jpg')
    .row.desciption-bottom
      .col-md-8.col-sm-offset-3.col-sm-9
        p We took a long time with our meal and ended up watching a family of monkeys because ferries back to the main island only comes in selective timings and the next ferry was at around 2 to 3pm.
