.post-details-block.block-4.white-state#post-details-4(style="background-color: #f15855;")
  .grid-fluid
    .row
      .col-md-1.col-md-offset-2.col-sm-2.col-sm-offset-1.col-xs-2.col-xs-offset-1
        .order-wrap
          span.order: span 4
      .col-sm-9.col-xs-9
        h2.heading-1
          span Kusu Island
        +link('View on map', 'social-feeds.html?latitude=45.471475102&longitude=9.184745562&id=001').map-link
    .row.desciption-top
      .col-md-8.col-sm-offset-3.col-sm-9
        p
          | Our next stop was&#32;
          +link('MegaZip Adventure at Sentosa')
          | &#32;and we reached at around 6pm.
        p The walk from the carpark to the park was painfully far and uphill. Anyway, our objective was to have a go at the flying fox and the climb was worth it! It lasts around 1+ minutes and the view is breathtaking. Plus, it was fun to see our team members panic at the height.
        p We zipped through trees and finally ended up at the beach.The sunset was amazing and we never knew Singapore had such an amazing beach. Thankfully, MegaZip sent us all back to the carpark on their buggy.
    .row.post-details-images
      .col-sm-4.col-md-offset-1
        +img-upload('image-1', 'img-19.png')
      .col-md-7.col-sm-8
        +img-upload('image-2', 'img-20.jpg')
