.posts-block
  .grid-fluid
    .row.heading
      .col-md-5
        h2.title The latest finds
        .tags
          span #Caltex
          span #Fuelmycity
      .col-md-5.col-sm-8
        p.desc We've searched high and low to find the best secret hang outs in and around Singapore City
    .post-list
      .row
        .col-sm-6
          +link('alt', 'post-details.html').post-preview
            .thumb
              +img-upload('image-1', 'img-22.jpg')
            .content
              h3.title Kusu island
              .desc
                span.name Prentive Mathew
        .col-sm-6
          +link('alt', 'post-details.html').post-preview(data-animate-scroll)
            .thumb
              +img-upload('image-2', 'img-23.jpg')
            .content
              h3.title Kusu island
              .desc
                span.name Prentive Mathew
      .row.hidden-xs
        .col-sm-6
          +link('alt', 'post-details.html').post-preview
            .thumb
              +img-upload('image-3', 'img-26.jpg')
            .content
              h3.title Kusu island
              .desc
                span.name Prentive Mathew
        .col-sm-6
          +link('alt', 'post-details.html').post-preview(data-animate-scroll)
            .thumb
              +img-upload('image-4', 'img-27.jpg')
            .content
              h3.title Kusu island
              .desc
                span.name Prentive Mathew
    .button-wrap-1
      a(href='post.html', title='See all').button-style
        span.text Check out other Roadtrippers
        span.arrow-right
