.post-details-block.block-2#post-details-2
  .grid-fluid
    .row
      .col-md-1.col-md-offset-2.col-sm-2.col-sm-offset-1.col-xs-2.col-xs-offset-1
        .order-wrap
          span.order: span 2
      .col-sm-9.col-xs-9
        h2.heading-1
          span Kusu Island
        +link('View on map', 'social-feeds.html?latitude=45.471475102&longitude=9.184745562&id=001').map-link
    .row.post-details-images
      .col-md-10.col-md-offset-1
        .col-item-1
          +img-upload('image-1', 'img-11.jpg')
        .col-item-1
          +img-upload('image-2', 'img-12.jpg')
        .col-item-2
          +img-upload('image-3', 'img-13.jpg')
    .row.desciption-bottom
      .col-md-8.col-sm-offset-3.col-sm-9
        p
          |After taking the ferry back, we headed to Kranji farms. Our next stop was&#32;
          +link('Hay Dairies')
          | &#32;, the only goat farm in Singapore! We were too late for the milking session (mornings only) but we managed to purchase bottles of goat milk! They even have chocolate flavour.
