.post-details-block.block-3#post-details-3(style="background-image: url('images/bgd-single-post.jpg')")
  .grid-fluid
    .row
      .col-md-1.col-md-offset-2.col-sm-2.col-sm-offset-1.col-xs-2.col-xs-offset-1
        .order-wrap
          span.order: span 3
      .col-sm-9.col-xs-9
        h2.heading-1
          span Kusu Island
        +link('View on map', 'social-feeds.html?latitude=45.471475102&longitude=9.184745562&id=001').map-link
    .row.post-details-images
      .col-sm-8.col-md-offset-1
        +img-upload('image-1', 'img-14.png')
      .col-md-3.col-sm-4
        +img-upload('image-2', 'img-15.jpg')
    .row.desciption-middle
      .col-md-8.col-sm-offset-3.col-sm-9
        p
          | We reached&#32;
          +link('Bollywood Veggies')
          | &#32;at around 4.30pm for a late lunch, an organic vegetable farm, 10 mins away from&#32;
          +link('Hay Dairies.')
        p Rows upon rows of vegetables with their names painted onto wooden signboards.We played with the swings in the woods and threw some hoops in their little basketball area.
        p Then we were famished and had lunch! They serve fresh produce and we got 2 big bowls of Spinach and Kang Kong in addition to mains. The banana bread was amazing and we packed 4 loafs home when we left!
     .row.post-details-images
      .col-md-6.col-sm-offset-3.col-sm-9
        .col-item-1
          +img-upload('image-1', 'img-17.jpg')
        .col-item-1
          +img-upload('image-2', 'img-17.jpg')
