.post-details-block.block-5#post-details-5
  .grid-fluid
    .row
      .col-md-1.col-md-offset-2.col-sm-2.col-sm-offset-1.col-xs-2.col-xs-offset-1
        .order-wrap
          span.order: span 5
      .col-sm-9.col-xs-9
        h2.heading-1
          span Kusu Island
        +link('View on map', 'social-feeds.html?latitude=45.471475102&longitude=9.184745562&id=001').map-link
    .row.post-details-images
      .col-md-8.col-md-offset-3.col-sm-12
        +img-upload('image-1', 'img-21.jpg')
     .row.desciption-bottom
      .col-md-8.col-sm-offset-3.col-sm-9
        p Lastly, we had to refill our petrol. We headed to Caltex and took photos with our cool petrol attendant. We bought tons of drinks because everyone was parched.
        p Overall, it was a really tiring but fun day hanging out with the team observing less known nature trails in Singapore!
