script.
  var settings = {
    rating: {
      url: '/rating',
      type: 'post',
      dataType: 'json',
      timeout: 3000
    },
    journeys: {
      url: '/journeys',
      type: 'get',
      dataType: 'json',
      timeout: 3000
    },
    socialFeed: {
      urlHome: 'data/ajaxFeed1.json',
      gridUrl: {
        urlKOL: 'data/ajaxFeed1.json',
        urlPubs: 'data/ajaxFeed3.json'
      },
      mapUrl: {
        urlKOL: 'data/ajaxMapFeeds1.json',
        urlPubs: 'data/ajaxMapFeeds2.json',
        urlOneFeed: '/getMapFeed?id='
      }
    },
    iconMarker: {
      pub: 'images/icon-marker-blue-medium.png',
      amb: 'images/icon-marker-red-medium.png',
      black: 'images/icon-marker-black-medium.png'
    }
  };
script(src="js/l10n.js")
script(src="js/libs.js")
script(src="http://maps.googleapis.com/maps/api/js")
script(src="js/script.js")
