.social-block.bgd-red
  .grid-fluid(data-social-feed="home-page", data-gridviewarea=".social-list", data-user-default="All")
    .row.heading.white-state
      .col-md-4
        h2.title What's up
        .tags
          span #Caltex
          span #Fuelmycity
      .col-md-5.col-sm-8
        p.desc Join us as follow various personalities road-tripping in and around your city.
    .row.social-list(data-popup="socialFeedDetail", data-id-popup="social-popup")
      .col-sm-10.col-sm-offset-1
        .row
        //-
          .col-md-4.col-sm-5.col-sm-offset-1.col-md-offset-0
            .social-preview
              .content
                .thumb
                  +img-upload('image-1', 'img-28.jpg')
                p.desc Sitting in my favourite cafe #selfishgene @caltex
              .author
                .user
                  +img-upload('image-2', 'img-32.jpg')
                  span.name Philip Haydon
                span.social-icon
                  span.sf-twitter
          .col-md-4.col-sm-5.col-sm-offset-1.col-md-offset-0
            .social-preview.bgd-blue
              .content
                p.desc #Caltex #Techron in a Bottle fuel cleaning system lauch, hosted by #FHM Hot Babe Rizza Diaz.
              .author
                .user
                  +img-upload('image-3', 'img-32.jpg')
                  span.name Philip Haydon
                span.social-icon
                  span.sf-facebook
          .col-md-4.col-sm-5.col-sm-offset-1.col-md-offset-0.hidden-xs
            .social-preview
              .content
                .thumb
                  +img-upload('image-4', 'img-31.jpg')
                p.desc Sitting in my favourite cafe #selfishgene @caltex
              .author
                .user
                  +img-upload('image-5', 'img-32.jpg')
                  span.name Philip Haydon
                span.social-icon
                  span.sf-facebook
          .col-md-4.col-sm-5.col-sm-offset-1.col-md-offset-0.hidden-xs
            .social-preview
              .content
                .thumb
                  +img-upload('image-6', 'img-28.jpg')
                p.desc Sitting in my favourite cafe #selfishgene @caltex
              .author
                .user
                  +img-upload('image-7', 'img-32.jpg')
                  span.name Philip Haydon
                span.social-icon
                  span.sf-twitter
          .col-md-4.col-sm-5.col-sm-offset-1.col-md-offset-0.hidden-xs.hidden-sm
            .social-preview.bgd-blue
              .content
                p.desc #Caltex #Techron in a Bottle fuel cleaning system lauch, hosted by #FHM Hot Babe Rizza Diaz.
              .author
                .user
                  +img-upload('image-8', 'img-32.jpg')
                  span.name Philip Haydon
                span.social-icon
                  span.sf-instagram
          .col-md-4.col-sm-5.col-sm-offset-1.col-md-offset-0.hidden-xs.hidden-sm
            .social-preview
              .content
                .thumb
                  +img-upload('image-9', 'img-31.jpg')
                p.desc Sitting in my favourite cafe #selfishgene @caltex
              .author
                .user
                  +img-upload('image-10', 'img-32.jpg')
                  span.name Philip Haydon
                span.social-icon
                  span.sf-facebook
    .row.button-wrap-2
      .col-md-10.col-md-offset-1.col-sm-9.col-sm-offset-2
        a(href='social-feeds.html', title='Social Feeds').button-style.button-white-style
          span.text Check out other Roadtrippers
          span.arrow-right
