doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Page Not Found
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    style.
      * {
        padding: 0;
        margin: 0;
      }
  body
    h1 Page Not Found
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
    p Sorry, but the page you were trying to view does not exist.
