extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -mainNav = 1
  -sub1 = 1
  -sub2 = 1
  -sub3 = 0

block container
  main
    h2 Call Ajax files
    .tab
      li: +link('file1', 'data/file1.html')
      li: +link('file2', 'data/file2.html')
    .ajax-contents
    h2 RSS
    ul#rss-list
    br
    h2 RSS vnexpress
    ul#rss-online-list
    br
    h2 XML
    ul#xml-list
    br
    h2 json
    ul#json-list
    br
    h2 json online
    ul#img-list
