extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -mainNav = 1
  -sub1 = 1
  -sub2 = 1
  -sub3 = 0

block container
  main
    .handlebar
      script(type="text/x-handlebars-template" data-json-url="/data/data.json").source-handle
        p {{text}}
