extends layouts/layout

block vars
  -title = 'Auto Iframe'
  -bodyClass = 'iframe'
  -mainNav = 1
  -sub1 = 1
  -sub2 = 1
  -sub3 = 0

block container
  main
    .iframe-wrapper(data-src="iframe-content.html")
    //-.iframe-wrapper(data-src="/plugins.html")
    style.
      .iframe-wrapper {
        position: relative;
        background: url('images/svg/loading.svg') 50% 20% / 50px no-repeat;
      }
      .iframe-wrapper iframe {
        opacity: 0;
        transition: opacity .25s ease;
      }
      .iframe-wrapper.show-iframe {
        background: transparent;
      }
      .iframe-wrapper.show-iframe iframe {
        opacity: 1;
      }
    script.
      var loaded = {},
        showCls = 'show-iframe',
        wrap = document.getElementsByClassName('iframe-wrapper'),
        funct = {
          getHeightIframe: function(iframe, i) {
            iframe.width = iframe.parentNode.offsetWidth;
            if(!loaded[i]) {
              iframe.onload = function() {
                setTimeout(function() {
                  iframe.height = 'auto';
                  iframe.height = iframe.contentWindow.document.body.scrollHeight;
                  iframe.parentNode.classList.add(showCls);
                  console.log(1, iframe.contentWindow.document.body.scrollHeight);
                  loaded[i] = true;
                }, 300);
              };
            }
            else {
              setTimeout(function() {
                iframe.height = 'auto';
                iframe.height = iframe.contentWindow.document.body.scrollHeight;
                console.log(2, iframe.contentWindow.document.body.scrollHeight);
                iframe.parentNode.classList.add(showCls);
              }, 1000);
            }
          },
          initialize: function() {
            for(var i = 0, n = wrap.length; i < n; i++) {
              var iframes = document.createElement('iframe');
              iframes.src = wrap[i].dataset.src;
              iframes.setAttribute('style', 'overflow: hidden');
              iframes.setAttribute('allowtransparency', 'true');
              iframes.setAttribute('frameborder', '');
              iframes.setAttribute('scrolling', 'no');
              wrap[i].appendChild(iframes);
              wrap[i].classList.remove(showCls);
              this.getHeightIframe(iframes, i);
            }
          }
        };

      window.onload = function() {
        funct.initialize();
      };
      window.onresize = function() {
        for(var j = 0, m = wrap.length; j < m; j++) {
          wrap[j].classList.remove(showCls);
          funct.getHeightIframe(wrap[j].children[0], j);
        }
      };
