extends layouts/template

block vars
  -title = 'Auto Iframe'
  -bodyClass = 'iframe'
  -mainNav = 1
  -sub1 = 1
  -sub2 = 1
  -sub3 = 0

block container
  main.clearfix
    .grid
      .slider
        .slick.clearfix(data-slider='{"type": "carousel", "initUnder": "768"}')
          div.item
            +link('Product alt')(target="_blank")
              +img-upload('alt', 'product-1.jpg').img-view
            +link('Buy now')(target="_blank").buy-now
          div.item
            +link('Product alt')(target="_blank")
              +img-upload('alt', 'product-2.jpg').img-view
            +link('Buy now')(target="_blank").buy-now
          div.item
            +link('Product alt')(target="_blank")
              +img-upload('alt', 'product-3.jpg').img-view
            +link('Buy now')(target="_blank").buy-now
          div.item
            +link('Product alt')(target="_blank")
              +img-upload('alt', 'product-4.jpg').img-view
            +link('Buy now')(target="_blank").buy-now
          div.item
            +link('Product alt')(target="_blank")
              +img-upload('alt', 'product-1.jpg').img-view
            +link('Buy now')(target="_blank").buy-now
          div.item
            +link('Product alt')(target="_blank")
              +img-upload('alt', 'product-2.jpg').img-view
            +link('Buy now')(target="_blank").buy-now
          div.item
            +link('Product alt')(target="_blank")
              +img-upload('alt', 'product-3.jpg').img-view
            +link('Buy now')(target="_blank").buy-now
          div.item
            +link('Product alt')(target="_blank")
              +img-upload('alt', 'product-4.jpg').img-view
            +link('Buy now')(target="_blank").buy-now
          div.item
            +link('Product alt')(target="_blank")
              +img-upload('alt', 'product-1.jpg').img-view
            +link('Buy now')(target="_blank").buy-now
          div.item
            +link('Product alt')(target="_blank")
              +img-upload('alt', 'product-2.jpg').img-view
            +link('Buy now')(target="_blank").buy-now
          div.item
            +link('Product alt')(target="_blank")
              +img-upload('alt', 'product-3.jpg').img-view
            +link('Buy now')(target="_blank").buy-now
          div.item
            +link('Product alt')(target="_blank")
              +img-upload('alt', 'product-4.jpg').img-view
            +link('Buy now')(target="_blank").buy-now
    p End
    style.
      .slick .item {
        position: relative;
        float: left;
        width: 25%;
        text-align: center;
      }
      .slick .item .buy-now {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        padding: 10px 15px;
        transform: translate(-50%, -50%);
        text-align: center;
        color: black;
        background-color: rgba(255,255,255,.7);
        border: 1px solid black;
        transition: opacity .25s ease;
      }
      .slick .item:hover .buy-now {
        opacity: 1;
      }
      @media (max-width: 767) {
        .slick .item {
          width: 50%;
        }
      }
