extends layouts/template

block vars
  -title = 'Style Guide'

block container
  .grid#tabs
    h2 Tabs
    include guides/tabs
  .grid#slider
    h2 Slick slider
      +link('https://github.com/kenwheeler/slick', 'https://github.com/kenwheeler/slick')(target="_blank")
    include guides/slick
  .grid#same-height
    h2 Same height
    include guides/same-height
  p copy right ne
  article.nav-bar-temp
    .grid
      ul.nav-temp
        +items([
          {title: 'Slider', href: '#tabs'},
          {title: 'index', href: 'index.html'},
          {title: 'Tabs', href: '#tabs'},
          {title: 'Same height', href: '#same-height'}
        ])
