extends layouts/sitemap

block container
  +rowTitle('Template')
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Layer',
    link: 'template-layer.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Sprite',
    link: 'template-sprite.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Style Guide',
    link: 'template-style-guide.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Mixin LESS',
    link: 'template-mixin.html',
    status: 'Usage Mixin LESS',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: 1,
    psd: 'Homepage.psd',
    link: 'index.html',
    status: 'Cutting template',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'task',
    comment: 'Comment for task 1',
    status: 'Cutting template',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'task',
    comment: 'Comment for task 2',
    status: 'Cutting template',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '2',
    psd: 'HandlebarJS',
    link: 'handlebar.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '3',
    psd: 'Ajax',
    link: 'ajax.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '4',
    psd: 'Yen Phan',
    link: 'yen.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
  +rowContent({
    class: 'template',
    no: '5',
    psd: 'Plugin',
    link: 'plugins.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'Leader name'
  })
