extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -mainNav = 1
  -sub1 = 1
  -sub2 = 1
  -sub3 = 0

block container
  main
    svg(width="250" height="250" style="background-color: #DBDBDB;")
      text(x="20" y="20") Loading
    svg(width="250" height="250" style="background-color: #DBDBDB;")
      polygon(id="abc" fill="#F9F38C" fill-rule="nonzero" stroke="#E5D50C" stroke-width="5" stroke-linejoin="round" points="47.773,241.534 123.868,8.466 200.427,241.534 7.784,98.208 242.216,98.208")
      <text x="47.773" y="241.534" fill="red">1</text>
      <text x="123.868" y="8.466" fill="red">2</text>
      <text x="200.427" y="241.534" fill="red">3</text>
      <text x="7.784" y="98.208" fill="red">4</text>
      <text x="242.216" y="98.208" fill="red">5</text>
      text(x="0" y="20" text-anchor="start") fill-rule="nonzero"
        tspan(x="0" y="30") stroke-linejoin="round

    svg(width="250" height="250" style="background-color: #DBDBDB;")
      polygon(fill="#F9F38C" fill-rule="evenodd" stroke="#E5D50C" stroke-width="5" stroke-linejoin="round" points="47.773,241.534 123.868,8.466 200.427,241.534 7.784,98.208 242.216,98.208")
      text(x="0" y="20" text-anchor="start") fill-rule="evenodd"
        tspan(x="0" y="30") stroke-linejoin="round (miter | bevel)

    svg(width="250" height="250" style="background-color: #DBDBDB;")
      circle(r="30" cx="50" cy="50" fill="orange")
        animate(attributename="cx" values="0;250;0" repeatcount="indefinite" dur="1s" begin="click" fill="freeze")
      text(x="50" y="50" text-anchor="middle") Click

    svg(width="400" height="400" style="background-color: #DBDBDB;")
      circle(cx="100" cy="100" r="50" width="40" height="40" style="stroke: #ff00ff; fill:none;")
      rect(x="40" y="40" rx="40" ry="40" width="40" height="40" style="stroke: #ff00ff; fill:none;")
        animatetransform(attributename="transform" type="rotate" from="0 100 100" to="360 100 100" begin="0s" dur="10s" repeatcount="indefinite")
      circle(cx="40" cy="40" r="5" fill="red")
      circle(cx="100" cy="100" r="5" fill="red")
      circle(cx="160" cy="160" r="5" fill="red")

    svg(width="300" height="300" style="background-color: #DBDBDB;")
      path(id="theMotionPath" d="M100,100 H250 V250 z" stroke="black")
      circle(cx="" cy="" r="5" fill="red")
        animatemotion(dur="6s" repeatcount="indefinite")
          mpath(xlink:href="#theMotionPath")

    svg(width="300" height="300" style="background-color: #DBDBDB;")
      circle(cx="50" cy="50" r="50" fill="gray")
        animate(attributename="cx" begin="0s" values="50;250;50" dur="2s" repeatcount="indefinite" calcmode="linear")
        animate(attributename="fill" begin="0;graphics.click" dur="20s" values="gray;darkred;red;cyan;lightcyan;green;purple;gray" calcmode="linear")

    svg(width="300" height="300" style="background-color: #DBDBDB;")
      path(d="M80 80 A 45 45, -45, 0, 0, 125 125 L 125 80 Z" fill="green")
      circle(cx="80" cy="80" r="3" fill="red")
      circle(cx="125" cy="80" r="3" fill="red")
      circle(cx="125" cy="125" r="3" fill="red")
      path(d="M230 80 A 45 45, 0, 1, 0, 275 125 L 275 80 Z" fill="red")
      path(d="M80 230 A 45 45, 0, 0, 1, 125 275 L 125 230 Z" fill="purple")
      path(d="M230 230 A 45 45, 0, 1, 1, 275 275 L 275 230 Z" fill="blue")
