extends layouts/template

block vars
  -title = 'Style Guide'

block container
  .grid#symmetrical-box
    h2 Symmetrical Box
    include guides/symmetrical-box
  .grid#aligned-image
    h2 Aligned Image
    include guides/aligned-image
  .grid#divider
    h2 Divider
    include guides/divider
  .grid#quote
    h2 Block Quote
    include guides/blockquote
  article.nav-bar-temp
    .grid
      ul.nav-temp
        +items([
          {title: 'index', href: 'index.html'},
          {title: 'Symmetrical Box', href: '#symmetrical-box'},
          {title: 'Aligned Image', href: '#aligned-image'},
          {title: 'Divider', href: '#divider'},
          {title: 'Quocte', href: '#quote'}
        ])
