extends layouts/template

block vars
  -title = 'Style Guide'

block container
  h1 MIXIN LESS
  .grid#position
    h2 Position
    include guides/mixin-position
  article.nav-bar-temp
    ul.nav-temp
      +items([
        {title: 'Position', href: '#position'}
      ])
