extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -mainNav = 1
  -sub1 = 1
  -sub2 = 1
  -sub3 = 0

block container
  main.yen
    .grid
      .row.loading
        h2 Loading
        section.loaders
          span.loader.loader-quart
          | Loading...
      .row
        .col-md-4
          h1 Button Hover
          button.draw draw
          button.meet draw meet
          button.centered center
          button.circle circle
        .col-md-8
          h1 Tabs CSS 1
          .tabs
            .tab
              input(type="radio", id="tab-1", name="tab-group-1", checked)
              label(for="tab-1") Tab One
              .content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .tab
              input(type="radio", id="tab-2", name="tab-group-1")
              label(for="tab-2") Tab two
              .content: p Lorem ipsum dolor sit amet,
            .tab
              input(type="radio", id="tab-3", name="tab-group-1")
              label(for="tab-3") Tab three
              .content: p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            h1 Tabs CSS 1
      .row.type-input
        h2 Type Input
        .col-md-6
          input(type="value" value="Value")
          input(type="button" value="button" onclick="msg()")
          input(type="color" value="button")
          input(type="date" value="button")
          input(type="datetime", placeholder="datetime")
          input(type="datetime-local")
          input(type="email" name="usremail" placeholder="email")
          input(type="file" name="img")
          input(type="image" src="http://www.w3schools.com/tags/submit.gif" alt="Submit" width="40px" height="40px")
          input(type="url" name="homepage" )
          input(type="week" name="week_year" placeholder="url")
        .col-md-6
          input(type="checkbox" name="checkbox" value="checkbox")
          input(type="hidden" name="country" value="Norway")
          input(type="month" name="bdaymonth")
          input(type="number" name="quantity" min="1" max="5")
          input(type="password" name="pwd" placeholder="password")
          input(type="radio" name="gender" value="male")
          input(type="range" name="points" min="0" max="10")
          input(type="reset")
          input(type="search" name="googlesearch" placeholder="search")
          input(type="submit")
          input(type="tel" name="usrtel" placeholder="tel")
          label First name:
          input(type="text" name="fname" placeholder="First name")
          label Last name:
          input(type="text" name="lname" placeholder="Last name")
          input(type="time" name="usr_time")

