mixin nav(items)
  ul
    each item, key in items
      - var active = ''
      - if (key === menuIndex) active = 'active'
      li(class=active)
        +link(item.title, item.href, item.text)(class=item.class)
        - if (typeof(item.itemsMenu) !== 'undefined'){
          +nav(item.itemsMenu)
        - }

mixin items(items, activeIndex)
  - var current = ''
  - each item,index in items
    - current = (index === activeIndex) ? 'current': ''
    li(class=current, class=item.liClass)
      +link(item.title, item.href, item.text)(class=item.linkClass, target=item.target)
        span.text!=item.title
      - if(item.subList) {
        ul(class=item.subClass)
          +items(item.subList, item.subActive)
      - }

