extends layouts/layout

block vars
  -title = 'About'
  -bodyClass = 'about'
  -activeIndex = 0

block container
  main#main
    .about-block.bgd-dark
      .grid-fluid(data-popup="personDetail", data-id-popup="person-popup")
        .row.heading
          .col-md-4
            h2.title About
          .col-md-4.col-sm-6
            p.desc
              | ‘Fuel My City’ is a journey of discovery around Asia. Join us as we follow various personalities road-tripping in and around your city. Shining a light upon where they hangout and have fun. Pit-stopping at strange locations, cool eateries, underground gigs, shopping spots and other secret venues in the city.
          .col-md-4.col-sm-6
             p.desc
              | We want to inspire you to look at your city with fresh eyes. To take your own journeys and share them with others. What off-the-beaten-track places do you know about and want to show off.
        .row.heading
          .col-sm-12
            h2.title.margin-top-40 The Ambassadors
            .tags
              span #Caltex
              span #Fuelmycuty

        //-- about-list 1
        .row.about-list.visible-md.visible-lg
          .col-sm-4
            +link('Jian Hao', 'javascript:;' ).about-preview(data-detail-img='images/upload/img-about-1.jpg', data-detail-name='', data-detail-decs='21 years old youtube star, one of Singapore’s most popular channel. He directs, writes and acts. This year, Jianhao will be starring as the lead for a new short film directed by Jack Neo. The youtuber has also seized the opportunity and is running his own company : The JianHao Tan. He is currently exploring ways and expanding his business further.')
              .thumb
                +img-upload('image-1', 'img-about-1.jpg')
              h3.title Jian Hao
          .col-sm-3
            +link('Deekosn', 'javascript:;' ).about-preview.margin-top-40(data-detail-img='images/upload/about-2.jpg', data-detail-name='', data-detail-decs='21 years old youtube star, one of Singapore’s most popular channel. He directs, writes and acts. This year, Jianhao will be starring as the lead for a new short film directed by Jack Neo. The youtuber has also seized the opportunity and is running his own company : The JianHao Tan. He is currently exploring ways and expanding his business further.')
              .thumb
                +img-upload('image-1', 'about-2.png')
              h3.title.red Deekosn
            +link('Audrey', 'javascript:;' ).about-preview.margin-top-10(data-detail-img='images/upload/about-3.jpg', data-detail-name='', data-detail-decs='21 years old youtube star, one of Singapore’s most popular channel. He directs, writes and acts. This year, Jianhao will be starring as the lead for a new short film directed by Jack Neo. The youtuber has also seized the opportunity and is running his own company : The JianHao Tan. He is currently exploring ways and expanding his business further.')
              .thumb
                +img-upload('image-3', 'about-3.png')
              h3.title.margin-top-0 Audrey
          .col-sm-5
            +link('Night ovl Cinematics', 'javascript:;' ).about-preview.margin-top-80(data-detail-img='images/upload/img-about-1.jpg', data-detail-name='', data-detail-decs='21 years old youtube star, one of Singapore’s most popular channel. He directs, writes and acts. This year, Jianhao will be starring as the lead for a new short film directed by Jack Neo. The youtuber has also seized the opportunity and is running his own company : The JianHao Tan. He is currently exploring ways and expanding his business further.')
              .thumb
                +img-upload('image-4', 'about-4.jpg')
              h3.title.red
                | Night ovl
                br
                | Cinematics

        //-- about-list 2
        .about-list.visible-sm.visible-xs
          .row
            .col-sm-6
                +link('Jian Hao', 'javascript:;' ).about-preview(data-detail-img='images/upload/img-about-1.jpg', data-detail-name='Jian Hao', data-detail-decs='21 years old youtube star, one of Singapore’s most popular channel. He directs, writes and acts. This year, Jianhao will be starring as the lead for a new short film directed by Jack Neo. The youtuber has also seized the opportunity and is running his own company : The JianHao Tan. He is currently exploring ways and expanding his business further.')
                  .thumb
                    +img-upload('image-1', 'about-1.jpg')
                  h3.title Jian Hao
            .col-sm-6
                +link('Deekosn', 'javascript:;' ).about-preview(data-detail-img='images/upload/img-about-2.jpg', data-detail-name='Deekosn', data-detail-decs='21 years old youtube star, one of Singapore’s most popular channel. He directs, writes and acts. This year, Jianhao will be starring as the lead for a new short film directed by Jack Neo. The youtuber has also seized the opportunity and is running his own company : The JianHao Tan. He is currently exploring ways and expanding his business further.')
                  .thumb
                    +img-upload('image-1', 'about-2.png')
                  h3.title.red Dee kosh
          .row
            .col-sm-6
                +link('Audrey', 'javascript:;' ).about-preview(data-detail-img='images/upload/img-about-3.jpg', data-detail-name='Audrey', data-detail-decs='21 years old youtube star, one of Singapore’s most popular channel. He directs, writes and acts. This year, Jianhao will be starring as the lead for a new short film directed by Jack Neo. The youtuber has also seized the opportunity and is running his own company : The JianHao Tan. He is currently exploring ways and expanding his business further.')
                  .thumb
                    +img-upload('image-3', 'about-3.png')
                  h3.title Audrey
            .col-sm-6
                +link('Night ovl Cinematics', 'javascript:;' ).about-preview(data-detail-img='images/upload/img-about-4.jpg', data-detail-name='Night ovl Cinematics', data-detail-decs='21 years old youtube star, one of Singapore’s most popular channel. He directs, writes and acts. This year, Jianhao will be starring as the lead for a new short film directed by Jack Neo. The youtuber has also seized the opportunity and is running his own company : The JianHao Tan. He is currently exploring ways and expanding his business further.')
                  .thumb
                    +img-upload('image-4', 'about-4.jpg')
                  h3.title.red Night owl Cinematics
block modal
  #overlay
