extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'

block container
  main#main
    include blocks/home-slider
    include blocks/introduction-block
    include blocks/posts-block
    include blocks/social-feeds
block modal
  #loading
    span.loader
    span.loader
  #overlay
