extends layouts/layout

block vars
  -title = 'Post Detail'
  -bodyClass = 'post-details'
  -activeIndex = 1

block container
  main#main
    include blocks/cover-section
    include blocks/post-details-1
    include blocks/post-details-2
    include blocks/post-details-3
    include blocks/post-details-4
    include blocks/post-details-5
    include blocks/other-posts
