extends layouts/layout

block vars
  -title = 'Prizes'
  -bodyClass = 'prizes'
  -activeIndex = 3

block container
  main#main
    .prize-block.bgd-dark
      .grid-fluid
        .row.heading
          .col-md-4
            h2.title What's up
            .tags
              span #Caltex
              span #Fuelmycity
          .col-md-4.col-sm-6
            p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          .col-md-4.col-sm-6
            p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .row.infographic
          .col-md-11.col-md-offset-1
            +img-upload('img-dummy', 'dumy.jpg')
        .row.prize-list
          .col-md-11.col-md-offset-1
            .row
              .col-sm-6
                .prize-preview
                  .thumb
                    +img-upload('img-1', 'img-33.jpg')
                  .content
                    h3.title Statement tee
                    p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit
                .prize-preview
                  .thumb
                    +img-upload('img-2', 'img-35.jpg')
                  .content
                    h3.title Statement tee
                    p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit
                .prize-preview
                  .thumb
                    +img-upload('img-3', 'img-37.jpg')
                  .content
                    h3.title Statement tee
                    p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit
              .col-sm-6
                .prize-preview.red-state.margin-top-110
                  .thumb
                    +img-upload('img-4', 'img-34.jpg')
                  .content
                    h3.title Statement tee
                    p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit
                .prize-preview.red-state
                  .thumb
                    +img-upload('img-5', 'img-36.jpg')
                  .content
                    h3.title Statement tee
                    p.desc Lorem ipsum dolor sit amet, consectetur adipiscing elit
