extends layouts/sitemap

block container
  +rowTitle('Template')
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Layer',
    link: 'template-layer.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'An.Nguyen'
  })
  +rowContent({
    class: 'template',
    no: '-',
    psd: 'Style Guide',
    link: 'template-style-guide.html',
    status: 'Building structure',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'An.Nguyen'
  })
  +rowContent({
    class: 'template',
    no: 1,
    psd: 'Homepage.psd',
    link: 'index.html',
    status: 'Cutting template',
    complete: '100%',
    startDate: '11/05/2015',
    endDate: '13/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'An.Nguyen'
  })
  +rowContent({
    class: 'task',
    comment: 'Header/Footer',
    status: 'Cutting template',
    complete: '100%',
    startDate: '11/05/2015',
    endDate: '13/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Yen.Phan',
    checkedBy: 'An.Nguyen'
  })
  +rowContent({
    class: 'task',
    comment: 'Slider',
    status: 'Cutting template',
    complete: '100%',
    startDate: '11/05/2015',
    endDate: '13/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Chinh.Phan',
    checkedBy: 'An.Nguyen'
  })
  +rowContent({
    class: 'task',
    comment: 'Introduction block',
    status: 'Cutting template',
    complete: '100%',
    startDate: '12/05/2015',
    endDate: '13/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Yen.Phan',
    checkedBy: 'An.Nguyen'
  })
  +rowContent({
    class: 'task',
    comment: 'Post block',
    status: 'Cutting template',
    complete: '100%',
    startDate: '12/05/2015',
    endDate: '13/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Chinh.Phan',
    checkedBy: 'An.Nguyen'
  })
  +rowContent({
    class: 'task',
    comment: 'Social feeds block',
    status: 'Cutting template',
    complete: '100%',
    startDate: '12/05/2015',
    endDate: '13/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Chinh.Phan',
    checkedBy: 'An.Nguyen'
  })
  +rowContent({
    class: 'template',
    no: 2,
    psd: 'About.psd',
    link: 'about.html',
    status: 'Cutting template',
    complete: '100%',
    startDate: '14/05/2015',
    endDate: '15/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Yen.Phan',
    checkedBy: 'An.Nguyen'
  })
  +rowContent({
    class: 'template',
    no: 3,
    psd: 'Prizes.psd',
    link: 'prizes.html',
    status: 'Cutting template',
    complete: '100%',
    startDate: '14/05/2015',
    endDate: '15/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Chinh.Phan',
    checkedBy: 'An.Nguyen'
  })
  +rowContent({
    class: 'template',
    no: 4,
    psd: 'Article.psd',
    link: 'post.html',
    status: 'Cutting template',
    complete: '100%',
    startDate: '15/05/2015',
    endDate: '15/05/2015',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Chinh.Phan',
    checkedBy: 'An.Nguyen'
  })
  +rowContent({
    class: 'template',
    no: 5,
    psd: 'Articles-Listing.psd',
    link: 'post-details.html',
    status: 'Cutting template',
    complete: '100%',
    startDate: '15/05/2015',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Yen.Phan',
    checkedBy: 'An.Nguyen'
  })
  +rowContent({
    class: 'template',
    no: 6,
    psd: 'Social-Feeds.psd',
    link: 'social-feeds.html',
    status: 'Cutting template',
    complete: '100%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Chinh.Phan',
    checkedBy: 'An.Nguyen'
  })
  +rowContent({
    class: 'template',
    no: 7,
    psd: 'Terms-And-Conditions.psd',
    link: 'terms-and-conditions.html',
    status: 'Cutting template',
    complete: '0%',
    startDate: 'dd/mm/yyyy',
    endDate: 'dd/mm/yyyy',
    checklist: 'N',
    unitTest: 'N',
    perfTest: 'N',
    codeReview: 'N',
    developer: 'Developer name',
    checkedBy: 'An.Nguyen'
  })
