extends layouts/layout

block vars
  -title = 'Social feed'
  -bodyClass = 'social-feed'
  -activeIndex = 2

block container
  main#main
    #social-page.social-block.bgd-red(data-tab, data-social-feed="social-feed-page", data-gridviewarea=".social-list", data-user-default="KOL")
      .heading.white-state
        .grid-fluid
          .row
            .col-md-9.col-sm-8
              .row
                .col-xs-8
                  h2.title What's up
                  .tags.hidden-xs
                    span #Caltex
                    span #Fuelmycity
                .col-xs-4.text-right
                  #filter-user.filter-box(data-dropdown=".link-view", data-target=".scopes")
                    +link('View', 'javascript:;').link-view
                      span View
                    ul.scopes
                      li
                        +link('Ambassadors', 'javascript:;').selected
                          +img('marker', 'icon-marker-red-small.png')
                          span(data-val="KOL") Ambassadors
                      li
                        +link('Public', 'javascript:;')
                          +img('marker', 'icon-marker-blue-small.png')
                          span(data-val="PUBLIC") Public
            .col-md-3.col-sm-4
              .views
                +link('Grid', 'javascript:;').current(data-handler="grid-view")
                  +img('Grid', 'icon-grid.png')
                  span Grid
                +link('Map', 'javascript:;')(data-handler="map-view")
                  +img('Map', 'icon-marker-white-small.png')
                  span Map
      .grid-view(data-content="grid-view")
        .grid-fluid
          .row.social-list(data-popup="socialFeedDetail", data-id-popup="social-popup")
            .col-sm-10.col-sm-offset-1
              .row
              //-
                .col-md-4.col-sm-5.col-sm-offset-1.col-md-offset-0
                  .social-preview
                    .content
                      .thumb
                        +img-upload('image-1', 'img-28.jpg')
                      p.desc Sitting in my favourite cafe #selfishgene @caltex
                    .author
                      .user
                        +img-upload('image-2', 'img-32.jpg')
                        span.name Philip Haydon
                      span.social-icon
                        span.sf-twitter
                .col-md-4.col-sm-5.col-sm-offset-1.col-md-offset-0
                  .social-preview.bgd-blue
                    .content
                      p.desc #Caltex #Techron in a Bottle fuel cleaning system lauch, hosted by #FHM Hot Babe Rizza Diaz.
                    .author
                      .user
                        +img-upload('image-3', 'img-32.jpg')
                        span.name Philip Haydon
                      span.social-icon
                        span.sf-facebook
                .col-md-4.col-sm-5.col-sm-offset-1.col-md-offset-0.hidden-xs
                  .social-preview
                    .content
                      .thumb
                        +img-upload('image-4', 'img-31.jpg')
                      p.desc Sitting in my favourite cafe #selfishgene @caltex
                    .author
                      .user
                        +img-upload('image-5', 'img-32.jpg')
                        span.name Philip Haydon
                      span.social-icon
                        span.sf-facebook
                .col-md-4.col-sm-5.col-sm-offset-1.col-md-offset-0.hidden-xs
                  .social-preview
                    .content
                      .thumb
                        +img-upload('image-6', 'img-28.jpg')
                      p.desc Sitting in my favourite cafe #selfishgene @caltex
                    .author
                      .user
                        +img-upload('image-7', 'img-32.jpg')
                        span.name Philip Haydon
                      span.social-icon
                        span.sf-twitter
                .col-md-4.col-sm-5.col-sm-offset-1.col-md-offset-0.hidden-xs.hidden-sm
                  .social-preview.bgd-blue
                    .content
                      p.desc #Caltex #Techron in a Bottle fuel cleaning system lauch, hosted by #FHM Hot Babe Rizza Diaz.
                    .author
                      .user
                        +img-upload('image-8', 'img-32.jpg')
                        span.name Philip Haydon
                      span.social-icon
                        span.sf-instagram
                .col-md-4.col-sm-5.col-sm-offset-1.col-md-offset-0.hidden-xs.hidden-sm
                  .social-preview
                    .content
                      .thumb
                        +img-upload('image-9', 'img-31.jpg')
                      p.desc Sitting in my favourite cafe #selfishgene @caltex
                    .author
                      .user
                        +img-upload('image-10', 'img-32.jpg')
                        span.name Philip Haydon
                      span.social-icon
                        span.sf-facebook
          .row.text-center
            .col-sm-9.col-sm-offset-2.col-md-10.col-md-offset-1
              a#more-grid-feed(href='javascript:;', title='Load more').button-style.button-white-style
                span.text Load more
                span.arrow-down

      .map.hidden#map(data-content="map-view")
block modal
  #loading
    span.loader
    span.loader
  #overlay
