extends layouts/template

block vars
  -title = 'Style Guide'

block container
  h2 icon
  .bgd-red.grid-fluid
    .row
      .col-xs-2
        p .icon-down
        +link('Down', 'javascript:;').icon-down.white-state
      .col-xs-2
        p .icon-down.circle-icon
        +link('Down', 'javascript:;').icon-down.circle-icon
    .row
      .col-xs-2
        p .icon-left
        +link('Down', 'javascript:;').icon-left
      .col-xs-2
        p .icon-left.circle-icon
        +link('Down', 'javascript:;').icon-left.circle-icon
    .row
      .col-xs-2
        p .icon-right
        +link('Down', 'javascript:;').icon-right
      .col-xs-2
        p .icon-right.circle-icon
        +link('Down', 'javascript:;').icon-right.circle-icon


