extends layouts/layout

block vars
  -title = 'Terms and conditions'
  -bodyClass = 'terms-conditions'

block container
  main#main
    .terms-block.bgd-dark
      .grid-fluid
        .row.heading
          .col-md-4
            h2.title Terms and conditions
          .col-md-8
            .editer-1
              ul
                li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem
                  ul
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              ul
                li Lorem ipsum dolor sit amet
                  ol
                    li Lorem ipsum dolor sit amet
                    li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
              ol
                li Lorem ipsum dolor sit amet
                  ol
                    li Lorem ipsum dolor sit amet
                    li Lorem ipsum dolor sit amet
              ol
                li Lorem ipsum dolor sit amet
                  ul
                    li Lorem ipsum dolor sit amet
                    li Lorem ipsum dolor sit amet
                    li Lorem ipsum dolor sit amet

              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

