extends ../mixins/all

.popup-1.popup-about
  .header
    +link('javascript:;').icon-close
      span
  .body
    .thumb
      +img-upload('image-1', 'img-popup.jpg')
    h3.title Jian Hao
    p.desc 21 years old youtube star, one of Singapore’s most popular channel. He directs, writes and acts. This year, Jianhao will be starring as the lead for a new short film directed by Jack Neo. The youtuber has also seized the opportunity and is running his own company : The JianHao Tan. He is currently exploring ways and expanding his business further.
    a(href='posts-details.html', title='View post').button-style
      span.text View post
      span.arrow-right
