extends ../mixins/all

.popup-1.popup-social-feed.social-feeds-map.change
  .header
    +link('javascript:;').icon-close
      span
  .body
    .heading-2
      h2.title Selfish Gene
      span.text-small 40 Craif Rd, Singapore 089678
      .group-1
        +link ('6424 1324', 'tel:+6424 1324').link-number
          span.phone-number
          | 6424 1324
        .clock-group
          span.clock-o
          | 10:00am - 5:30pm
    .thumb
      +img-upload('image-1', 'img-popup-feed.jpg')
    .author
      .user
        +img-upload('image-8', 'img-32.jpg')
        span.name Christine toh
      .social-icon
        span.text 2d
        span.sf-instagram
    .footer
      .desc Sitting in my favourite cafe #selfishgene @caltex
        +link('instagram.com/p/0UlfrILIR7/', '/')
      .button-slick
        +link('Next', 'javascript:;').icon-left
        +link('Previous', 'javascript:;').icon-right
