extends ../mixins/all

.popup-1.popup-social-feed.change
  .header
    +link('javascript:;').icon-close
      span
  .body
    .thumb
      +img-upload('image-1', 'img-popup-feed.jpg')
    .author
      .user
        +img-upload('image-8', 'img-32.jpg')
        span.name Christine toh
      .social-icon
        span.text 2d
        span.instagram
    .footer
      .desc Sitting in my favourite cafe #selfishgene @caltex
        +link('instagram.com/p/0UlfrILIR7/', '/')
      .button-slick
        +link('Next', 'javascript:;').icon-left
        +link('Previous', 'javascript:;').icon-right
