.zoom-tiny-image {
  border: 1px solid #CCC;
  margin: 2px;
}
.zoom-tiny-image:hover {
  border: 1px solid #C00;
}
.zoom-desc a {
  text-decoration: none;
}
.zoom-desc {
  float: left;
  margin-left: 10px;
  width: 310px;
  margin-bottom: 20px;
}
/* SMART ZOOM */
.zoom-small-image {
  border: 2px solid #CCC;
  float: left;
  margin-bottom: 20px;
}
.smart-zoom-lens {
  border: 2px solid #888;
  margin: -2px;
  background-color: #fff;
  cursor: move;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  display: none;
  box-sizing: initial;
}
.smart-zoom-big {
  position: absolute;
  z-index: 4;
  border: 2px solid rgba(0,0,0,.5);
  overflow: hidden;
  box-sizing: initial;
}
.smart-zoom-title {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  background-color: #000;
  color: #fff;
  padding: 3px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 10px;
  top: 0px;
  display: none;
}
.smart-zoom-loading {
  color: white;
  background: #222;
  padding: 3px;
  border: 1px solid rgba(0,0,0,.5);
  position: absolute;
  top: 75%;
  text-align: center;
  z-index: 1;
}
.mousetrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-image: url("../images/blank.png");
  cursor: crosshair;
}
.smart-wrap {
  position: relative;
  top: 0;
  z-index: 1;
}
.smart-wrap a[data-smartzoom] {
  position: relative;
  display: block;
  z-index: 2;
}
.smart-zoom-tint {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
.smart-zoom-soft {
  position: absolute;
  display: none;
  top: 2px;
  left: 2px;
}

/*REMOVE THIS WHEN MOVE CODE THIS FILE INTO PROJECT*/
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  clear: both;
}
.options {
  padding: 0 20px;
}
.options table {
  width: 100%;
  border-collapse: collapse;
}
.options th {
  font-weight: bold;
  color: red;
  border: 1px solid silver;
  padding: 5px;
}
.options td {
  border: 1px solid silver;
  padding: 5px;
}
.options td:first-child {
  font-weight: bold;
}
.options td em {
  text-decoration: underline;
}
