
<form method="GET" action="#" class="control-bar">
  <div class="form-group">
    <label for="effect" class="control-label">Effect : </label>
    <select id="effect" name="effect" class="form-control">
      <option value="show">Show</option>
      <option value="fade">Fade</option>
      <option value="slide" selected="selected">Slide</option>
    </select>
  </div>
  <div class="form-group">
    <label for="slide" class="control-label">Slide</label>
    <input type="text" name="slide" value="0" id="slide" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="autoplay" class="control-label">Autoplay : </label>
    <input type="radio" name="autoplay" id="autoplay"/>
  </div>
  <div class="form-group">
    <label for="duration" class="control-label">Duration</label>
    <input type="text" name="duration" value="1000" id="duration" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="interval" class="control-label">Interval</label>
    <input type="text" name="interval" value="5000" id="interval" class="form-control"/>
  </div>
  <div class="form-group">
    <input type="submit" value="Apply" class="btn btn-primary"/>
    <input type="reset" value="Reset" class="btn btn-warning"/>
  </div>
</form>