
<ul data-slider="slider">
  <li class="active"><img src="images/slider/slide1.jpg" alt="slide 1"/></li>
  <li> <img src="images/slider/slide2.jpg" alt="slide 2"/></li>
  <li><img src="images/slider/slide3.jpg" alt="slide 3"/></li>
  <li><img src="images/slider/slide4.jpg" alt="slide 4"/></li>
</ul>