mixin singleMenu(items)
  nav&attributes(attributes)
    - var active = ''
    - each item,index in items
      - active = index === mainNav ? 'active' : ''
      +link(item.title, item.href, item.text)(class=active)

mixin items(items, activeIndex)
  - var active = ''
  - each item,index in items
    - active = index === activeIndex ? 'active': ''
    li(class=active, class=item.liClass)
      +link(item.title, item.href, item.text)(class=item.linkClass, target=item.target)
      - if(item.subList) {
        ul(class=item.subClass)
          +items(item.subList, item.subActive)
      - }
