extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -menuIndex = 0

block container
  div(data-slide, data-effect="fade", data-duration="600", data-interval="2000", data-autoplay="true")
      img(src="images/1.jpg", alt="")
      img(src="images/2.jpg", alt="")
      img(src="images/3.jpg", alt="")
      img(src="images/4.jpg", alt="")
      img(src="images/5.jpg", alt="")
      img(src="images/6.jpg", alt="")
      img(src="images/7.jpg", alt="")
