.form-element
	+input({'type': 'date'})(data-date="02052015")
	+input({'type': 'text', 'placeholder': 'text'})
	+input({'type': 'month', 'placeholder': 'month'})
	+input({'type': 'week', 'placeholder': 'week'})
	+input({'type': 'url', 'placeholder': 'url'})
	+input({'type': 'email', 'placeholder': 'email'})
	+input({'type': 'password', 'placeholder': 'password'})
	+input({'type': 'number', 'placeholder': 'number'})
	+input({'type': 'tel', 'placeholder': 'tel'})
	+input({'type': 'range'})
	+input({'type': 'search', 'placeholder': 'search'})
	+input({'type': 'radio'})
	+input({'type': 'checkbox'})
	+button({}) Buttons
	+textarea('', '', 'textarea')
