@font-face {
    font-family: 'GillSansBold';
    src: url('../fonts/gillsansbold-webfont.eot');
    src: url('../fonts/gillsansbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gillsansbold-webfont.woff') format('woff'),
         url('../fonts/gillsansbold-webfont.ttf') format('truetype'),
         url('../fonts/gillsansbold-webfont.svg#GillSansBold') format('svg');
}

@font-face {
	font-family: "HelveticaBold";
	src: url("../fonts/helveticabold.eot");
	src: url("../fonts/helveticabold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/helveticabold.woff") format("woff"),
         url("../fonts/helveticabold.ttf") format("truetype"),
         url("../fonts/helveticabold.svg#HelveticaneueLTStdBd") format("svg");
}

@font-face {
	font-family: "HelveticaRegular";
	src: url("../fonts/helveticaregular.eot");
	src: url("../fonts/helveticaregular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/helveticaregular.woff") format("woff"),
         url("../fonts/helveticaregular.ttf") format("truetype"),
         url("../fonts/helveticaregular.svg#HelveticaneueLTStdRoman") format("svg");
}

@font-face {
	font-family: "HelveticaItalic";
	src: url("../fonts/helveticaitalic.eot");
	src: url("../fonts/helveticaitalic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/helveticaitalic.woff") format("woff"),
         url("../fonts/helveticaitalic.ttf") format("truetype"),
         url("../fonts/helveticaitalic.svg#HelveticaItalic") format("svg");
}

@font-face {
	font-family: "FontAwesome";
	src: url("../fonts/fontawesome-webfont.eot");
	src: url("../fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/fontawesome-webfont.woff") format("woff"),
         url("../fonts/fontawesome-webfont.ttf") format("truetype"),
         url("../fonts/fontawesome-webfont.svg#FontAwesome") format("svg");
}

/* common */

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999 !important;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999 !important;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #1e1e1e !important;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999 !important;
}

.style-2 input::-webkit-input-placeholder,
.style-2 textarea::-webkit-input-placeholder {
  color: #a1a6a6 !important;
}
.style-2 input:-moz-placeholder,
.style-2 textarea:-moz-placeholder {
  color: #a1a6a6 !important;
}
.style-2 input::-moz-placeholder,
.style-2 textarea::-moz-placeholder {
  color: #555 !important;
}
.style-2 input:-ms-input-placeholder,
.style-2 textarea:-ms-input-placeholder {
  color: #a1a6a6 !important;
}
.style-2 .messages-block input::-webkit-input-placeholder,
.style-2 .messages-block textarea::-webkit-input-placeholder {
  color: #333 !important;
}
.style-2 .messages-block input:-moz-placeholder,
.style-2 .messages-block textarea:-moz-placeholder {
  color: #333 !important;
}
.style-2 .messages-block input::-moz-placeholder,
.style-2 .messages-block textarea::-moz-placeholder {
  color: #000 !important;
}
.style-2 .messages-block input:-ms-input-placeholder,
.style-2 .messages-block textarea:-ms-input-placeholder {
  color: #333 !important;
}

.style-2 .popover input::-webkit-input-placeholder,
.style-2 .popover textarea::-webkit-input-placeholder {
  color: #ccc !important;
}
.style-2 .popover input:-moz-placeholder,
.style-2 .popover textarea:-moz-placeholder {
  color: #ccc !important;
}
.style-2 .popover input::-moz-placeholder,
.style-2 .popover textarea::-moz-placeholder {
  color: #a4a4a4 !important;
}
.style-2 .popover input:-ms-input-placeholder,
.style-2 .popover textarea:-ms-input-placeholder {
  color: #ccc !important;
}

img {font-size: 11px; word-wrap: break-word;}
input.btn {padding-top: 6px; padding-bottom: 7px;}

.ie7 input.btn {padding-top: 3px; padding-bottom: 3px;}
.ie8 input.btn,
.ie9 input.btn {padding-top: 4px; padding-bottom: 4px;}
input:focus {outline:none!important;}
textarea {resize: none;}
figure {margin: 0;}
	figure.figure1 {width: 40px; margin-top: -3px; float: left;}
	figure.figure1 img {max-width: 25px;}
.input-append input {float: left;}
p strong {font-family: 'HelveticaBold'; font-weight: normal;}

a:focus {outline:none!important;}
a.color-1 {color: #333;}
a.color-2 {color: #0066ff;}
a.color-3 {color: #009cd4;}
a.color-1:hover,
a.color-2:hover,
a.color-3:hover {color: #d16e03;}

.padding-1 {padding: 0 0 0 20px;}
.padding-2 {padding: 10px 20px;}
.margin-1 {margin-right: 27px !important;}
.margin-2 {margin: 18px 0 0 !important;}
.margin-3 {margin: 20px 0 0 !important; padding: 10px 20px;}
.margin-4 {margin: 0 0 0 80px !important;}
.margin-5 {margin-top: 23px;}
.margin-6 {margin: 0 0 5px;}
.margin-7 {margin: 30px 0 0;}
.margin-8 {margin: 0 0 0 -45px;}
.margin-9 {margin: 5px 0 0;}
.margin-10 {margin: 27px 0 0;}

.hidden {display: none;}
.invisible {visibility: hidden;}
.text-large {font-size: 16px;}
.text-default {font-size: 14px;}
.text-small {font-size: 12px;}
.text-mini {font-size: 10px;}
.btn.width-1 {min-width: 45px !important;}
a.btn.width-2 {width: 100px !important;}
button.btn.width-2 {width: 125px !important;}
.fck {overflow: hidden; line-height: 16px;}
	.fck ul, .fck ol {margin: 0 0 10px 0;}
		.fck ul li {margin: 0; padding: 0 0 10px 0; list-style: inside; list-style-type: disc;}
		.fck ol li {margin: 0; padding: 0 0 10px 0; list-style: inside; list-style-type: decimal !important;}

/* block, highlight */
.text-error {font-size: 12px; margin: 0; line-height: 1.2; color: #f00;}

.lead {font-size: 18px;}
	.lead a {margin-top: 5px;}
.profile {overflow: hidden; line-height: 22px; margin-bottom: 35px;}
	.ie7 .profile {margin-bottom: 20px;}
	.profile .heading {margin: 0 !important;}
	.profile .heading .pull-right {margin: 0 25px 0 0;}
	.profile .heading .pull-right p {margin: 0; font-family: 'HelveticaBold'; font-size: 24px;}
	.profile .heading .pull-right a {font-size: 10px;}
	.profile > .span3 a {display: block;}
	.profile > .span3 img {width: 200px;}
	.profile > .span5 h2 {margin-top: 0; margin-bottom: 10px;}
	.profile > .span5 .lead a {display: block;}
	.profile > .span5 .span2 span {width: 50px; padding-right: 10px; display: inline-block; text-align: right; font-family: 'HelveticaBold'; font-size: 24px;}
.thumbnail {border: 0; border-radius: 0; box-shadow: none; padding: 0; line-height: 1.2; overflow: hidden;}
	.thumbnail figure {float: left;}
	.thumbnail figure img {margin: 0; max-width: 60px; width: 100%;}
	.thumbnail figure a {display: block;}
	.thumbnail p {margin: 0;}
	.thumbnail > p {margin: 6px 0 !important;}
	.thumbnail .caption {padding: 0; overflow: hidden;}
	.thumbnail .caption h4 {margin: 0; font-family: 'HelveticaBold'; font-weight: normal;}
	#content .thumbnail figure {margin: 3px 20px 0 0;}
	#sidebar .thumbnail figure {width: 40px; margin: 1px 20px 0 0;}
	#sidebar .thumbnail figure img {max-width: 40px;}
	#sidebar .thumbnail .caption h4 {margin: 0;}
.tag ul.inline {margin-top: 4px;}
.bio .accordion-group, .announcements-block .accordion-group {border: 0; border-radius: 0;}
	.bio .accordion-inner, .announcements-block .accordion-inner {border: 0; padding: 0;}
.thumbnails > li {float: none;}
.thumbnails > li.span4 {float: left;}
.bookmarks .thumbnails > li {margin-bottom: 7px;}
	.bookmarks .thumbnail {line-height: 1.4;}
	.bookmarks .thumbnail .caption {/*padding-left: 40px;*/}
	.bookmarks figure {margin-right: 15px !important;}
	.bookmarks figure img {max-width: 25px;}
	.bookmarks p {font-size: 12px;}
	.bookmarks .span3 p {margin: 0 0 5px; line-height: 1;}
.activities p {line-height: 1.2; margin-bottom: 5px;}
	.activities .heading {margin-top: 0;}
	.activities .thumbnail {margin-bottom: 23px;}
	.activities .thumbnail p {margin-bottom: 4px;}
	.activities .caption {min-height: 78px;}
	.activities figure {width: 60px;}
/*	.ie7 .activities .caption,
	.ie7 .resources .caption {padding-left: 20px;}*/
.question {margin: 0 0 25px; overflow: hidden;}
	.question p {margin-right: 40px;}
.resources .span4 {margin-top: 6px;}
	.resources .heading {margin-top: 0;}
	.resources .caption {margin-right: 40px; min-height: 63px;}
	.resources .thumbnail {margin: 0 0 25px;}
.social .row {margin: 0 0 10px;}
	.social figure {float: left;}
.web p {margin-bottom: 13px;}
.autocomplete {position: relative;}
	.autocomplete .icon-refresh {position: absolute; top: 7px; right: 10px; background: url(../images/loading.gif) no-repeat; width: 16px; height: 16px; line-height: 16px;}
.style-2 .autocomplete-1 {border: 1px solid #a1a1a1; width: 250px; background: #fff;}
	.style-2 .autocomplete-1 li {border-top: 1px solid #a1a1a1; padding: 5px;}
	.style-2 .autocomplete-1 li:first-child {border-top: none;}
	.style-2 .autocomplete-1 .media > .pull-left {width: 20px; margin-top: 2px; margin-right: 10px;}
	.style-2 .autocomplete-1 p,
	.style-2 .autocomplete-1 h4 {font-size: 10px !important; color: #333;}

/* structure */
.container {position: relative;}
	.header .brand {background: url(../images/logo-acme-gain.png) no-repeat; width: 315px; height: 43px; margin-top: 20px; margin-bottom: 17px; text-indent: -9999em; display: block;}
	.header .wrapper {padding: 50px 0 0 10px;}
	.nav-pills {background: #e4e4e4; margin: 0 -30px; padding: 0 30px;}
	.nav-pills > li > a {font-family: 'GillSansBold'; font-weight: bold; font-size: 18px; color: #333; text-transform: uppercase; padding: 10px 0 8px; margin: 0;}
	.nav-pills > li  {margin: 0 0 0 40px;}
	.nav-pills > li:first-child  {margin: 0;}
	.nav-pills > li > a:hover {color: #fc9424 !important; background-color: transparent !important;}
	.nav-pills > li.active > a {color: #333; background-color: transparent;}
	.container strong {font-family: 'HelveticaBold'; font-weight: normal;}
		.container em {font-family: Tahoma, Geneva, sans-serif;}
		#main {overflow: hidden;}
		.span8 > .wrapper {padding: 40px 0;}
		.span8 > .wrapper .wrapper {padding: 0 40px 0 0;}
		.span8 h2 {font-family: 'HelveticaBold'; font-size: 24px;}
		.span8 h2 a {margin: 0;}
		.span8 h3 {font-size: 24px; margin: 20px 0 15px; font-weight: normal;}
		.span8 .span1 h3 {margin: 0;}
		.heading {margin: 20px 0 15px; overflow: hidden;}
		.groups .heading {margin: 0;}
		.heading h3 {margin: 0; font-family: 'HelveticaRegular';}
		.heading a {margin: 7px 0 0 13px;}
		.heading a.text-mini {margin-top: 11px;}
		.heading .pull-right a {margin: 0;}
		.rule {position: absolute; right: 319px; top: 0; bottom: 0; width: 2px; background-color: #f5f5f5;}
	#footer {background: #999;}

/*sidebar*/
#sidebar .text-small {margin: 7px 0 0;}
	.control-1 {margin: 0 0 0 -3px; overflow: hidden;}
	.control-1 .btn {padding: 2px 9px; margin-left: 3px; margin-bottom: 3px; font-family: 'HelveticaBold'; font-size: 12px; float: left;}
	.control-1 .popover .btn {float: none;}
	.control-2 .btn {width: 95px; padding: 5px 0; margin-left: 5px; font-family: 'HelveticaBold'; font-size: 12px;}
	.control-2 .btn:first-child {margin-left: 0;}
	.control-3 {list-style: none; margin: 0;}
	.control-3 li {color: #ff9300; margin-top: 5px;}
	.control-3 li:first-child {margin-top: 0;}
	.control-3 li i {font-size: 16px; margin-right: 5px;}

	#sidebar .control-1 {margin-top: 5px;}
	#sidebar .control-2 {margin: 0;}
	#sidebar .form-search {margin: 0; overflow: hidden;}
	#sidebar .form-search .btn {width: 50px; margin-left: 10px; background: url(../images/icon-search.png) no-repeat center center; text-indent: -9999em;}
	#sidebar > .row {border-bottom: 2px solid #f5f5f5;}
	#sidebar > .row.row-1 {border-bottom: none;}
	#sidebar > .row.row-1 .wrapper {padding-bottom: 0;}
	#sidebar > .row h3 {font-size: 18px; margin: 3px 0; font-weight: normal; letter-spacing: -0.2px;}
	#sidebar > .row h3.title-1 {font-size: 24px; margin: 0;}
	#sidebar > .row > .wrapper {padding: 12px 0 10px 10px;}
	#sidebar > .row p,
	#sidebar .thumbnail .caption a {font-size: 12px;}
	#sidebar .row ul > li {background:url(../images/border-repeat.png) 60px top no-repeat; padding:8px 0; }
	#sidebar .row ul > li:first-child {background: none;}
	#sidebar .thumbnail {position: relative; left:0; top:0; overflow: visible;}
	#sidebar .thumbnail .caption {line-height: 1.4; overflow: visible; float: left;}
	#sidebar .thumbnail .caption .desc {width:205px;}
	#sidebar .thumbnail .caption h4 {font-family:'HelveticaRegular';}
	#sidebar .thumbnail .caption h4 a {display: inline-block; font-family:'HelveticaBold';}
	#sidebar .thumbnail .caption h4 strong {font-size: 12px;}
	#sidebar .groups .thumbnail .caption h4 a {padding-top: 10px;}
	#sidebar .thumbnail .caption h4,
	#sidebar .thumbnail .caption p,
	#sidebar .thumbnail .caption p a {font-size: 11px;}
	#sidebar .thumbnail .points {position:absolute; right: 6px; top: 9px; font-family:'HelveticaBold'; font-size: 14px;}
	#sidebar .thumbnail a.points {font-family:'HelveticaRegular';}

/* login */
.style-1 .header {padding: 0 30px 10px; margin: 0 -30px; background: url(../images/bgd-header.png) repeat-x 0 100%; overflow: hidden;}
	.style-1 h2 {margin: 18px 0 30px; font-family:'HelveticaRegular' !important;}
.frm-login {margin: 0;}
.frm-login ul {margin: 6px 0 0; overflow: hidden;}
	.frm-login ul li {float: left; max-width: 220px; padding-left: 20px;}
	.frm-login ul li:first-child {padding-left: 0;}
	.frm-login ul li > p {margin: 0; overflow: hidden;}
	.ie7 .frm-login ul li > p:first-child {margin-bottom: 5px;}
	.frm-login ul li > input {margin: 25px 0 0;}
	.ie8 .frm-login ul li > input,
	.ie9 .frm-login ul li > input {padding-top: 4px; padding-bottom: 4px;}
	.frm-login .popover.bottom {margin-top: 68px;}
.frm-pwd {margin: 0 0 10px; position: relative;}
	.frm-pwd input[type="text"],
	.frm-pwd input[type="password"] {margin: 0;}
	.frm-pwd .btn {margin: 0 0 0 20px; width: 110px;}
	.frm-pwd .text-error {position: absolute;}
	#frm-pwd-1.frm-pwd .text-error {text-align: center; bottom: -17px; left: 0; width: 100%;}
	#frm-pwd-2.frm-pwd .text-error {top: 0; left: 244px; width: 120px;}
	#frm-pwd-2 > .row:first-child {margin: 0 0 10px;}
	.frm-pwd .ie7 .block-1 {margin: 0 0 10px;}
	.frm-pwd .block-2 {overflow: hidden;}
	.frm-pwd .block-2 a {width: 85px;}
#frm-login .popover {width: 390px;}
#frm-register .span6 .lead {font-size: 24px; margin: 0;}
	#frm-register .btns {margin: 25px 0 0;}
	#frm-register .btns .row6 > span {margin: 5px 0 0;}
	#frm-register .btns .btn {width: 76px;}
.carousel {background: url(../images/bgd-avatar.png) no-repeat 5px 0; margin: -8px 0 0; overflow: hidden;}
	.carousel-inner {width: 322px; height: 390px; margin: 59px 63px 60px 70px; overflow: hidden;}
	.carousel-inner figure {width: 100%; height: 296px; overflow: hidden;}
	.carousel-inner .info {width: 100%; text-align: center; margin: 15px 0 0;}
	.carousel-inner .info p {line-height: 1.3; margin-bottom: 10px;}
	.carousel-inner .info em {font-family: "Times New Roman", Times, serif; color: #000;}
	.carousel-inner .info a {color: #0067ca;}
	.carousel-inner .info a:hover {color: #d16e03;}
	.carousel .paging {overflow: hidden;}
	.carousel .paging .span3 a:first-child {margin-left: 4px;}
	.carousel-indicators {position: static; margin: 5px 5px 0 0;}
	.carousel-indicators li {background: url(../images/wi-icon.png) no-repeat; width: 7px; height: 7px;}
	.carousel-indicators li.active,
	.carousel-indicators li:hover {background: url(../images/wi-icon-hover.png) no-repeat;}
	.carousel-control {position: static; display: block; margin: 0; background: url(../images/wi-icon.png) no-repeat; width: 21px; height: 19px; border: 0; border-radius: 0; text-indent: -9999em; float: left;}
	.carousel-control:hover {background: url(../images/wi-icon-hover.png) no-repeat;}
	.carousel-control.left {background-position: 0 -50px;}
	.carousel-control.right {background-position: -50px -50px;}
.frm {margin-top: 35px;}
	.frm .btn {margin-top: 25px; margin-left: -30px; font-family: 'HelveticaBold';}
	.ie7 .frm .btn {padding-top: 1px; padding-bottom: 1px;}
	.btn.color-1 {color: #0066cc; background: #ffff66;}
	.btn.color-1:hover {color: #0755a3; background: #efef41;}
.step-1 .btn {padding-top: 4px; padding-bottom: 4px;}
	.step-1 .autocomplete .icon-refresh {right: 25px;}
.step-2, .step-3 {position: relative; overflow: hidden;}
	.input-append .btn {border-radius: 0 3px 3px 0 !important;}
	.step-2 .span6 > .wrapper {padding: 0 80px 0 0;}
	.step-2 .span6 > .wrapper .span2 .note {word-wrap: break-word;}
	.step-2 label {font-size: 18px;}
	.step-2 .first {margin: 0 0 30px;}
	.step-2 > p,
	.step-2 .note.pull-left {font-size: 14px; margin-top: 5px;}
	.step-2 .first .span3 .note {padding: 0;}
	.step-3 .first .span5 .note {word-wrap: break-word;}
	.step-3 .form-1 > p {position: absolute; top: 5px; right: 0;}

	/*.step-3 > .row > .wrapper {padding: 0 80px 0 0;}*/
	#main .form-1 .heading {margin: 0;}
	.form-1 .heading h3 {width: 175px; margin: 0 0 20px; float: left; font-size: 18px; font-weight: normal;}
	.form-1 .heading h3:first-child {width: 225px;}
	.form-1 .row .input-append input[type=text] {width: 233px;}
	.form-1 .border-block h3 {font-size: 18px; font-weight: normal; margin: 10px 0 20px 137px;}
	.ie7 .form-1 .border-block h3:first-child {margin-top: 20px;}
	.form-1 .margin-1 h3 {margin-left: 101px}
	.note {padding: 0 10px; margin: 0 0 13px; font-size: 12px; color: #666;}
	.form-1 label.pull-right {margin: 5px 12px 0 0;}
	.form-1 label span {display: block; margin: 23px 0 0 0; text-align: right;}
	.form-1 label span img {width: 25px;}
	.thumbnail.thumbnail-1 figure {width: 200px; height: 200px; overflow: hidden; margin: 0 20px 0 0;}
	#frm-edit-account .thumbnail-1 {margin: 0 0 18px;}
	.thumbnail.thumbnail-1 figure img {max-width: 100%; width: 100%;}
	.thumbnail.thumbnail-1 p {margin-bottom: 12px; color: #666;}
/*	.thumbnail.thumbnail-1 .caption {padding: 0 0 0 225px;}*/
	.thumbnail.thumbnail-1 input[type="checkbox"] {margin-top: 3px;}
	.ie7 .thumbnail.thumbnail-1 input[type="checkbox"] {margin-top: -2px;}
	.ie8 .thumbnail.thumbnail-1 input[type="checkbox"],
	.ie9 .thumbnail.thumbnail-1 input[type="checkbox"] {margin-top: -1px;}
	
	.form-1 .row input[type="text"],
	.form-1 .row input[type="password"],
	.form-1 .uneditable-input {width: 286px;}
	.form-1 .uneditable-input {font-family: 'HelveticaBold';}
	.form-1 .row textarea {width: 286px; height: 110px;}
	.form-1 .row label.span5 {max-width: none !important; margin: 0 0 5px;}
	.form-1 .row input.span5 {width: 386px; margin-bottom: 5px;}
	.form-1 .row textarea.span5 {width: 386px; height: 140px;}
	.form-1 .row select {width: 300px;}
	.form-1 .row select.width-1 {width: 219px;}
	.form-1 input.width-1 {width: 105px !important;}
	.form-1 input[type="text"].width-2 {width: 710px !important;}
	.form-1 input[type="text"].width-3 {width: 660px !important;}
	.form-1 .btn.width-1 {margin: 0 0 10px 10px;}
	.form-1 .input-append .btn.width-1 {margin: 0 0 0 -1px;}
	.form-1 .btns {margin: 0 0 0 250px;}
	.form-1 .btns a {font-size: 12px; padding-top: 0; padding-bottom: 0;}
	.form-1 .btn {color: #666;}
	.form-1 .btn .icon-plus {margin: 0;}
	.form-1 .first .span7 {margin: 3px 0 0;}
	.ie7 .form-1 .btn .icon-plus,
	.ie8 .form-1 .btn .icon-plus,
	.ie9 .form-1 .btn .icon-plus {margin-top: -1px;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.form-1 .btn .icon-plus {margin-top: 2px;}
	}
	.form-1 .first .input-append {margin-top: 23px;}
	.form-1 .first .span6 {margin-top: 24px;}
	.form-1 label.pull-right {max-width: 125px; text-align: right;}
	.form-1 .margin-1 label.pull-right {max-width: 88px;}
	.form-1 .first label {font-size: 16px; max-width: 220px;}
	
	.form-1 .block-2 {overflow: hidden;}
	.form-1 .block-2 div.pull-right {width: 300px;}
	.form-1 .block-2 .usename-group {margin: 10px 0 25px 121px; font-size: 12px;}
	.form-1 .block-2 .usename-group li {margin: 0 0 10px;}
	.form-1 .block-2 .usename-group span {color: #666;}
	.form-1 .block-2 .usename-group .btn {margin: -2px 20px 0 0; padding-top: 0; padding-bottom: 0; font-size: 12px;}
	.form-1 .border-block.margin-1 {padding-right: 30px;}
	.form-1 .block-2 a {width: auto; margin: 0;}
	.form-1 .block-3 {padding-left: 45px !important;}
	.form-1 .block-3 ul {margin-top: 10px;}
	.form-1 .block-3 ul .col-1 {width: 130px;}
	.form-1 .block-3 ul .col-2 {width: 135px;}
	.form-1 .block-3 ul .col-2.margin-8 {width: 180px;}
	.form-1 .block-3 ul .col-2 .radio-group {overflow: visible;}
	.form-1 .block-3 ul .col-2 .radio {margin-left: 25px; margin-top: 0; padding-top: 0;}
	.form-1 .block-3 ul .col-2 .radio:first-child {margin-left: 0;}
	.form-1 .block-3 ul .col-3 {width: 78px; padding-right: 0; text-align: right;}
	.ie7 .form-1 .block-3 ul .col-3 {width: 86px;}
	.form-1 .block-4 {padding-left: 30px !important; padding-right: 30px !important; margin: 0 !important;}
	.form-1 .block-4 label {max-width: 100px;}
	.form-1 .block-4 textarea {width: 404px !important;}
	.form-1 .span6 > .row > .btn {margin-top: 58px;}

	.form-1 .caption label {font-size: 14px; color: #666;}
	.form-1 .border-block {border: 1px solid #a1a1a1; overflow: hidden; padding: 10px 20px; margin: 20px 0 0; clear: both;}
	.form-1 .border-block label {margin-top: 5px;}
	.form-1 .border-block a.color-2 {font-size: 12px;}
	.form-1 .border-block.block-3 .col-3 a.color-2 {font-size: 14px;}
	.form-1 .radio-group {/*overflow: hidden;*/}
	.form-1 .radio-group .radio.inline {margin-left: 35px; margin-top: 0;}
	.form-1 .radio-group .radio.inline:first-child {margin-left: 15px;}
	.form-1 .span6 .radio-group .radio.inline:first-child {margin-left: 0;}
	.form-1 .radio-group .radio.inline input {margin-top: 2px;}
	.ie7 .form-1 .radio-group .radio.inline input {margin-top: -2px;}
	.ie8 .form-1 .radio-group .radio.inline input {margin-top: -1px;}
	.ie9 .form-1 .radio-group .radio.inline input {margin-top: 0px;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.form-1 .radio-group .radio.inline input {margin-top: 4px;}
	}
	.form-1 .border-block .checkbox.inline {margin: 0 0 0 20px;}
	.form-1 .border-block .checkbox.inline:first-child {margin-left: 0;}
	.form-1 .border-block .checkbox.inline input {margin-top: 3px;}
	.ie7 .form-1 .border-block .checkbox.inline input {margin-top: -2px;}
	.ie8 .form-1 .border-block .checkbox.inline input,
	.ie9 .form-1 .border-block .checkbox.inline input {margin-top: -1px;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.form-1 .border-block .checkbox.inline input {margin-top: 4px;}
	}
	.form-1 .border-block.block-1 label {font-size: 16px; margin-top: 5px;}
	.form-1 .span6 .border-block.block-1 label {font-size: 14px;}
	.form-1 .border-block.block-1 .clearfix {margin: 0 0 13px;}
	.form-1 .border-block.block-1 .clearfix > .pull-left {margin-left: 40px;}
	.form-1 .border-block.block-1 .clearfix label.checkbox {margin: 4px 0 0;}
	.form-1 .border-block.block-1 .clearfix .pull-right {margin: 0 0 0 15px;}
	.form-1 .border-block.block-1 .btn.width-1 {margin-left: 15px;}
	.form-1 .border-block.block-1 .input-append {margin: 0 0 0 10px;}
	.form-1 .border-block.block-1 .input-append .btn.width-1 {margin: 0 0 0 -1px;}
	.ie7 .form-1 .border-block.block-1 .input-append .icon-calendar {margin: 3px 0;}
	.form-1 .border-block .tag-block {margin: 5px 0 17px;}
	.form-1 .border-block .note {margin: 0;}
	.form-1 .border-block .tag-block .note {margin: 4px 0 0;}
	.form-1 .border-block .tag-block .pull-right {width: 577px; margin: 0; overflow: hidden;}
	.form-1 .border-block .tag-block .btn.width-1 {margin-left: 8px; padding-top: 0; padding-bottom: 0;}
	
	.form-1#frm-edit-account .caption h3 {margin: 0 0 20px;}
	.form-1#frm-edit-account p,
	.form-1#frm-edit-account label {color: #666;}
	.form-1#frm-edit-account p.note {padding: 0;}
	.form-1#frm-edit-account p.lead {font-size: 24px; color: #333; margin: 20px 0 0;}
	.form-1#frm-edit-account .radio-group {width: 300px; margin: 0 0 15px;}
	.form-1#frm-edit-account .radio-group .radio.inline {margin-left: 25px !important;}
	.form-1#frm-edit-account .row > .btn {margin: 17px 0 0 30px; text-transform: capitalize;}
	.form-1#frm-edit-account .row > input.btn {width: 126px !important;}
	.form-1#frm-edit-account .border-block h3 {font-size: 24px; margin: 10px 0 17px;}
	.ie7 .form-1#frm-edit-account .radio.inline input {margin-top: -2px;}
	.ie8 .form-1#frm-edit-account .radio.inline input,
	.ie9 .form-1#frm-edit-account .radio.inline input {margin-top: -1px;}
	.form-1 .checkbox-group p {margin: 0 0 0 20px;}
	.form-1 .checkbox-group label {font-size: 16px; margin: 13px 0 3px; color: #333 !important;}
	.form-1 .checkbox-group .checkbox input {margin-top: 2px;}
	.ie7 .form-1 .checkbox-group .checkbox input,
	.ie8 .form-1 .checkbox-group .checkbox input,
	.ie9 .form-1 .checkbox-group .checkbox input {margin-top: -1px;}
	.form-1 .checkbox-group .checkbox.last input {margin-top: 4px;}
	.ie8 .form-1 .checkbox-group .checkbox.last input {margin-top: 1px;}
	.ie7 .form-1 .checkbox-group .checkbox.last input,
	.ie9 .form-1 .checkbox-group .checkbox.last input {margin-top: 0;}
	#main .people-page h2 {font-size: 31.5px; margin-bottom: 10px;}
	.people-page #content > .wrapper {padding: 0 10px 0 0;}
	.people-page #frm-search input {margin: 0;}
	.people-page #frm-search .btn,
	.people-page #frm-search a {margin: 0 0 0 15px;}
	.nav-tabs {
		background-color: #cccccc;
		background-image: -moz-linear-gradient(top, #e2e2e2, #cccccc);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e2e2e2), to(#cccccc));
		background-image: -webkit-linear-gradient(top, #e2e2e2, #cccccc);
		background-image: -o-linear-gradient(top, #e2e2e2, #cccccc);
		background-image: linear-gradient(to bottom, #e2e2e2, #cccccc);
	}
	.sort-block {position: absolute; top: 49px; left: 0; width: 100%;}
	.sort-block .row-fluid .span8,
	.sort-block .row-fluid .span4 {min-height: 0;}
	.sort-block .alphabet {overflow: hidden;}
	.sort-block .alphabet a {margin: 0 0 0 5px; float: left;}
	.sort-block .alphabet a:first-child {margin: 0 0 0 8px;}
	.sort-block .pull-right p {color: #999; margin: 0 25px 0 0;}
	.sort-block .pagination {margin: 5px 0 0;}
	.sort-block .pagination a {color: #009cd4;}
	.sort-block .pagination a:hover {color: #d16e03;}
	.sort-block .pagination .disabled a,
	.sort-block .pagination .active a {color: #999;}
	.tabs-block {margin: 0 0 25px; position: relative;}
	.tabs-block .nav-heading {padding: 2px 2px 56px; border: 1px solid #aaa; border-radius: 5px 5px 0 0;}
	.tabs-block .nav-heading ul {margin: 0;}
	.tabs-block .nav-heading .nav-tabs {padding: 2px 0 0; border: 1px solid #aaa; border-radius: 4px;}
	.tabs-block .nav-heading .nav-tabs li {margin-left: 2px;}
	.tabs-block .nav-heading .nav-tabs a {margin-right: 0; background-color: #ededed; border-color: #d3d3d3 #d3d3d3 #aaa;}
	.tabs-block .nav-heading .nav-tabs li.active a,
	.tabs-block .nav-heading .nav-tabs li a:hover {background-color: #fff; border-color: #aaa #aaa #fff;}
	.people-page .tabs-block .tab-content {/*max-height: 816px; */border-bottom: 1px solid #a1a1a1;}
	.tabs-block .tab-content .group h3 {font-size: 14px; font-weight: bold; line-height: 1.4; margin: 0; padding: 0 18px; border-top: 1px solid #a1a1a1; border-bottom: 1px solid #a1a1a1;}
	.tabs-block .tab-content .group.first h3 {border-top: none;}
	.tabs-block .media-body p {margin: 0; font-size: 12px; line-height: 1.2;}
	.tabs-block .media-list {margin: 0;}
	.people-page .tabs-block .media-list {max-height: 816px;}
	.tabs-block .media-body .media-heading {font-size: 18px; font-weight: normal; color: #0066ff; margin: 0 0 2px; line-height: 1;}
	.tabs-block .media-body .media-heading strong { margin: 0 0 0 15px;}
	.people-page #content > p {color: #666; margin: 0 0 15px;}
	.tabs-block .media {padding: 7px 0 9px; margin: 0; border-top: 1px solid #a1a1a1;}
	.tabs-block .media:first-child {border-top: none;}
	.ie7 .tabs-block .media {padding: 7px 0;}
	.ie8 .tabs-block .media {padding: 7px 0 8px;}
	.tab-content .media-body .pull-left {width: 280px;}
	.tab-content .media-body .pull-right {width: 260px;}
	.tabs-block .media > a.pull-left {width: 60px; height: 60px; margin-top: 3px; overflow: hidden;}
	.tabs-block .media > a.pull-left img {width: 60px;}
	.tabs-block .media .connection {overflow: hidden;}
	.tabs-block .media .connection span {width: 50%; float: left;}
	.people-page .control-1 {margin: 0 0 21px;}
	.people-page .control-1.text-center a {float: none; margin-right: 1px;}
	.people-page .control-1 .btn {padding: 0 1px; margin: 0 3px 5px 0; font-size: 12px; line-height: 1.2;}
	.people-page .avatar-group {margin: 0 0 17px; overflow: hidden;}
	.people-page .avatar-group > a {width: 60px; height: 60px; display: block; float: left; margin: 0 3px 3px 0; overflow: hidden;}
	.people-page .avatar-group > a img {width: 60px;}
	.people-page .avatar-group .popover {width: 325px;}
	.popover .arrow {border: 0; background: url(../images/arrow-1.png) no-repeat center 0; width: 22px; height: 11px;}
	.popover .arrow:after {border: 0;}
	.people-page .avatar-group .popover .arrow {padding: 0 20px; margin-left: -30px;}
	.people-page .avatar-group .popover-title {display: none;}
	.people-page .avatar-group .popover-content {padding: 0; margin: 10px 0; border-top: 1px solid #a1a1a1; border-bottom: 1px solid #a1a1a1;}
	.people-page .avatar-group .popover .media {padding: 7px 10px 4px;}
	.people-page .avatar-group .popover .connection {padding: 0 10px;}
	.people-page .avatar-group .popover .btns {margin: 3px 0 0; padding: 5px 10px 0; border-top: 1px solid #a1a1a1; overflow: hidden;}
	.people-page .announcements-block {border-top: 1px solid #a1a1a1; border-bottom: 1px solid #a1a1a1; padding: 10px 0 4px; overflow: hidden;}
	.people-page .icon-arrow-down,
	.people-page .icon-arrow-up {background-position: 0 center; background-repeat: no-repeat; margin: 0 5px 0 0;}
	.people-page .icon-arrow-down {background-image: url(../images/icon-arrow-down.png);}
	.people-page .icon-arrow-up {background-image: url(../images/icon-arrow-up.png);}
	.ie7 .people-page .icon-arrow-down,
	.ie8 .people-page .icon-arrow-down,
	.ie9 .people-page .icon-arrow-down,
	.ie7 .people-page .icon-arrow-up,
	.ie8 .people-page .icon-arrow-up,
	.ie9 .people-page .icon-arrow-up {background-position: 0 1px;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.people-page .icon-arrow-down,
		.people-page .icon-arrow-up {background-position: 0 4px;}
	}
	.people-page #sidebar .item {margin: 0 0 8px; overflow: hidden; position: relative;}
	.people-page #sidebar .item .info {padding: 0 60px 0 0; margin: 0 0 10px;}
	.people-page #sidebar .organizations .item .info {margin: 0 0 5px;}
	.people-page #sidebar .item .info p {margin: 0 0 3px;}
	.text-1 {position: relative; padding: 0 0 0 17px;}
	.text-1 i {position: absolute; top: 1px; left: 0;}
	.people-page #sidebar .item .time {position: absolute; right: 0; top: 20px; font-size: 12px;}
	a .icon-play {margin: -2px 0 0;}
	.ie9 a .icon-play {margin: -3px 0 0;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		a .icon-play {margin: 0;}
	}

/*--------- new design ---------*/
.style-2 h1,
.style-2 h2,
.style-2 h3,
.style-2 h4,
.style-2 h5,
.style-2 h6 {font-family: 'HelveticaRegular'; font-weight: normal; color: #636363;}
.style-2 h2 {font-size: 30px;}

.links {font-size: 10px; margin-left: -5px !important;}
	.links a {padding: 0 5px;}

.style-2 .btn {background: #ff9300; border: 0; border-radius: 0; padding: 1px 7px 2px; color: #fff; text-shadow: none; line-height: 1.4;}
.style-2 .btn:hover {background: #da8108;}
.style-2 .btn-1 {background: #fff; color: #ff9300;}
.style-2 .btn-1:hover {background: #fff4e6;}
.style-2 .btn-1 {background: #fff; color: #ff9300;}
.style-2 .btn-1:hover {background: #fff4e6;}
.style-2 .color-1 {color: #636363;}
.style-2 .color-1:hover {color: #da8108;}
.style-2 .color-4 {color: #999;}
.style-2 .color-4:hover {color: #da8108;}
.style-2 .color-5 {color: #666;}
.style-2 .color-5:hover {color: #da8108;}
.style-2 .color-6 {color: #333;}
.style-2 .color-6:hover {color: #da8108;}
.style-2 .bgd-1 {background-color: #00c4dc; font-family: 'HelveticaBold';}
.style-2 .bgd-1:hover {background-color: #23def5;}
.style-2 .heading .btn {text-transform: uppercase;}
.style-2 .btns {margin: 10px 0 0 -1px; overflow: hidden;}
.style-2 .btns.btns-1 {margin:0;}
.style-2 .btns.btns-1 .color-1 {text-decoration: underline;}
.style-2 .btns.btns-2 {margin-top: 0; margin-bottom: 7px;}
.item-list .pager {margin: 0; text-align: left;}
.item-list .pager a,
.style-2 .btns.btns-2 .btn {float: left; padding: 4px 7px; line-height: 20px; text-decoration: none; background-color: #fff; border: 1px solid #ddd; color: #0066ff; float: none; border-radius: 4px;}
.style-2 .btns.btns-2 input.btn {padding-top: 7px; padding-bottom: 8px;}
.item-list .pager a:hover,
.style-2 .btns.btns-2 .btn:hover {background-color: #f5f5f5; color: #d16e03;}
.style-2 .btns.btns-3 .btn {float: none;}
.style-2 .btns .btn {float: left; margin: 2px 0 0 1px; text-transform: capitalize; min-width: 30px;}
.item-list {margin-bottom: 3px;}
.item-list .pager li.pager-item {display: none;}
.item-list .pager li {float: left; border-width: 1px 1px 1px 0; border-style: solid; border-color: #ddd; border-radius: 0;}
.item-list .pager li.pager-current {padding: 6px 16px 5px 15px; color: #0066ff;}
.linux.chrome .item-list .pager li.pager-current {padding-bottom: 6px;}
.linux .specific-organization-page .energy-groups .btns .btn {padding-left: 2px; padding-right: 2px;}

.item-list .pager li a {padding-left: 15px; padding-right: 16px; border: 0;}
.item-list .pager li.first {border-radius: 4px 0 0 4px; border-left-width: 1px;}
.item-list .pager li.first a {padding-left: 29px; background: url(../images/bgd-previous.png) no-repeat 22% center;}
.item-list .pager li.last {border-radius: 0 4px 4px 0;}
.item-list .pager li.last a {padding-right: 29px; background: url(../images/bgd-next.png) no-repeat 78% center;}

.style-2 #content {margin-bottom: 20px;}
.style-2 .autocomplete .icon-refresh {top: 6px;}
.style-2 .autocomplete .icon-refresh:before {content: '';}
.style-2 #main {margin-left: -30px; margin-right: -30px; background-color: #ececec;}
.style-2 #main > .wrapper {padding: 0 30px 30px;}
.style-2 .clrt-1 {color: #ff9300; margin-bottom: 5px;}
	.style-2 .clrt-1 i {font-size: 16px; margin-right: 5px;}
.style-2 .frm-search input[type="text"] {border-radius: 10px;}
.style-2 .title-2 {font-size: 14px; color: #fff; text-transform: uppercase; background-color: #ff9300; min-width: 156px; padding: 0 10px 2px; float: left;}
.style-2 .media {margin: 0;}
.style-2 .media h4 {font-size: 12px; line-height: 1.2; margin: 0;}

.text-2 {font-size: 50px; line-height: 1.2; position: absolute; top: -4px; left: 0;}
.text-3 {padding: 20px; margin: 0;}

/* popup */
.popover .popover-title {margin: 0;}
.control-1 .popover,
.style-1 #sidebar .popover {max-width: 500px; width: auto; padding: 0;}
.style-1 #sidebar .popover-title {margin: 0;}
.style-2 .popover {max-width: 500px; width: auto; padding: 30px 0 25px 20px; border-radius: 30px; z-index: 9999;}
	.popover-width-1 {width: 279px;}
	.popover-width-2 {width: 440px;}
	.popover-width-3 {width: 125px;}
	.popover-width-4 {width: 300px; max-width: 300px;}
	.style-2 .popover-title {border-top: 3px solid #ff9300; border-bottom-color: #cac9c9; border-radius: 0; padding: 11px 10px 8px 0; background: none; font-size: 22px; color: #666; line-height: 1.2; text-transform: uppercase;}
	.ie7 .style-2 .popover-title {padding-right: 0;}
	.style-2 .popover-content {padding: 20px 20px 0 0; overflow: hidden;}
	.style-1 #sidebar .popover-content .input-xlarge,
	.control-1 .popover-content .input-xlarge,
	.style-2 .popover-content .input-xlarge {width: 265px;}
	.style-2 .popover-content .input-xxlarge {width: 425px;}
	.style-1 #sidebar .popover-content .span8 p,
	.style-2 .popover-content .span8 p {margin-right: 2px;}
	.style-1 #sidebar .popover-content p,
	.control-1 .popover-content p,
	.style-2 .popover-content p {font-size: 11px;}
	.style-1 #sidebar .popover-content p > a,
	.control-1 .popover-content p > a,
	.style-2 .popover-content p > a {font-size: 14px;}
	.style-2 .popover-content input {font-style: normal; color: #ccc; border-color: #a1a1a1;}
	.style-1 #sidebar .popover-content .btn {line-height: 1.2;}
	.control-1 .popover-content .btn {font-family: 'HelveticaRegular'; padding: 4px 12px; margin-right: 0;}
	.style-1 .popover-content .btns,
	.control-1 .popover-content .btns,
	.style-2 .popover-content .btns {margin: 5px 0 0 -10px;}
	.style-1 #sidebar .popover-content .btns .btn,
	.control-1 .popover-content .btns .btn,
	.style-2 .popover-content .btns .btn {margin: 0 0 8px 10px;}
	/*.style-1 #sidebar .popover #tags .btn {padding-left: 9px; padding-right: 9px;}*/
	.style-1 #sidebar .popover #tags .btn,
	.control-1 .popover #tags .btn {padding-left: 8px; padding-right: 9px;}
	.style-2 .popover-content #tags .btn {padding-left: 10px; padding-right: 10px;}
	.ie7 .control-1 .popover-content .#tags .btn {padding-right: 10px;}
	.ie8 .control-1 .popover-content .#tags .btn {padding-right: 8px;}
	.ie9 .control-1 .popover-content .#tags .btn {padding-right: 8px;}
	.ie7 .style-2 .popover-content #tags .btn {padding-right: 11px;}
	.ie8 .style-2 .popover-content #tags .btn {padding-left: 9px;}
	.ie9 .style-2 .popover-content #tags .btn {padding-left: 9px;}
	.style-1 #sidebar .popover-content .btns.text-right,
	.control-1 .popover-content .btns.text-right,
	.style-2 .popover-content .btns.text-right {margin-top: 35px; margin-bottom: 15px;}
	.style-2 .btn.btn-default {float: none;}
	.style-1 #sidebar .popover-content .btn-default i,
	.control-1 .popover-content .btn-default i,
	.style-2 .btn-default i {margin-right: 5px; vertical-align: middle; font-size: 14px;}
	.style-1 #sidebar .popover-content .btn-default {font-size: 12px;}
	.style-1 #sidebar .popover-content .btn-default i,
	.control-1 .popover-content .btn-default i {margin-top: -2px;}
.tag-input {/*float: left; */padding: 2px 3px 0; border: 1px solid #a1a1a1; width: 495px; overflow: hidden;}
	.tag-input .btn.btn-default {float: left;}
.tag-inner {float: left;}
	.tag-inner input {width: 10px !important; min-height: 22px; margin: 0 0 2px; /*background-color: #efefef;*/ border: none; outline: none; box-shadow: none !important; -moz-box-shadow: none !important; -webkit-box-shadow: none !important;}
	.tag-inner .btn.btn-default {padding-left: 7px; padding-right: 7px; margin-right: 1px !important; margin-bottom: 2px;}
	/* popover-share */
	.label-1 {overflow: hidden;}

.style-2 .form-2 {margin: 0;}
	.style-2 .form-2 a {text-decoration: underline;}
	.style-2 .form-2 p {margin: 0;}
	.style-2 .form-2 label {font-size: 18px; color: #ff9300; margin-bottom: 8px;}
	.style-2 .form-2 .btn {text-transform: uppercase; padding-top: 5px; padding-bottom: 3px;}
	.input-setting {display: inline-block; position: relative;}
		.input-setting .icon-search {position: absolute; top: 50%; left: 8px; margin-top: -7px; font-size: 12px; color: #898989; text-decoration: none;}
		.input-setting input {padding-left: 25px; margin: 0; font-style: normal;}
		.input-setting input.input-xlarge {width: 245px;}
		.input-setting input.input-xxlarge {width: 430px;}
		.input-setting .popover-title {display: none;}
		.input-setting .popover-content {padding-top: 0;}
		.input-setting .popover-content ul {margin: 0;}
		.input-setting .popover-content li {padding-top: 3px;}
		.input-setting .popover-content li:first-child {padding-top: 0;}
	.style-2 #content .form-2 .input-setting input {font-style: normal;}
	.style-2 #content .form-2 .btn {margin-left: 27px;}
	.style-2 #sidebar .input-setting {margin: 0 0 7px;}
	.style-2 #sidebar .frm-search h3 {font-size: 15px; color: #000; margin: 0 0 3px;}
	.style-2 #sidebar .form-2 a {margin-right: 20px;}


.block {border-width: 3px 1px 1px; border-style: solid; border-color: #ff9300 #cac9c9 #cac9c9; background-color: #fff; margin: 20px 0 0; /*overflow: hidden;*/}
	.block > .wrapper {padding: 0 0 20px;}
	#sidebar .block > .wrapper {padding: 10px 10px 7px;}
	#sidebar .block > .content {padding: 15px 10px 10px;}
	.block .heading {margin: 0;}
	.block > h3 {padding: 15px 20px; margin: 0;}
	.block > .content {padding: 15px 20px; overflow: hidden;}
	.block .heading > .wrapper {padding: 15px 20px; overflow: hidden;}
	#content .block > .content {border-top: 1px solid #cac9c9;}
	#content .block > .content:first-child {border-top: none;}
	#content .block.frm-search > .content {padding-top: 10px; padding-bottom: 5px;}
	.announcements > .content p {margin: 15px 0 0; font-size: 14px;}
	.announcements > .content p:first-child {margin: 0;}
	.announcements h4 {font-size: 24px; color: #ff9300; margin-top: 5px;}

.number {min-width: 18px; height: 22px; line-height: 22px; padding: 0 2px; border-radius: 50%; position: absolute !important; top: 10px; right: 20px; background-color: #ff9300; font-family: 'HelveticaBold'; font-size: 10px; color: #fff; text-align: center;}
.style-2 .media > .pull-left,
.style-2 .media > .item {margin-right: 15px; float: left; overflow: hidden;}
	.style-2 .media > .pull-left img {width: 100%}
	.style-2 .media > .media-body p {margin: 0; line-height: 1.2;}

.popover .list-1 {list-style: none; margin: 0;}
	.popover .list-1 .lead {font-size: 18px;}
	.popover .list-1 label,
	.popover .list-1 input,
	.popover .list-1 .btn {font-size: 14px;}
	.popover .list-1 li {padding: 7px 0 0; border: none;}
	.popover .list-1 li:first-child {padding-top: 0;}
	.popover .list-1 li input {margin-bottom: 8px;}
	.popover .list-1 li label {margin-bottom: 3px;}
	.popover .list-1 li > .checkbox {margin-bottom: 3px;}
	.popover .list-1 li .checkbox input {margin-bottom: 0;}
	.popover .list-1 li .btns.text-right {margin: 5px 0 0;}
	.popover .list-1 p {margin: 0;}
	.popover .list-1 .autocomplete input {margin-bottom: 3px;}
.energy-groups {border-width: 3px; border-color: #000; position: relative; z-index: 10;}
	.energy-groups > .wrapper {padding: 15px 20px 20px; position: relative;}
	.energy-groups h2 {padding-right: 40px; margin: 0 0 15px;}
	.energy-groups h3 {font-size: 12px; font-weight: bold; color: #ff9300; margin: 0; text-transform: uppercase;}
	.energy-groups .btns:first-child {margin: 0 0 10px;}
	.energy-groups .btns:first-child .btn {font-family: 'HelveticaBold';}
	.energy-groups .span6:first-child h3 {font-size: 14px; text-transform: capitalize;}
	.energy-groups .number {min-width: 26px; height: 30px; line-height: 30px; font-size: 13px; border-radius: 15px;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.energy-groups .number {padding: 0 3px 0 1px;}
	}
	.energy-groups .media h4,
	.members .media h4 {font-family: 'HelveticaBold'; margin-bottom: 2px;}
	.energy-groups .block-5 {margin: 16px 0 0;}
	.energy-groups .block-5 {*zoom: 1;}
	.energy-groups .block-5:before,
	.energy-groups .block-5:after {display: table; content: ""; line-height: 0;}
	.energy-groups .block-5:after {clear: both;}

	.energy-groups .span6:first-child .block-5 {font-size: 14px;}
	.energy-groups .btns {margin-top: 0; margin-bottom: 20px;}
	.energy-groups .btns .btn {padding-left: 6px; padding-right: 6px; float: right;}
	.energy-groups.energy-groups-1 {border-width: 3px 1px 1px; border-color: #ff9300 #cac9c9 #cac9c9;}
	.energy-groups.energy-groups-1 > .wrapper {border-top: 1px solid #cac9c9;}
	.energy-groups.energy-groups-1 .heading h3,
	.energy-groups.energy-groups-1 > .wrapper > h3 {font-size: 24px; font-weight: normal; color: #636363;}
	.energy-groups.energy-groups-1 > .wrapper > h3 {margin: 10px 0 15px; padding-right: 40px;}
	.energy-groups.energy-groups-1 .btns .btn,
	.specific-organization-page .energy-groups .btns .btn {padding-left: 3px; padding-right: 4px;}
	.linux .specific-organization-page .energy-groups .btns .btn {padding-left: 2px; padding-right: 2px;}

	.general-group-page .energy-groups .btns .btn {padding-left: 5px; padding-right: 5px;}
	
	.energy-groups.energy-groups-1 .block-5 {margin: 16px 0 0;}
	.specific-organization-page .energy-groups .span6:first-child .block-5,
	.general-organization-page .span6:first-child .block-5 {font-size: 12px;}
	.specific-organization-page .energy-groups .block-5 ul,
	.energy-groups.energy-groups-1 .block-5 ul {margin: 12px 0 0;}
	.energy-groups .block-5:first-child {margin: 0;}
	.energy-groups .block-5 ul {margin: 15px 0 0; overflow: hidden;}
	.energy-groups .block-5 li {padding: 0; line-height: 1; overflow: hidden;}
	.energy-groups .block-5 li span {display: block; float: left; width: 70%; font-family: 'HelveticaBold'; line-height: 1.3;}
	.energy-groups .block-5 li span:first-child {width: 20%; padding-right: 15px; margin: 0; font-family: 'HelveticaRegular'; padding-top: 1px;}
	.energy-groups .span6:first-child .block-5 li span {font-family: 'HelveticaRegular';}
	.energy-groups .block-5 .text-right {margin: 16px 0 0;}
	.energy-groups .block-5 .text-right .btn {padding-top: 3px;}
	.energy-groups .block-5 ul.unstyled-1 li > span {width: 60%;}
	.energy-groups .block-5 ul.unstyled-1 li > span:first-child {width: 30%; padding-right: 15px;}
	.energy-groups.energy-groups-1 .block-5 ul.unstyled-1 li > span {width: 45%;}
	.energy-groups .block-5 ul.unstyled-2 li {width: 55%; float: left;}
	.energy-groups .block-5 ul.unstyled-2 li:first-child {width: 35%; padding-right: 15px;}
	.energy-groups .block-5 ul.unstyled-2 li span {width: 53%;}
	.energy-groups .block-5 ul.unstyled-2 li span:first-child {width: 27%; padding-right: 15px;}
	.energy-groups .block-5 ul.unstyled-2 p {margin: 0; overflow: hidden;}
	.energy-groups .block-5 ul.unstyled-3 li > span span {display: block; width: auto;float: none;}
	.energy-groups .media {margin-top: 5px;}
	.energy-groups .media > .pull-left {width: 60px; height: 60px; margin-top: 2px;}
	.energy-groups .popover {/*width: 460px; max-width: 460px;*/}
.members ul {border-top: 1px solid #cac9c9; margin: 0; overflow: hidden;}
	.members ul li {width: 50%; padding: 0; float: left; position: relative; border-left: 1px solid #cac9c9; margin: 0 0 0 -1px;}
	.members ul li:first-child {border-right: 1px solid #cac9c9; border-left: 0;}
	.members ul li > .wrapper {padding: 10px 15px 15px 20px;}
	.members .media > .pull-left {width: 100px; height: 100px;}
	.members .media-body {padding-right: 30px;}
	.members .media-body p.text-right {font-size: 9px; margin-top: 16px; margin-right: -30px; text-transform: uppercase;}
	.members .media-body p.text-right span {font-size: 14px; display: block;}
	.active-organizations ul li > .wrapper {padding: 7px 10px 12px 20px;}
	.active-organizations .span8 h4,
	.active-organizations p {margin: 0;}
	.active-organizations .span8 {}
	.active-organizations .span8 .info {padding: 0 45px 16px 0; display: inline-block; position: relative;}
	.active-organizations .span8 .number {top: -4px; right: 0;}
	.active-organizations .span8 .btns {margin-right: -65px;}
	.active-organizations .span4 {text-align: right;}
	.group-1 .span4 {text-align: right;}
	.active-organizations .span4 p {font-size: 9px; line-height: 1.2; margin-top: 4px;}
	.group-1 .span4 p {font-size: 9px; line-height: 1.2; margin-top: 4px;}
	.active-organizations .span4 p:first-child {margin-top: 0;}
	.group-1 .span4 p:first-child {margin-top: 0;}
	.active-organizations .span4 .clrt-1 {display: block; margin: 0; font-size: 14px;}
	.group-1 .span4 .clrt-1 {display: block; margin: 0; font-size: 14px;}
.block-7 .row-fluid {padding: 15px 0; border-top: 1px solid #cac9c9;}
	.block-7 .span4 > .wrapper,
	.block-7 .span5 > .wrapper {padding: 0 0 0 20px;}
	.block-7 .span7,
	.block-7 .span8 {position: relative;}
	.block-7 .span8 > .wrapper {padding: 0 38px 0 20px;}
	.block-7 .span7 > .wrapper {padding: 0 20px 0 5px;}
	.block-7 .media {margin-bottom: 15px;}
	.block-7 .media > .pull-left {width: 37px; height: 37px; margin-top: 2px; margin-right: 10px;}
	.block-7 .icon-quote-left,
	.block-7 .icon-quote-right {position: absolute; top: 0; font-size: 14px;}
	.block-7 .icon-quote-left {left: 0;}
	.block-7 .icon-quote-right {right: 20px;}
	.qas .span8 > .wrapper {padding: 0 20px 0 52px;}
	.qas .span8 p {font-size: 18px;}
	.featured-comment .span8 p {font-size: 14px;}
	.featured-comment .span8 p {font-size: 14px;}
	.comments .span5 .media {margin-bottom: 12px; position: relative;}
	.comments .span5 .media > .pull-left {margin-bottom: 12px;}
	.comments .span5 .media-body {clear: both; margin: 0;}
	.comments .span7 .media {margin-bottom: 6px;}
	.comments .span7 .media > .pull-left {width: 130px; height: 84px;}
	.comments .number {right: 8px; top: 0;}
	.comments h4 {font-size: 18px; font-weight: normal; color: #ff9300; margin-top: 0; margin-right: 70px;}
	.comments p {color: #999; line-height: 1.2; margin: 0 0 6px;}
	.comments .time {color: #999;}
	.comments .time {position: absolute; top: 2px; right: 20px;}
	.comments > .text-right {padding: 15px 20px; border-top: 1px solid #cac9c9;}
	
	.comments .btns .btn {padding-left: 5px; padding-right: 6px;}/*lnx*/

.followers ul {margin: 0;}
	.followers ul li {padding: 10px; border-top: 1px solid #cac9c9;}
	.followers ul li:first-child {border-top: none;}
	.followers .media {padding-right: 40px; position: relative;}
	.followers .media > .pull-left {width: 60px; height: 60px;}
	.followers .media .number {top: 0; right: 10px;}
	.followers .media .media-body p {line-height: 1.3;}

.style-2 .resources .row .span4 {width: 279px;}
	.style-2 .resources li {border-top: 1px solid #cac9c9; padding: 20px 20px 30px; margin: 0;}
	.style-2 .resources .heading a {text-decoration: underline;}
	.style-2 .resources .thumbnails {margin: 0;}
	.style-2 .resources .item,
	.style-2 .resources figure {width: 246px; height: 160px; margin: 3px 20px 0 0; overflow: hidden; float: left;}
	.style-2 .resources figure img {width: 100%; max-width: 100%;}
	.style-2 .resources .thumbnail > .row {clear: both;}
/*	.style-2 .resources .caption {min-height: 165px; padding: 0 0 0 270px;}
	.ie7 .style-2 .resources .caption {min-height: 165px; padding: 0 0 0 20px;}*/
	.style-2 .resources .caption h4 {font-size: 18px; margin: 0 0 10px;}
	.style-2 .resources .caption p {margin: 0 0 10px;}
	.style-2 .resources .caption p {margin: 0 0 10px; color: #999;}
	.style-2 .resources .row > .span4 p {color: #ff9300; margin: 5px 0 0;}
	.style-2 .resources .row > .span4:first-child {width: 250px;}
	.style-2 .resources .row > .span4:first-child > p {margin: 0;}
	.style-2 .resources .row > .span4:first-child > p > a {background: #00c4dc; border: 0; color: #fff; text-shadow: none; line-height: 1.4; float: left; margin: 2px 0 0 1px; padding: 2px 5px 0 4px; text-transform: capitalize;}
	.style-2 .resources .row > .span4:first-child > p > a:hover {text-decoration: none; background-color: #23def5;}
	.style-2 .resources .row > .span4:first-child > p > a:first-child {margin-left: 0;}
	.style-2 .resources-1 .media > .pull-left {width: 60px; height: 60px;}
	.style-2 .resources-1 .media-body {margin-top: 7px;}
.create-group .form-1 {margin: 0;}
	.create-group .block-1 {padding: 15px 20px 7px; border-top: 1px solid #cac9c9;}
	.create-group .block-1 .row {margin: 0;}
	.create-group .block-1 .btn {margin: 0 0 0 15px; padding-top: 5px; padding-bottom: 3px;}
	.create-group .block-1 #add-membertags {text-transform: uppercase;}
	.create-group .form-1 .block-1 .width-2 {width: 390px !important;}
	.create-group .form-1 .block-1 .width-4 {width: 460px;}
	.create-group .form-1 .block-1 .width-5 {width: 381px;}
	.create-group .form-1 .block-1 .width-6 {width: 464px;}
	.create-group .block-1 textarea {width: 564px;}
	.create-group .block-1 label {color: #ff9300; text-transform: uppercase; margin: 3px 0;}
	.create-group .block-1 input[type="text"] {height: 15px; line-height: 15px;}
	.create-group .block-1 .tag-block .pull-left,
	.create-group .block-1 .tag-block .pull-right {float: none;}
	.create-group .block-1 .tag-block .btn {background-color: #a1a6a6; font-size: 10px; float: left;}
	.create-group .block-1 .tag-block .btn:hover {background-color: #bbb;}

	.create-group .block-1 .note {padding: 0; margin-bottom: 5px; clear: both;}
	.create-group .block-1 .pull-right a {margin: 0 10px 10px 0;}
	.create-group .block-1 .featured {margin-bottom: 5px;}
	.create-group .featured .pull-left {display: none;}
	.create-group .featured .checkbox.pull-left {display: block;}
	.ie7 .create-group .featured .checkbox.pull-left input,
	.ie8 .create-group .featured .checkbox.pull-left input,
	.ie9 .create-group .featured .checkbox.pull-left input {margin-top: 0px;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.create-group .featured .checkbox.pull-left input {margin-top: 2px;}
	}
	.create-group .featured .pull-right {margin-bottom: 10px; margin-left: 10px;}
	.create-group .featured .pull-right label {display: block;}
	.create-group .featured .input-append {margin: 0 0 0 5px;}
	.create-group .featured .input-append input {border-radius: 0; width: 97px !important;}
	.create-group .featured .input-append a {min-width: 30px !important; height: 15px; line-height: 15px; color: #636363; margin-left: -1px; background-color: #f5f5f5;
		background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
		background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
		background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
		background-repeat: repeat-x;
		border-color: #e6e6e6 #e6e6e6 #bfbfbf;
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		border: 1px solid #cccccc;
		}
	.create-group .options ul {overflow: hidden;}
	.create-group .options li {padding: 0 30px 0 0; float: left;}
	.create-group .options li > label {width: 70px; padding: 3px 7px 0 0; line-height: 1.2; float: left;}
	.create-group .options .radio-group {float: left; overflow: visible;}
	.create-group .options .radio {color: #636363; text-transform: capitalize; margin-bottom: 9px;}
	.create-group .options .radio input {margin-top: 2px;}
	.ie8 .create-group .options .radio input {margin-top: -1px;}
	.ie7 .create-group .options .radio input,
	.ie9 .create-group .options .radio input {margin-top: -2px;}
	.avatar-custom {margin-bottom: 7px !important;}
		.avatar-custom a {margin-top: 7px !important;}
		.avatar-custom label {margin-top: 10px !important;}
		.avatar-custom figure {width: 40px; height: 40px; float: left; margin-left: 18px;}

	#edit-field-logo {margin-bottom: 10px;}
		#edit-field-logo label {float: left; margin-right: 18px;}
		#edit-field-logo .form-managed-file {overflow: hidden;}
		#edit-field-logo .image-preview {float: left; margin: 1px 20px 0 0; width: 80px;}
		#edit-field-logo .image-preview img {width: 100%;}
		#edit-field-logo .image-widget-data {overflow: hidden;}
		#edit-field-logo .image-widget-data span {display: block; margin-bottom: 3px;}
		@media screen and (-webkit-min-device-pixel-ratio:0) {
			#edit-field-logo .image-widget-data span {margin-bottom: 2px;}
		}
		#edit-field-logo .form-submit {background: #ff9300; border: 0; padding: 5px 7px 3px;/* margin-top: 3px;*/ color: #fff; text-transform: uppercase; text-shadow: none; line-height: 1.4;}
		#edit-field-logo #uplogo,
		#edit-field-logo #edit-field-logo-und-0-upload-button,
		#edit-field-logo .description {display: none;}



.block.block-6 {border-top: 1px solid #cac9c9;}
	#sidebar .block.block-6 .wrapper {padding-bottom: 10px;}
	.block-6 .btns {margin-top: 0;}
	.block-6 .btn {padding-left: 6px; padding-right: 6px;}
	.block-6 .heading .title-2 {padding-top: 2px;}
	.block-6 .heading a {margin: 7px 0 0 10px; text-decoration: underline; display: inline-block;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.block-6 .heading a {margin-top: 5px;}
	}

.resource > .content {padding: 15px 10px 10px;}
	.resource .media {margin-bottom: 15px;}
	.resource .media > .pull-left,
	.resource .media > .item {width: 130px; height: 84px;}
	.resource ul.inline {margin: 0 0 0 10px;}
	.resource ul.inline li {padding: 0 3px;}
	.general-feed-page .resource ul.inline {margin: 0;}
	.resource .color-1 {text-decoration: underline;}
.latest-group .span4 .btn {min-width: 25px; margin-right: 4px;}
	.latest-group ul.inline {margin: 20px 0 0 -20px;}
	.latest-group ul li {padding: 0 0 0 20px;}
	.latest-group p {margin: 0;}
	.latest-group .clrt-1 {min-width: 22px; display: inline-block; text-align: right; margin: 0 2px 0 0;}
.activity ul {margin: 15px 0 0;}
	.activity ul li {padding: 0 10px;}
	.activity .media > .pull-left {width: 60px; height: 60px;}
	.activity-1 ul {margin-bottom: 12px;}
	.activity-1 ul li {margin-top: 20px;}
	.activity-1 ul li:first-child {margin-top: 0;}
#sidebar .messages > .content {padding-top: 20px;}
#sidebar .messages h4 {font-size: 18px; color: #ff9300; margin-top: 0;}
#sidebar .block.group-1 > .content {padding-top: 0;}
	.group-1 .info {margin-bottom: 15px; overflow: hidden;}
	.group-1 .info h4 {font-size: 14px; margin: 11px 0 0;}
	.group-1 .info p {margin: 0;}
	.group-1 .btn {padding-left: 5px;}

.latest-activities .row-fluid {padding: 5px 0; border-top: 2px solid #cac9c9;}
	.latest-activities .row-fluid .span8 {border-right: 1px solid #cac9c9;}
	.latest-activities .media {padding: 4px 35px 0 10px;}
	.latest-activities .media > .pull-left {width: 60px; height: 60px; margin-top: 2px;}
	.latest-activities .media-body {position: relative;}
	.style-2 .latest-activities .btns {margin-top: 0; margin-bottom: 3px;}
	.latest-activities .control-3 {padding: 0 10px 0 25px;}
	.latest-activities .time {position: absolute; top: -4px; right: 0; font-family: Arial; font-size: 10px; font-style: italic; color: #cac9c9;}

.messages-block .tabs-block {margin: 0 -1px;}
	.messages-block .tabs-block .media {padding-top: 9px;}
	.messages-block .tabs-block .nav-heading {padding-bottom: 83px;}
	.messages-block .tabs-block .tab-content {margin-top: -84px;}
	.messages-block .check {width: 30px; text-align: center; margin-top: 7px; float: left;}
	.messages-block li {overflow: hidden;}
	.messages-block li:first-child .media {border-top: none;}
	.messages-block li.last .media {background: url(../images/bgd-1.png) repeat-x 0 100%; padding-bottom: 14px;}
	.messages-block .media {margin-right: 9px;}
	.messages-block .media p {color: #999;}
	.messages-block .media > a.pull-left {margin-top: 1px;}
	.messages-block .media-body {position: relative;}
	.messages-block .media-body .links {margin-top: 3px !important; font-size: 10px;}
	.messages-block .time {position: absolute; right: 12px; top: 0; color: #999; text-transform: uppercase; font-size: 10px;}
	.messages-block .links a {text-decoration: underline;}
	.messages-block .form-horizontal .control-group {margin-bottom: 18px;}
	.messages-block .form-horizontal .control-label {width: 50px; font-size: 14px; color: #666;}
	.messages-block .form-horizontal .controls {margin-left: 57px;}
	.messages-block .form-horizontal .controls img {display: block;}
	.ie7 .messages-block .form-horizontal .controls > .btn {margin-left: 0;}
	.ie7 .messages-block .form-horizontal .controls > .checkbox {margin-left: -4px;}
	.ie7 .messages-block .form-horizontal .controls {margin-left: 0; display: inline-block; padding-left: 7px;}
	.ie7 .messages-block .form-horizontal .controls:first-child {padding-left: 57px;}
	.messages-block .form-horizontal .controls input {border-color: #a1a1a1; color: #333; font-style: normal;}
	.messages-block .form-horizontal .controls input.input-xlarge {width: 489px;}
	.messages-block .form-horizontal .checkbox {color: #666; padding-top: 0; margin-top: 15px; margin-bottom: 0;}
	.messages-block .form-horizontal .checkbox input {margin-top: 2px;}
	.ie7 .messages-block .form-horizontal .checkbox input,
	.ie8 .messages-block .form-horizontal .checkbox input,
	.ie9 .messages-block .form-horizontal .checkbox input {margin-top: 0;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.messages-block .form-horizontal .checkbox input {margin-top: 3px;}
	}
	.messages-block .form-horizontal .btns {margin-top: 7px;}
	.messages-block .form-horizontal input.btn {height: 30px; border-color: #b8b8b8;}
	.messages-block .form-horizontal .btn {margin-right: 6px;}
	.messages-block a.inactive,
	.messages-block .heading-inbox .span4 span a.inactive {color: #000; text-decoration: none; cursor: default;}
.messages-block-1 .tabs-block .nav-heading {padding-bottom: 0; border-bottom: 0;}
	.messages-block-1 .tabs-block .tab-content {margin: 30px 40px 0 20px; min-height: 1006px;}
.view-msg {padding-left: 57px;}
	.view-msg h3 {font-family: 'HelveticaBold'; font-size: 14px; color: #333; margin: 25px 0 10px;}
	.messages-block .view-msg .btns {margin-top: 0;}
	.view-msg .media {border-top: none;}
	.view-msg .media-body p {overflow: hidden;}
	.view-msg .media-body p span {display: block; color: #666; line-height: 1.3;}
	.view-msg .media-body p > span {float: left;}
	.view-msg .media-body p > span:first-child {width: 45px;}
.msg-content {border: 1px solid #a1a1a1; padding: 10px; margin: 13px 0 32px;}
	.msg-content p {margin: 15px 0 0;}
	.msg-content p:first-child {margin: 0;}


.heading-inbox {padding: 8px 10px;}
	.heading-inbox .span4 p {margin: 0;}
	.heading-inbox .span4 span {font-size: 10px;}
	.heading-inbox .span4 span:first-child {min-width: 35px; padding-right: 7px; font-size: 10px; color: #666; display: inline-block;}
	.heading-inbox .span4 span a {padding: 0 3px; text-decoration: underline;}
	.heading-inbox .pagination {margin: 0;}
	.ie7 .heading-inbox .pagination {margin-bottom: 5px;}
	.heading-inbox .pagination a {font-family: Helvetica; padding-left: 14px; padding-right: 15px;}
	@media screen and (-webkit-min-device-pixel-ratio:0) {
		.heading-inbox .pagination a {padding-left: 15px;}
	}
	.heading-inbox .pagination i {font-size: 10px; margin-top: -2px; vertical-align: middle; display: inline-block;}
	.heading-inbox .pagination i.icon-arrow-left {margin-right: 8px;}
	.heading-inbox .pagination i.icon-arrow-right {margin-left: 8px;}
	.heading-inbox.heading-inbox-1 {padding: 7px 10px 3px;}
	.heading-inbox.heading-inbox-1 .span4 {margin-top: 36px;}

.messages.status {margin-bottom: 20px;}
	.messages.status p span {font-size: 16px; background-color: #3a87ad; border-radius: 4px; color: #fff; padding: 3px 10px; display: inline-block;}

/* edit bookmark */
.energy-groups .popover {padding-bottom: 17px;}
.energy-groups .popover-content {padding-top: 0;}
.energy-groups .edit-bookmark-block li {padding-top: 3px; overflow: hidden;}
.energy-groups .edit-bookmark-block li > span {font-family: 'HelveticaRegular'; font-size: 14px; color: #666; width: auto;}
.edit-bookmark-block .col-1 {width: 135px !important; padding-top: 7px !important; padding-right: 0 !important;}
.edit-bookmark-block .col-2 {padding-top: 7px; padding-bottom: 5px;}
.edit-bookmark-block .col-2 a {margin: 0 5px; text-decoration: none; font-size: 14px; display: inline-block;}
.ie7 .edit-bookmark-block .col-2 a {margin: 0 2px;}
.edit-bookmark-block .col-3 {margin-left: 10px;}
.edit-bookmark-block .col-3 a {text-decoration: none; font-size: 16px;}
.edit-bookmark-block .col-3 input {margin-bottom: 0; width: 185px; font-size: 14px;}

/* header */
.style-2 .header {margin-left: -30px; margin-right: -30px; position: relative; z-index: 100;}
	.style-2 .header > .wrapper {width: 940px; padding: 0 30px; background-color: #ff9300; border-width: 1px 0; border-style: solid; border-color: #000; /*overflow: hidden;*/}
	.style-2 .header > .wrapper:first-child {/*background: url(../images/bgd-header-2.png) no-repeat; */ background-color: #fff; border: none;}
	.style-2 .header h1 {margin: 20px 0 10px; overflow: hidden;}
	.style-2 .header .brand {width: auto; height: auto; margin: 0; background: none; text-indent: 0;}
	.style-2 .nav-pills {margin: 0; padding: 0; background: none;}
	.style-2 .nav-pills > li > a {font-family: 'HelveticaRegular'; font-weight: normal; color: #fff; text-transform: capitalize; padding: 15px 0; border-radius: 0;}
	.style-2 .nav-pills > li.active > a,
	.style-2 .nav-pills > li > a:hover {color: #fff !important; background-color: transparent !important;}
	.style-2 .header .form-search {margin: 6px 0 0;}
	.style-2 .header .form-search input[type="text"] {width: 175px; border-color: #858481; border-radius: 8px/10px;}
	.style-2 .header .form-search .btn {margin-left: 12px; height: 30px; overflow: visible;}
	.header .span6 > .text-right {margin: 14px 20px 0 0; font-size: 14px;}
	.header .span6 > .text-right a {text-decoration: none;}
	.header .span6 > .text-right i {margin-right: 5px;}
.control-user {text-align: right; margin: 37px 0 0; float: right; list-style: none;}
	.control-user li {padding: 0 10px; float: left;}
	.control-user .popover {max-width: 300px;}
	.control-user li .popover-content li {float: none;}
	.control-user li > a {font-size: 15px; text-decoration: none;}
	.control-user .last a.color-1 {background: url(../images/line-1.png) no-repeat 0 1px; padding: 0 0 0 18px;}
	/*.control-user a span {text-decoration: underline;}*/
	.control-user i {margin-right: 10px;}
	.control-user .popover .btn {padding-top: 2px; padding-bottom: 2px;}
	.control-user .popover-content .media {margin-bottom: 7px;}
	.control-user .popover-content .media > .pull-left {width: 40px; margin-right: 10px;}
	.control-user .popover-content .media-body {margin-top: 11px;}
	.control-user .popover-content h4 {font-size: 14px;}
	.control-user .popover-content p {margin: 0; color: #666;}
	.control-user .popover-content p a {font-size: 12px;}
	.control-user .popover-content .btns.text-right {margin: 5px 0 0;}
	.control-user .popover-content .time {position: absolute; top: 0; right: 20px; font-size: 10px; color: #666;}
	.control-user .popover-content .square {position: absolute; top: 20px; right: 20px; width: 20px; height: 20px; background-color: #ccc;}
	.control-user li.item-2 .popover-content,
	.control-user li.item-3 .popover-content {padding: 0;}
	.control-user li.item-2 .popover-content li,
	.control-user li.item-3 .popover-content li {padding: 0 20px 0 0; position: relative; border-top: 1px solid #cac9c9;}
	.control-user li.item-1 .popover {padding-top: 10px; padding-bottom: 10px;}
	.control-user li.item-1 .popover-content li {padding: 2px;}
	.control-user li.item-1 .popover-title {display: none;}
	.control-user li.item-1 .popover-content {padding-top: 0;}
	.control-user li.item-2 .popover-content {padding-right: 0;}
	.control-user li.item-2 .popover-content li {padding-bottom: 5px;}
	.control-user li.item-2 .popover-content li > p {font-size: 12px;}
	.control-user li.item-2 .popover-content .media {margin-bottom: 2px;}
	.control-user li.item-2 .popover-content .media-body {margin-top: 14px;}
	.control-user li.item-3 .popover {padding-bottom: 10px;}
	.control-user li.item-3 .popover-title {padding-right: 120px; position: relative;}
	.control-user li.item-3 .popover-title .btn-primary {text-transform: capitalize; position: absolute; top: 10px; right: 20px;}
	.ie7 .control-user li.item-3 .popover-title .btn-primary {top: 8px;}
	.control-user li.item-3 .popover-title .btn-primary i {/*margin-top: -1px; display: inline-block;*/}
	.control-user li.item-2 .popover-content li:first-child,
	.control-user li.item-3 .popover-content li:first-child {border-top: none;}
.style-2 .heading .btn.pull-right {margin: 3px 0 0; padding-top: 3px; padding-bottom: 1px;}


input.hidden_elements {width: 0; display: none;}
.ajax-loading {text-align: center;}
.form-textarea-wrapper {margin-bottom: 15px;}

.overlay {width: 100%; height: 100%; position: fixed; display: none; top: 0; left: 0; background: rgba(0,0,0,0.1); z-index: 9999;}
.overlay .icon-loading {width: 80px; height: 80px; position: absolute; left: 50%; top: 50%; margin: -40px 0 0 -40px; background: none;}
.overlay .icon-loading span {background: url("../images/loading-3.gif") no-repeat scroll 50% 50% transparent; display: block; width: 80px; height: 80px;}
.style-2 .cke_skin_kama div.cke_dialog_ui_input_text,
.style-2 .cke_skin_kama div.cke_dialog_ui_input_password {padding-left: 5px; padding-right: 5px;}
.style-2 .cke_1_dialog input {margin: 1px 0; height: auto !important; box-shadow: none;}

/*--------- end new design ---------*/

@media screen and (max-width: 768px){
	.rule {display: none;}
}
