@charset "UTF-8";
html, body, div, span, embed, object, iframe, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, output, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, fieldset, legend, label, main, section, article, aside, canvas, details, summary, figure, figcaption, header, footer, hgroup, menu, nav, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
}
html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow-y: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: Arial;
  font-size: 25px;
  color: #9b9b9b;
  line-height: 1.6;
  background-color: white;
  -webkit-backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
main, section, article, aside, details, summary, figure, figcaption, header, footer, hgroup, menu, nav {
  display: block;
}
audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}
table, caption, tbody, thead, tfoot, tr, th, td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 1px solid #c0c0c0;
}
textarea {
  width: 100%;
  padding: 10px;
  overflow: auto;
  vertical-align: top;
  resize: none;
  border: 1px solid #ccc;
}
button, input, textarea, select, optgroup {
  color: inherit;
  font-family: inherit;
}
input, select {
  vertical-align: middle;
}
textarea, select, input[type="checkbox"] {
  -webkit-border-radius: 0;
          border-radius: 0;
}
.clickable, label, select, button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="file"],
input[type="checkbox"] {
  cursor: pointer;
}
.button, button,
[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  border: none;
  background: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: white;
  font-size: 25px;
}
.input,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="week"],
input[type="month"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 1px solid #a2a2a2;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background-color: #f7f7f7;
  font-size: 25px;
}
input[type="range"] {
  display: block;
  width: 100%;
  margin: 0;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0;
  padding: 0;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
sub,
sup {
  position: relative;
  line-height: 0;
  font-size: 75%;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}
b, strong, optgroup {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
small {
  font-size: 80%;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff0;
  color: #000;
  font-style: italic;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
code, kbd, pre, samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 1em;
}
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}
a {
  color: #dcb6e5;
  text-decoration: none;
}
a:visited {
  color: #dcb6e5;
}
a:hover {
  color: #dcb6e5;
}
a:active {
  color: #dcb6e5;
}
:focus {
  outline: 0;
}
img {
  max-width: 100%;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  clear: both;
}

/*IFRAME CONTENT*/
  .slider {
    width: 100%;
    overflow: hidden;
  }
  .product-list {
    position: relative;
  }
  .slick-list {
    position: relative;
    overflow: hidden;
  }
  .product-list {
    margin: 0 -5px;
  }
  .product-list .item {
    position: relative;
    float: left;
    width: 25%;
    text-align: center;
    padding: 0 5px;
    line-height: 0;
  }
  .product-list .item img {
    width: 100%;
  }
  .product-list .item .buy-now {
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 10px 15px;
    text-align: center;
    font: 14px Arial;
    text-transform: uppercase;
    color: black;
    white-space: nowrap;
    background-color: rgba(255,255,255,.7);
    border: 1px solid black;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
  }
  .product-list .item .buy-now {
      opacity: 0;
  }
  .product-list .item:hover .buy-now {
    opacity: 1;
  }
  @media (min-width: 1025px) {
    .product-list .item .buy-now:hover {
      background-color: white;
      -webkit-transition: background-color .5s ease;
      -moz-transition: background-color .5s ease;
      -ms-transition: background-color .5s ease;
      -o-transition: background-color .5s ease;
      transition: background-color .5s ease;
    }
  }
  @media (max-width: 767px) {
    .product-list .item {
      width: 50%;
    }
    .product-list .item .buy-now {
      padding: 5px;
    }
  }
  @media (max-width: 320px) {
    .product-list .item {
      width: 100%;
    }
  }

/*CONTROL SLIDER*/
  .slick-next {
    right: 10px;
    background: url("../images/next.png") no-repeat 50% 50%;
  }
  .slick-prev {
    left: 10px;
    background: url("../images/prev.png") no-repeat 50% 50%;
  }
  .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 1;
    width: 15px;
    height: 30px;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    background-size: 100% 100%;
    cursor: pointer;
  }
  .slick-dots {
    padding-top: 5px;
    font-size: 0;
    text-align: center;
  }
  .slick-dots li {
    display: inline-block;
  }
  .slick-dots li button {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    font-size: 0;
    background-clip: padding-box;
    background-color: black;
    border-radius: 50%;
    border: none;
  }
  .slick-dots .slick-active button {
    background-color: gray;
  }

/*POPUP*/
.product {
  float: left;
  width: 40%;
  padding-right: 50px;
}
.product > .name {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 60px;
}
.product > .price {
  font-weight: bold;
}
.details {
  float: right;
  width: 60%;
}
.add-to-list {
  padding-bottom: 45px;
  margin-bottom: 20px;
  border-bottom: 1px solid #a3a3a3;
}
.add-to-list .add-list-text {
  float: left;
  white-space: nowrap;
  height: 50px;
  line-height: 50px;
  padding-right: 30px;
}
.add-to-list .custom-select {
  overflow: hidden;
  position: relative;
}
.add-to-list .custom-select {
  height: 50px;
}
.add-to-list .custom-select span {
  display: block;
  height: 50px;
  padding-left: 25px;
  padding-right: 50px;
  line-height: 50px;
  border: 1px solid #a3a3a3;
}
.add-to-list .custom-select span:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  width: 34px;
  height: 34px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url("../images/arrow-down.png") 0 0 / 100% no-repeat;
}
.add-to-list .custom-select select {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 45px 0 20px;
  opacity: 0;
}
.comment-box {
  padding-bottom: 20px;
  overflow: hidden;
  max-height: 430px;
}
.comment-box .total-comment {
  padding-bottom: 30px;
  text-transform: uppercase;
}
.comment + .comment {
  padding-top: 25px;
  margin-top: 25px;
  border-top: 1px solid #a3a3a3;
}
.comment .avt {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 30px;
  border: 1px solid #979797;
}
.comment .desc {
  padding-top: 10px;
  overflow: hidden;
}
.comment .name {
  font-weight: bold;
}
.comment .text {
  line-height: 1.2;
}
.pink-btn {
  padding: 15px;
  margin-top: 50px;
  background-color: #dcb6e5;
  text-transform: uppercase;
}
.login-as {
  padding-bottom: 5px;
}
.input-wrap input {
  height: 80px;
  border-radius: 5px;
}
.comment-box .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  width: 16px;
  margin: 0;
  background-color: #d8d8d8;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.comment-box .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.comment-box .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar,
.comment-box .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.comment-box .mCS-3d-thick.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar { background-color: #d8d8d8; }
.comment-box .mCS-3d-thick.mCSB_scrollTools .mCSB_draggerContainer {
  box-shadow: none;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #efefef;
}
.comment-box .mCS-3d-thick.mCSB_scrollTools_vertical {
  box-shadow: none;
}
.comment-box .mCSB_inside > .mCSB_container {
  margin-right: 45px;
}


.promotion {
  width: 75%;
  float: left;
  padding-right: 90px;
}
.app {
  float: right;
  width: 25%;
}
.app .thumb {
  margin-bottom: 50px;
}
.btn-fb {
  padding: 20px;
  margin-top: 55px;
  margin-bottom: 25px;
  background-color: #3b5998;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
}
