@charset "UTF-8";
/*IFRAME*/
.iframe-wrapper {
  position: relative;
  background: url('../images/loading.svg') 50% 20% / 50px no-repeat;
}
.iframe-wrapper iframe {
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
  -ms-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.iframe-wrapper.show-iframe {
  background: transparent;
}
.iframe-wrapper.show-iframe iframe {
  opacity: 1;
}

#overlay-iframe {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background: rgba(0,0,0,.7) url("../images/loading.svg") 50% 30% / 50px no-repeat;
}
#popup-iframe.showed {
  opacity: 1;
  visibility: visible;
}
#popup-iframe {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  width: 1170px;
  height: 940px;
  opacity: 0;
  visibility: hidden;
  background-color: white;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity .5s ease, visibility .5s ease;
  -moz-transition: opacity .5s ease, visibility .5s ease;
  -ms-transition: opacity .5s ease, visibility .5s ease;
  -o-transition: opacity .5s ease, visibility .5s ease;
  transition: opacity .5s ease, visibility .5s ease;
}
#popup-iframe #close-popup {
  position: absolute;
  top: 35px;
  right: 35px;
  z-index: 11;
  width: 40px;
  height: 40px;
  background: white url("../images/icon-close.png") 0 0 / 100% no-repeat;
  cursor: pointer;
}
#popup-iframe iframe {
  width: 100%;
  height: 100%;
  padding: 70px 105px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
@media (max-width: 440px) {
  #popup-iframe {
    top: 0;
    left: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  #popup-iframe {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #popup-iframe #close-popup {
    right: 0;
  }
  #popup-iframe {
    height: 100%;
  }
}
@media (max-width: 1024px) {
  #popup-iframe {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
}
