include ../mixins/all

block vars
  -title = 'Site'
  -bodyClass = ''

doctype html
html(class="no-js", lang="en")
  head
    meta(charset="utf-8")
    //[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"><![endif]
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="robots", content="index, follow")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    link(rel="shortcut icon", href="images/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")
    //- link(rel="stylesheet", href="css/lang-cn.css")
    //- link(rel="stylesheet", href="css/lang-th.css")
    link(rel="stylesheet", href="css/print.css", media="print")
    script(src="js/modernizr.js")
    script(src="https://apis.google.com/js/platform.js")
    | <script type="text/javascript">
    |   // First, load the widgets.js file asynchronously
    |   window.twttr = (function(d, s, id) {
    |     var js, fjs = d.getElementsByTagName(s)[0],
    |       t = window.twttr || {};
    |     if (d.getElementById(id)) return;
    |     js = d.createElement(s);
    |     js.id = id;
    |     js.src = '//platform.twitter.com/widgets.js';
    |     fjs.parentNode.insertBefore(js, fjs);
    |     t._e = [];
    |     t.ready = function(F) {
    |       t._e.push(F);
    |     };
    |     return t;
    |   }(document, 'script', 'twitter-wjs'));

    |   (function(d, s, id){
    |     var js, fjs = d.getElementsByTagName(s)[0];
    |     if (d.getElementById(id)) {return;}
    |     js = d.createElement(s); js.id = id;
    |     js.src = '//connect.facebook.net/en_US/all.js';
    |     fjs.parentNode.insertBefore(js, fjs);
    |   }(document, 'script', 'facebook-jssdk'));
    |   window.fbAsyncInit = function() {
    |          // init the FB JS SDK
    |          FB.init({
    |            appId      : '1643609229215769',  // App ID from the app dashboard
    |            status     : true,  // Check Facebook Login status
    |           xfbml      : true  // Look for social plugins on the page
    |          });
    |        }
    | </script>
  body(class=bodyClass)
    #container
      include ../blocks/header
      block container
      include ../blocks/footer
    block modal
    include ../blocks/script
    noscript JavaScript is off. Please enable to view full site.
