include ../mixins/all
block vars
  -title = 'Template'

doctype html
html(class="no-js", lang="en")
  head
    meta(charset="utf-8")
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="robots", content="noindex, nofollow")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, minimal-ui")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css")
    //[if lte IE 9]><link rel="stylesheet" href="css/ie.css"><![endif]
    link(rel="stylesheet", href="css/print.css", media="print")
    style.
      #template {margin: 20px; background: #eee;}
      h2 {margin: 20px 0; border-bottom: 1px solid #ccc; font-weight: normal;}
      .group-1 {overflow: hidden;}
    script(src="js/modernizr.js")
  body#template
    block container
    include ../blocks/script
    //[if lt IE 8]><p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]
    noscript JavaScript is off. Please enable to view full site.
