.main {
  padding-top: 50px;
}
.fake-select{
  margin: 5px;
}

.fake-select:hover{
  cursor: pointer;
}

.fake-select dt{
  font-weight: bold;
}

.fake-select dt:hover{
  cursor: default;
}

.select-interface{
  border: 1px solid #BDBDBD;
  border-radius: 5px;
}

.select-interface:hover{
  border: 1px solid #2EFEF7;
}

.select-interface:hover .select-arrow{
  background: #CEF6F5;
  border-left: 1px solid #2EFEF7;
  border-radius: 0 5px 5px 0;
  color: black;
}

.select-arrow{
  font-weight: bold;
  float: right;
  height: 100%;
  display: inline-block;
  text-align: center;
  width: 20%;
  color: #6E6E6E;
  font-size: 13px;
}

.select-val{
  display: inline-block;
  float: left;
  border-radius: 5px 0 0 5px;
  height: 100%;
  line-height: 100%;
  width: 70%;
  overflow: hidden;
  padding-left: 3px;
}

.fake-select dd:hover{
  /*background: #2E64FE;*/
}

.drop-down{
  position: absolute;
  z-index: 100;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-top: 1px solid #848484;
  border-left: 1px solid #848484;
  background: white;
}
