// -ms-transition:
// -webkit-transition:
// -moz-transition:
// transition:
@font-face {
  font-family: 'hoa';
  src: url('./../fonts/hoa.ttf') format('truetype');
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#container {
  width: 100%;
  height: 100%;
}
.slide-container {
  width: 100%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.btn-wrap {
  width: 15%;
  height: 25%;
  position: absolute;
  right: 0;
  bottom: 10%;
  z-index: 2000;
}
.bg {
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}
.btn:hover {
  text-shadow: 0px 0px 5px white;
  cursor: pointer;
}
.btn, .label.splash {
  color: white;
  font-family: hoa;
  font-size: 5vmin;
  position: absolute;
}
.label.splash {
  font-size: 5vmin;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.btn.next {
  right: 0;
  bottom: 0;
}
.btn.prev {
  left: 0;
  top: 0;
}
.btn.next:before {
  content: '\e802';
}
.btn.prev:before {
  content: '\e801';
}
.label.splash:before {
  content: '\e803';
}
.slider {
  width: 100%;
  height: 90%;
  position: absolute;
}
.slider img {
  width: 100%;
  height: 100%;
}
.pos-left {
  left: -100%;
}
.pos-right {
  left: 100%;
}
.pos-middle {
  left: 0;
  opacity: 1;
}
.pos-below {
  opacity: 0;
}
.pos-above {
  opacity: 0;
}
.hide {
  display: none;
}
.visible {
  display: block;
}
div.navigator {
  width: 100%;
  height: 9%;
  position: absolute;
  top: 91%;
  left: 0;
  vertical-align: bottom;
}
.navigator .bg {
  border-radius: 5px;
}
div.navigator a {
  display: inline-block;
  margin-left: 5px;
  font-size: 3vmin;
  // color: white;
  text-decoration: none;
  vertical-align: middle;
}
div.navigator a.selected {
  color: red;
  font-weight: bold;
  font-size: 4vmin
}
