// Structure
#container {
  margin: 0 auto;
  width: 980px;  
}
#header {
  .logo {
    font-size: 30px;
    opacity: 0.5;
  }
  nav {
    margin: 5px 0;
    padding: 10px;
    height: 14px;
    border: 1px solid #ddd;    
    border-radius: 3px;
    box-shadow: 0 1px 1px;
    li {
      float: left;
      padding: 0 5px;
    }
    .active a {
      color: gray;
    }
  }
}
#main {
  margin: 5px 0;
  padding: 10px;
  min-height: 500px;  
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 1px;
}
#footer {
  padding: 10px;  
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: 0 1px 1px;
}
